﻿<div class="row general-container">
    <div class="col-md-4 blue-column">
        <figure class="logo-page">
            <img src="/AngularSrc/assets/images/logo-blanco.png" width="120" height="44" />
        </figure>
        <h1>{{'SHARED.FISCAL_MANAGEMENT_DIVISION_TITLE' | translate}}</h1>
        <h2><span>{{'SHARED.FISCAL_SUSTAINNABILITY_TITLE' | translate}}</span></h2>
    </div>

    <div class="col-md-8 content-column">
        <div class="row">
            <header class="col-md-12 signin-container">
                <div class="signin-box">
                    <span class="sign-in-button">{{'LOGIN.REGISTER_LABEL' | translate}}</span>
                    <a class="register-button">{{'LOGIN.REGISTER_BUTTON' | translate}}</a>
                </div>
            </header>
            <div class="col-md-12 center-column login vertical-centered">
                <div class="form">
                    <div class="titles">
                        <h1>{{'LOGIN.TITLE' | translate}}</h1>
                        <p>{{'LOGIN.TITLE_TYPE' | translate}}</p>
                    </div>
                    <div class="form-fields">
                        <div class="button btn-blue" (click)="loginUser()">
                            <a>{{'LOGIN.LOGIN_BUTTON' | translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>