﻿<header class="header-box">
    <ul class="profile-help">
        <li><a class="user" routerLink="/perfil">{{username}}</a></li>
        <li><a class="help" routerLink="/ayuda">{{'SHARED.HELP' | translate}}</a></li>
    </ul>
    <div class="logo">
        <figure>
            <img src="/AngularSrc/assets/images/logo-blanco-chico.png" width="87" height="32" *ngIf="language?.encodedName !='en'"/>
            <img src="/AngularSrc/assets/images/logo-ingles.png" width="87" height="32" *ngIf="language?.encodedName ==='en'"/>
        </figure>
    </div>
    <div class="header-tabs">
        <ul class="nav nav-tabs">
            <li><a routerLink="/aproximacion-inercial">{{'MFMP.TITLE_INITIALS' | translate}}</a></li>
            <li><a routerLink="/aproximacion-estandar">{{'ASD.TITLE_INITIALS' | translate}}</a></li>
        </ul>
    </div>
</header>

<div class="content-wrap">
    <div class="content-container-wrap-diferent-4">
        <div class="content-container">
            <div class="col-md-6 help-text-container">
                <div class="help-text-tilte-container">
                    <h1 class="help-text-tilte-box">{{'GENERAL_HELP.MAIN_TITLE' | translate}}</h1>
                </div>

                <div class="help-text-rectangle-container">
                    <h1 class="help-text-rectangle-title-box">{{'GENERAL_HELP.PROBLEM_QUESTION' | translate}}</h1>
                    <p class="help-text-rectangle-box">{{'GENERAL_HELP.PROBLEM_CONTACT' | translate}}:<a class="help-text-blue-box">SOFIS@iadb.org</a></p>
                </div>

                <div class="help-text-container-box">
                    <h1 class="help-title-box">{{'GENERAL_HELP.TITLE-1' | translate}}</h1>
                    <p class="help-text-box">
                            {{'TEXTS.HELP_PARRAGRAPH_1' | translate}}
                    </p>
                        <h1 class="help-title-box">>{{'GENERAL_HELP.TITLE-2' | translate}}
                    </h1>

                    <p class="help-text-box">
                            {{'TEXTS.HELP_PARRAGRAPH_2' | translate}}<a href="/AngularSrc/assets/docs/IADB_SOFIS_Manual_de_Uso.pdf" target="_blank">{{'SHARED.SOFIS_MANUAL' | translate}}.</a>
                    </p>

                    <h1 class="help-title-box">>{{'GENERAL_HELP.TITLE-3' | translate}}</h1>

                    <p class="help-text-box">
                            <span [innerHtml]="help_text_link"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>