﻿body {
    background: #f7f7f7;
    font-family: 'Roboto', sans-serif;
}

ul {
    margin-bottom: 0;
}

a, a:hover {
    text-decoration: none;
}

.form-control {
    color: #3A3A3A;
    border: 1px solid #CCC;
    border-radius: 3px;
    height: 51px;
    margin-bottom: 20px;
}

a.form-control::after {
    content: url("/AngularSrc/assets/images/dropdown-arrow.png");
    float: right;
    position: relative;
    top: 8px;
}

.dropdown-menu {
    border: 1px solid #E6E6E6;
    border-radius: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    margin: -1px 0 0;
    min-width: 100%;
}

.header-box .dropdown-menu a,
.header-box .dropdown-menu a:hover {
    color: #3A3A3A;
}

.dropdown-item:active {
    background: #E7EAEC;
    color: #3A3A3A;
}
.header-box {
    background: #004E70;
    color: #fff;
    min-height: 163px;
    padding: 10px 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

    .header-box a,
    .header-box a:hover {
        color: #fff;
    }

    .header-box .profile-help {
        text-align: right;
        width: 100%;
    }

        .header-box .profile-help li {
            display: inline-block;
            margin-left: 25px;
        }

            .header-box .profile-help li a,
            .header-box .profile-help li a:hover {
                color: #fff;
                font-size: 13px;
                font-weight: normal;
            }

                .header-box .profile-help li a.user::before,
                .header-box .profile-help li a.help::before {
                    line-height: 15px;
                    padding-right: 6px;
                    position: relative;
                    top: 3px;
                }

                .header-box .profile-help li a.user::before {
                    content: url(/AngularSrc/assets/images/user.png);
                }

                .header-box .profile-help li a.help::before {
                    content: url(/AngularSrc/assets/images/icon-help.png);
                }

    .header-box .logo {
        float: left;
        margin-top: 10px;
    }

        .header-box .logo figure {
            display: inline-block;
            line-height: 60px;
            margin-bottom: 0;
        }

.header-tabs {
    float: left;
    margin-left: 450px;
    text-align: center;
}

.nav.nav-tabs {
    border-bottom: none;
    height: 45px;
}

    .nav.nav-tabs li {
        border: 1px solid #089EF9;
        height: 45px;
        text-align: center;
        width: 140px;
    }

        .nav.nav-tabs li:first-child {
            border-radius: 5px 0 0 5px;
        }

        .nav.nav-tabs li:last-child {
            border-radius: 0 5px 5px 0;
        }

        .nav.nav-tabs li a {
            color: #089EF9;
            display: block;
            font-size: 20px;
            line-height: 45px;
            text-transform: uppercase;
        }

.header-box .add-data {
    height: 30px;
    margin-top: 45px;
    float: right;
}

    .header-box .add-data:hover {
        cursor: pointer;
    }

    .header-box .add-data .form-control {
        background: none;
        border: 1px solid #fff;
        border-radius: 5px;
        color: #fff;
        font-size: 14px;
        text-align: center;
        height: 30px;
        line-height: 28px;
        margin-bottom: 0;
        padding: 0 0 0 0px;
        width: 185px;
    }

        .header-box .add-data .form-control::after {
            content: url(/AngularSrc/assets/images/dropdown-arrow-white.png);
            float: right;
            position: relative;
            top: 0;
            right: 10px;
            border-left: 1px solid #fff;
            padding-left: 10px;
        }

.content-wrap {
    height: 100%;
    overflow: auto;
    margin-top: 240px;
}

.help-text-container {
    position: relative;
    margin: 0 auto;
    height: 100%;
}

    .help-text-container .help-text-tilte-container {
        position: relative;
        height: auto;
    }

        .help-text-container .help-text-tilte-container .help-text-tilte-box {
            margin: 0;
            color: #3A3A3A;
            font-size: 24px;
            font-weight: 500;
        }

    .help-text-container .help-text-rectangle-container {
        border: 1px solid #E6E6E6;
        background-color: #FFF;
        padding: 30px;
        margin-top: 40px;
    }

        .help-text-container .help-text-rectangle-container .help-text-rectangle-title-box {
            font-size: 14px;
            font-weight: 600;
            color: #000;
            margin: 0;
        }

        .help-text-container .help-text-rectangle-container .help-text-rectangle-box {
            color: #3A3A3A;
            font-size: 14px;
            font-weight: 600;
            margin: 0;
            opacity: 0.8;
        }

        .help-text-container .help-text-rectangle-container .help-text-blue-box {
            opacity: 1;
            color: #007bff;
            padding-left: 10px;
        }

    .help-text-container .help-text-container-box {
        position: relative;
        float: left;
        margin-top: 40px;
    }

        .help-text-container .help-text-container-box .help-title-box {
            color: #000;
            font-size: 14px;
            font-weight: 600;
            margin: 0;
            margin-bottom: 20px;
        }

        .help-text-container .help-text-container-box .help-text-box {
            color: #3A3A3A;
            font-size: 14px;
            font-weight: 500;
            margin: 0;
            margin-bottom: 10px;
            opacity: 0.8;
        }