﻿/* You can add global styles to this file, and also import other style files */
@import "~handsontable/dist/handsontable.full.css";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

/*General*/
body {
  background: #f7f7f7;
  font-family: "Roboto", sans-serif;
}
th {
  padding: 0;
}
.ht-m {
  position: relative;
  z-index: 0;
}
.no-data p {
  color: #999;
  font-size: 30px;
  line-height: 39px;
  margin: 0;
}
.disabled {
  background-color: #858585 !important;
  cursor: none;
}

.spinner{
  width: 100px;
  height: 100px;
}

.cell-hover:hover {
  cursor: pointer;
  border: 1px solid #cbcbcb !important;
  border-radius: 2px !important;
  background-color: #ffffff !important;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2) !important;
}
.icon-container {
  visibility: hidden;
}
.subcategory-button {
  opacity: 0;
  z-index: 10;
  position: absolute;
  display: block;
  margin-right: 14px;
  margin-left: 134px;
  margin-top: 45px;
  width: 32px;
  height: 32px;
}
.subcategory-button :hover {
  cursor: pointer;
}

.button {
  border-radius: 5px;
  border: none;
  margin: 0 auto;
  text-align: center;
}

.button:hover {
  cursor: pointer;
  opacity: 0.4;
}

a,
a:hover {
  text-decoration: none;
}

.form-control {
  color: #3a3a3a;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 51px;
  margin-bottom: 20px;
}

.dropdown-menu {
  border: 1px solid #e6e6e6;
  border-radius: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin: -1px 0 0;
  min-width: 100%;
}

.dropdown-item:active {
  background: #e7eaec;
  color: #3a3a3a;
}

.content-wrap {
  height: 100%;
  overflow: auto;
  margin-top: 240px;
}

.filter-bar {
  background: #f7f7f7;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  color: #999;
  float: left;
  font-size: 13px;
  padding: 23px 50px;
  position: fixed;
  top: 163px;
  width: 100%;
  z-index: 1;
}

.filters * {
  line-height: 30px;
  vertical-align: middle;
}

.filters h2 {
  color: #3a3a3a;
  float: left;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: bold;
}

.filters label {
  display: inline;
}

.filters .filter-option {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.filters .filter-option .form-control {
  display: inline-block;
  width: auto;
}
.filters .filter-option label {
  margin: 0 5px;
}

.filters .dropdown {
  display: inline-block;
}

.filters .form-control {
  font-size: 13px;
  height: 30px;
  line-height: normal;
  margin-bottom: 0;
  min-width: 65px;
}

.sub-category-container {
  height: 400px;
  width: 350px;
  border: 1px solid #e6e6e6;
  background-color: #e7eaec;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 32px;
  position: relative;
  top: 74px;
  display: none;
}

.sub-category-container .sub-category-top-box,
.sub-category-container .sub-category-second-box,
.sub-category-container .sub-category-third-box,
.sub-category-container .sub-category-bottom-box {
  position: relative;
  float: left;
  height: 70px;
}

.sub-category-bottom-box .button-add {
  height: 30px;
  width: 280px;
  border-radius: 5px;
  background-color: #089ef9;
  color: #fff !important;
  font-size: 13px;
  font-weight: 500;
  padding: 10px 118px;
  line-height: 70px;
}

.sub-category-container .sub-category-top-box select,
.sub-category-container .sub-category-second-box select,
.sub-category-container .sub-category-third-box .container {
  position: relative;
  box-sizing: border-box;
  height: 31px;
  width: 281px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  margin: 0;
  padding: 0;
  margin-top: 5px;
}

.sub-category-container .sub-category-top-box .sub-category-top-title,
.sub-category-container .sub-category-second-box .sub-category-second-title,
.sub-category-container .sub-category-third-box .sub-category-third-title {
  color: #3a3a3a;
  font-size: 13px;
  margin: 0;
  position: relative;
}

.dropdown-subcategory {
  cursor: pointer;
  min-width: 100px;
  position: relative;
  top: 136px;
  left: 306px;
}

.dropdown-item-hide {
  display: none;
}

.table-data .handsontable {
  color: #999;
  font-size: 13px;
}

.table-data .handsontable th {
  background-color: #e7eaec;
  color: #3a3a3a;
  font-weight: bold;
  white-space: pre-line;
  vertical-align: middle;
}

.table-data .ht_clone_top th,
.table-data .ht_clone_left th,
.table-data .ht_master th,
.table-data .ht_clone_top_left_corner th {
  border: 1px solid #ccc;
}

.table-data .ht_master tr > td,
.table-data .ht_clone_left tr > td,
.table-data .ht_clone_top tr > td,
.table-data .ht_clone_top_left_corner tr > td {
  text-align: center;
  vertical-align: middle;
  border-bottom: none;
  border-right: 1px solid #ccc;
  min-width: 150px;
}

.table-data .ht_master tr > td.text-bold,
.table-data .ht_clone_left tr > td.text-bold,
.table-data .ht_clone_top tr > td.text-bold,
.table-data .ht_clone_top_left_corner tr > td.text-bold {
  color: #3a3a3a;
  font-weight: 700;
}

.table-data .ht_master tr > td:first-child,
.table-data .ht_clone_left tr > td:first-child,
.table-data .ht_clone_top tr > td:first-child,
.table-data .ht_clone_top_left_corner tr > td:first-child {
  color: #3a3a3a;
  font-weight: 700;
  min-width: 280px;
  text-align: center;
  padding: 2px 20px;
  height: 25px !important;
}

.table-data .ht_master tr:nth-of-type(even) > td,
.table-data .ht_clone_left tr:nth-of-type(even) > td,
.table-data .ht_clone_top tr:nth-of-type(even) > td,
.table-data .ht_clone_top_left_corner tr:nth-of-type(even) > td {
  background-color: #f7f7f7;
}

.table-data .ht_master tr:nth-of-type(odd) > td,
.table-data .ht_clone_left tr:nth-of-type(odd) > td,
.table-data .ht_clone_top tr:nth-of-type(odd) > td,
.table-data .ht_clone_top_left_corner tr:nth-of-type(odd) > td {
  background-color: #fff;
}

.table-data .ht_master tr > td.future,
.table-data ht_clone_top tr > td.future,
.table-data .ht_clone_left tr > td.future,
.table-data .ht_clone_top_left_corner tr > td.future {
  background-color: rgb(216, 240, 255) !important;
}

.table-data .htCore tr > th:first-child,
.table-data .ht_master > th:first-child,
.table-data .ht_clone_top > th:first-child,
.table-data .ht_clone_left > th:first-child,
.table-data .ht_clone_top_left_corner > th:first-child {
  height: 131px !important;
}

.table-data .htCore {
  border-bottom: 1px solid #ccc;
}

.table-data .handsontable thead th .relative {
  padding: 0;
  width: 100%;
  position: static;
}

.table-data .table-wrapper {
  width: 100%;
  overflow: hidden;
  margin-top: 5px !important;
  position: fixed;
  top: 320px;
  bottom: 0;
  word-break: break-word;
}

.table-data .wtHider {
  border-bottom: solid 5px #ccc;
}

/*  CONTEXT MENU */
.ngx-contextmenu .dropdown-menu {
  border: solid 1px rgb(0, 195, 255);
  background-color: rgb(201, 201, 201);
  padding: 0;
}
.ngx-contextmenu li {
  display: block;
  border-top: solid 1px chartreuse;
  text-transform: uppercase;
  text-align: center;
}
.ngx-contextmenu li:first-child {
  border-top: none;
}
.ngx-contextmenu a {
  color: chartreuse;
  display: block;
  padding: 0.5em 1em;
}
.ngx-contextmenu a:hover {
  color: darkgreen;
  background-color: chartreuse;
}

.year-selection-container {
  display: flex;
  width: 100%;
  align-items: center;
}
.year-selection-container .section-title {
  width: 106px;
  height: 19px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  color: #3a3a3a;
  margin-right: 50px;
  white-space: nowrap;
}
.years-container {
  display: inherit;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.custom-modal {
  top: 30% !important;
}

/deep/ .htcore td:hover {
  width: 123px;
  height: 21px;
  border-radius: 2px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #cbcbcb;
  background-color: #ffffff;
}
/deep/ .hover-input :hover {
  border: 1px solid #089ef9;
}
/*Modal*/
/* /deep/ .cat-modal {
    max-width: 700px !important;
    height: 790px;
}*/

/deep/ .cat-op-modal {
  max-width: 450px !important;
  height: 240px !important;
}
.modal-col-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  -ms-flex-direction: inherit;
  flex-direction: column;
  -ms-flex-pack: start;
  justify-content: center;
  -ms-flex-align: start;
  align-items: center;
  margin: 90px 0;
  width: 100%;
}
.modal-col-content .cat-input-label {
  width: 150px;
  height: 18px;
  font-family: Roboto;
  font-size: 15px;
  line-height: 1.5;
  color: #3a3a3a;
  display: flex;
  align-self: flex-start;
  margin-left: 88px;
}
.modal-col-content .cat-input {
  width: 500px;
  height: 50px;
  border-radius: 3px;
  border: solid 1px #cccccc;
  background-color: #ffffff;
  padding: 15px;
  display: flex;
  align-self: center;
}

/*Sdt Button*/
.button {
  border-radius: 5px;
  border: none;
  text-align: center;
  color: #fff !important;
  font-size: 16px;
  cursor: pointer;
  line-height: 32px;
}
.button:hover {
  cursor: pointer;
  opacity: 0.4;
}

.btn-blue {
  background-color: #089ef9;
  margin-top: 50px;
  padding: 7px 0;
  width: 240px;
}
/*COLUMNS*/
.custom-col-h {
  /*     z-index: 999;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center; */

  z-index: 999;
  width: 100% !important;
  height: 130px !important;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: center;
  align-self: center;
}
.shadow-header-col {
  box-shadow: inset 17px 0px 12px -10px rgba(126, 126, 126, 0.21);
}
.custom-col-h .img {
  content: url("/AngularSrc/assets/images/childs.png");
  width: 15px;
  height: 15px;
  position: absolute;
  margin: 24px 0 0 75px;
}

.title-0 {
  text-transform: uppercase;
  width: 64px;
  height: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #3a3a3a;
}
.title-1 {
  text-transform: uppercase;
  width: 90px;
  height: 24px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.09;
  letter-spacing: normal;
  text-align: center;
  color: #3a3a3a;
}
.title-2 {
  width: 50px;
  height: 11px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #3a3a3a;
}

.title-3 {
  width: 50px;
  height: 11px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: normal !important;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #3a3a3a;
}

.disabled {
  background-color: #858585 !important;
  cursor: none;
}

.button-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 16px;
}
