@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.arrow_box {
  position: relative;
  background: #88b7d5;
  border: 4px solid #c2e1f5;
}
.arrow_box:after,
.arrow_box:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #88b7d5;
  border-width: 30px;
  margin-top: -30px;
}
.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-right-color: #c2e1f5;
  border-width: 36px;
  margin-top: -36px;
}

.tp-container {
  display: flex;
  width: 100%;
  padding: 20px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.tp-container span {
  width: 302px;
  height: 66px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.38;
  color: #ffffff;
}

.tp-container .tp-button {
  cursor: pointer;
  display: inherit;
  padding: 7px 24px;
  width: 111px;
  height: 32px;
  border-radius: 5px;
  background-color: #0584d1;
  width: 63px;
  height: 18px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #ffffff;
}
