﻿/* You can add global styles to this file, and also import other style files */

@import "~handsontable/dist/handsontable.full.css";

/*General*/

body {
    background: #f7f7f7;
    font-family: "Roboto", sans-serif;
}

ul {
    margin-bottom: 0;
}

.dotted-separator {
    border-top: 2px dashed #3a3a3a !important;
}

.future-header {
    color: #089ef9;
    font-size: 13px;
    font-weight: 500;
    font-family: "Roboto" sans-serif;
    line-height: 1.46;
}

.table-variable .ht_master tr>td.firstfuture,
.table-variable .ht_clone_top tr>td.firstfuture,
.table-variable .ht_clone_left tr>td.firstfuture,
.table-variable .ht_clone_top_left_corner tr>td.firstfuture {
    border-left: 4px solid #089ef9 !important;
}

.future-header-border {
    border-left: 4px solid #089ef9 !important;
}

a,
a:hover,
a:active {
    outline: none;
    text-decoration: none;
}

strong {
    color: #3a3a3a !important;
}

.form-control {
    color: #3a3a3a;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 51px;
    line-height: 51px;
    margin-bottom: 20px;
    padding-top: 0;
}

.dropdown-menu {
    border: 1px solid #e6e6e6;
    border-radius: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    margin: -1px 0 0;
    min-width: 100%;
}

.dropdown-item:active {
    background: #e7eaec;
    color: #3a3a3a;
}

.row-editable {
    min-width: 70px;
}

.calltoaction {
    position: fixed;
    top: 245px;
    height: auto;
    z-index: 200;
    background-color: #f7f7f7;
    border-top: 1px solid #ccc;
    /*bottom: 0;*/
    left: 0;
    padding: 25px 0;
    text-align: center;
    width: 100%;
}

.content-wrap {
    height: 100%;
    overflow: auto;
}

.no-data p {
    color: #999;
    font-size: 30px;
    line-height: 39px;
    margin: 0;
}

.filter-bar {
    background: #f7f7f7;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    color: #999;
    float: left;
    font-size: 13px;
    padding: 23px 50px;
    position: fixed;
    top: 163px;
    width: 100%;
    z-index: 1;
}

.filters * {
    line-height: 30px;
    vertical-align: middle;
}

.filters h2 {
    color: #3a3a3a;
    float: left;
    font-size: 16px;
    margin-bottom: 0;
    font-weight: bold;
}

.filters label {
    display: inline;
    margin-right: 6px;
}

.filters .icon-info {
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

.filters .filter-option {
    float: left;
    margin-left: 20px;
    cursor: pointer;
}

.filters .filter-option .form-control {
    display: inline-block;
    width: auto;
}

.filters .dropdown {
    display: inline-block;
}

.filters .form-control {
    font-size: 13px;
    height: 30px;
    line-height: normal;
    margin-bottom: 0;
    min-width: 65px;
}

.filters a.icon-link {
    color: #999;
    display: inline-block;
    margin-right: 15px;
    padding-left: 35px;
}

.filters a.icon-link:last-child {
    margin-right: 0;
}

.filters a.icon-download:hover,
.filters a.icon-link.active {
    color: #089ef9;
}

.filters a.icon-graphics {
    background: url("/AngularSrc/assets/images/graficos-gris.png") 0 0 no-repeat;
}

.filters a.icon-graphics.active {
    background: url("/AngularSrc/assets/images/graficos-celeste.png") 0 0 no-repeat;
}

.filters a.icon-tables {
    background: url("/AngularSrc/assets/images/tablas-gris.png") 0 0 no-repeat;
}

.filters a.icon-tables.active {
    background: url("/AngularSrc/assets/images/tablas-celeste.png") 0 0 no-repeat;
}

.filters a.icon-download {
    background: url("/AngularSrc/assets/images/download.png") 0 50% no-repeat;
    color: #089ef9;
    padding-left: 24px;
}

.filters a.icon-link.button-rules {
    background: url(/AngularSrc/assets/images/rules.png) 15% 50% no-repeat;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    color: #999;
    margin-right: 0;
    padding-left: 50px;
    width: 130px;
}

table {
    background: #fff;
    color: #999;
    font-size: 13px;
}

table th {
    background-color: #e7eaec;
    border: 1px solid #ccc;
    color: #3a3a3a;
}

table th,
table td {
    padding: 10px 0;
    text-align: center;
    vertical-align: middle;
}

table td {
    border-right: 1px solid #ccc;
    min-width: 150px;
}

table td.text-bold {
    color: #3a3a3a;
    font-weight: bold;
}

table td:first-child {
    color: #3a3a3a;
    font-weight: 700;
    min-width: 280px;
    padding: 10px 20px;
    text-align: left;
}

.table-striped tbody tr:nth-of-type(odd) {
    background: #f7f7f7;
}

.modal-dialog {
    max-width: 400px;
}

#whatsthis .modal-dialog {
    max-width: 560px;
}

.modal-content {
    border: 1px solid #e6e6e6;
    border-radius: 0;
    color: #999;
    font-size: 13px;
}

.modal-header,
.modal-body {
    padding: 0;
}

.modal-header {
    border: none;
}

.modal-title {
    color: #3a3a3a;
    font-weight: 300;
}

.whats-this {
    font-size: 14px;
}

.whats-this .modal-header {
    background: #089ef9;
    font-size: 18px;
    font-weight: 500;
    padding: 80px 40px 20px;
}

.whats-this .modal-title {
    color: #fff;
}

.whats-this a.close {
    background: url("/AngularSrc/assets/images/close.png") no-repeat 0 0;
    height: 16px;
    opacity: 1;
    right: 20px;
    top: 20px;
    width: 16px;
}

.whats-this .modal-body {
    padding: 40px;
}

.width1060 {
    margin: 0 auto 20px;
    max-width: 1060px;
    overflow: hidden;
}

.top-container {
    padding: 0 10px;
    width: 1110px;
    margin: 0 auto;
    position: relative;
    margin: 0 auto;
    height: 50px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    margin-top: 20px;
    text-align: left;
}

.title-text-box {
    color: #3a3a3a;
    font-size: 13px;
    position: relative;
    float: left;
    margin: 0;
    line-height: 50px;
    font-weight: bold;
}

.add-button-box {
    height: 35px;
    width: 160px;
    border-radius: 4px;
    background-color: #089ef9;
    color: #fff !important;
    font-size: 0.85em!important;
    padding: 16px 25px;
    position: relative;
    left: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.add-button-box:hover {
    cursor: pointer;
    color: #fff;
}

.button {
    border-radius: 5px;
    border: none;
    margin: 6px auto;
    font-size: 12px !important;
    height: 35px;
}

.button:hover {
    cursor: pointer;
    opacity: 0.4;
}

.btn-blue {
    background-color: #089ef9;
    padding: 4px;
}

.title-blue,
.content-box thead th.title-blue {
    color: #089ef9;
    font-weight: 500;
}

.content-box thead th.title-blue {
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
    margin: 0;
    padding: 0 30px;
}

.content-box {
    background: #fff;
    border: 1px solid #e6e6e6;
    font-size: 13px;
    margin-top: 20px;
}

.content-box thead th.title-blue {
    background: #fff;
    border: none;
    border-right: 1px solid #d9d9d9;
    font-size: 13px;
    line-height: 20px;
    padding: 10px 20px;
}

.content-box thead th:first-child {
    text-align: left;
}

.content-box thead th:last-child {
    border: none;
}

.content-box table td {
    border-right-color: #d9d9d9;
    padding: 5px 20px;
    position: relative;
}

.content-box table td.level1 {
    text-indent: 25px;
    border-right: none;
}

.content-box table td.level2 {
    text-indent: 45px;
}

.content-box table td,
.content-box table td:first-child {
    color: #999;
    font-weight: normal;
    min-width: auto;
}

.content-box table td:last-child {
    border-right: none;
}

.content-box table td.text-bold {
    color: #3a3a3a;
    font-weight: bold;
}

.content-box .col-1 {
    width: 8.333333%;
}

.content-box .col-11 {
    width: 91.666667%;
}

.half-box {
    background: #fff;
    border: 1px solid #e6e6e6;
    float: left;
    margin-top: 20px;
    min-height: 460px;
    padding: 30px;
    width: 49%;
}

.half-box h2 {
    font-size: 16px;
    line-height: 19px;
}

.content-wrap .calltoaction {
    border: none;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
    color: #3a3a3a;
    font-size: 13px;
    text-align: right;
}

.content-wrap .calltoaction>div {
    display: block;
    margin: 0 auto;
    max-width: 1040px;
}

.content-wrap .calltoaction * {
    display: inline-block;
    margin-top: 0;
}

.content-wrap .calltoaction .btn-blue {
    color: white;
    width: 160px;
}

.content-wrap .calltoaction span {
    margin-right: 30px;
}

.chart-ref {
    line-height: 1.2;
    padding: 0;
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
}

.chart-ref li {
    color: #999;
    display: inline;
    font-size: 11px;
    margin-right: 20px;
    white-space: nowrap;
}

.chart-ref li::before {
    background: #999;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 8px;
    margin-right: 6px;
    width: 8px;
}

.variable-input-td {
    min-width: 70px !important;
    padding: 0 !important;
}

.variable-input {
    width: 100% !important;
    border: 0 !important;
    background: transparent !important;
    text-align: center;
}

.chart-options {
    line-height: 1.2;
    margin-left: 190px;
}

.chart-options li {
    color: #999;
    display: inline;
    font-size: 11px;
    white-space: nowrap;
    margin: 10px;
    padding-left: 20px;
    cursor: pointer;
}

.chart-options li.download {
    background: url("/AngularSrc/assets/images/download_grey.png") 0 50% no-repeat;
}

.chart-options li.delete {
    background: url("/AngularSrc/assets/images/noun_997234_cc.png") 0 50% no-repeat;
}

.chart-options li.drag {
    background: url("/AngularSrc/assets/images/drag.png") 0 50% no-repeat;
}

.no-data {
    width: 400px;
    margin: 50px auto;
    padding: 0;
    text-align: center;
}

.no-data div {
    display: inline-block;
}

.no-data .no-data-image img {
    margin-bottom: 200px;
    margin-left: 50px;
}

.no-data-image img {
    position: relative;
    top: -130px;
    left: 260px !important;
    max-width: 35%;
    margin: 0;
}

.spinner {
    width: 100px;
}

.table-assumptions {
    margin-top: 140px;
}

.table-variable .handsontable {
    color: #999;
    font-size: 13px;
}

.table-variable .handsontable th {
    background-color: #e7eaec;
    color: #3a3a3a;
    font-weight: bold;
    white-space: pre-line;
    vertical-align: middle;
}

.table-variable .ht_clone_top th,
.table-variable .ht_clone_left th,
.table-variable .ht_master th,
.table-variable .ht_clone_top_left_corner th {
    border: 1px solid #ccc;
}

.table-variable .ht_master tr>td,
.table-variable .ht_clone_left tr>td,
.table-variable .ht_clone_top tr>td,
.table-variable .ht_clone_top_left_corner tr>td {
    text-align: center;
    vertical-align: middle;
    border-bottom: none;
    border-right: 1px solid #ccc;
    min-width: 150px;
}

.table-variable .ht_master tr>td.text-bold,
.table-variable .ht_clone_left tr>td.text-bold,
.table-variable .ht_clone_top tr>td.text-bold,
.table-variable .ht_clone_top_left_corner tr>td.text-bold {
    color: #3a3a3a;
    font-weight: 700;
}

.table-variable .ht_master tr>td:first-child,
.table-variable .ht_clone_left tr>td:first-child,
.table-variable .ht_clone_top tr>td:first-child,
.table-variable .ht_clone_top_left_corner tr>td:first-child {
    color: #3a3a3a;
    font-weight: 700;
    min-width: 280px;
    text-align: left;
    padding: 2px 20px;
    height: 25px !important;
}

.table-variable .ht_master tr:nth-of-type(even)>td,
.table-variable .ht_clone_left tr:nth-of-type(even)>td,
.table-variable .ht_clone_top tr:nth-of-type(even)>td,
.table-variable .ht_clone_top_left_corner tr:nth-of-type(even)>td {
    background-color: #efe8e8;
}

.table-variable .ht_master tr:nth-of-type(odd)>td,
.table-variable .ht_clone_left tr:nth-of-type(odd)>td,
.table-variable .ht_clone_top tr:nth-of-type(odd)>td,
.table-variable .ht_clone_top_left_corner tr:nth-of-type(odd)>td {
    background-color: #fff;
}

.children-account-cell {
    color: #999 !important;
    font-weight: normal !important;
    padding-left: 60px !important;
}

.children-padding {
    padding-left: 40px !important;
}

.children-level1 {
    padding-left: 40px !important;
    font-style: italic !important;
    font-size: 10pt !important;
}

.children-level2 {
    color: #999 !important;
    font-weight: normal !important;
    padding-left: 60px !important;
}

.children-level3 {
    color: #999 !important;
    font-weight: normal !important;
    padding-left: 80px !important;
}

.table-variable .ht_master tr>td.future,
.table-variable .ht_clone_top tr>td.future,
.table-variable .ht_clone_left tr>td.future,
.table-variable .ht_clone_top_left_corner tr>td.future {
    background-color: #eaf7ff !important;
}

.table-variable .ht_master tr:nth-of-type(even)>td.future,
.table-variable .ht_clone_left tr:nth-of-type(even)>td.future,
.table-variable .ht_clone_top tr:nth-of-type(even)>td.future,
.table-variable .ht_clone_top_left_corner tr:nth-of-type(even)>td.future {
    background-color: #ddeef8 !important;
}

.table-variable .htCore tr>th:first-child,
.table-variable .ht_master>th:first-child,
.table-variable .ht_clone_top>th:first-child,
.table-variable .ht_clone_left>th:first-child,
.table-variable .ht_clone_top_left_corner>th:first-child {
    height: auto !important;
}

.table-variable .handsontable thead th .relative {
    padding: 2px 10px !important;
}

.table-variable .htCore th:first-child {
    color: transparent !important;
}

.table-variable .table-wrapper {
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 340px;
    bottom: 35px;
}

.ingresar {
    line-height: 50px;
}

.variable-input-td {
    position: relative;
    min-width: 100px;
}

.variable-input-td .fa-pencil {
    position: absolute;
    top: 8px;
    left: 55px;
    color: black;
}

.chart-ref li.color-none::before {
    background: transparent !important;
}

.chart-ref li.color1::before {
    background: #0092fc;
}

.chart-ref li.color2::before {
    background: #ff455c;
}

.chart-ref li.color3::before {
    background: #37ba9d;
}

.chart-ref li.color4::before {
    background: #f8d800;
}

.chart-ref li.color5::before {
    background: #004e70;
}

.chart-ref li.color6::before {
    background: #28b292;
}

@media (max-width: 475px) {
    .button,
    .add-button-box {
        border-radius: 5px;
        border: none;
        margin: 3px auto;
        font-size: 0.85em;
    }
    .btn-blue {
        padding: 4px;
    }
}