/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

i {
    margin-right: 2px;
}


/* Firefox */

input[type="number"] {
    -moz-appearance: textfield;
}

.sensitivity-container {
    padding: 20px;
}

.table-container {
    padding: 10px;
}

.umbral-icon {
    display: none;
}

.umbral-icon:hover {
    display: inherit;
}

.umbral-input-container {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 5px auto !important;
}

table {
    background: #fff;
    color: #999;
    font-size: 13px;
}

table th {
    background-color: #e7eaec;
    border: 1px solid #ccc;
    color: #3a3a3a;
}

table th,
table td {
    padding: 10px 0;
    text-align: center;
    vertical-align: middle;
}

table td {
    border-right: 1px solid #ccc;
    min-width: 150px;
}

table td.text-bold {
    color: #3a3a3a;
    font-weight: bold;
}

table td:first-child {
    color: #3a3a3a;
    font-weight: 700;
    min-width: 280px;
    padding: 10px 20px;
    text-align: left;
}

.table-striped tbody tr:nth-of-type(odd) {
    background: #f7f7f7;
}

.modal-dialog {
    max-width: 400px;
}

.modal-content {
    border: 1px solid #e6e6e6;
    border-radius: 0;
    color: #999;
    font-size: 13px;
}

.modal-header,
.modal-body {
    padding: 0;
}

.modal-header {
    border: none;
}

.modal-title {
    color: #3a3a3a;
    font-weight: 300;
}

.whats-this {
    font-size: 14px;
}

.whats-this .modal-header {
    background: #089ef9;
    font-size: 18px;
    font-weight: 500;
    padding: 80px 40px 20px;
}

.whats-this .modal-title {
    color: #fff;
}

.whats-this a.close {
    background: url("/AngularSrc/assets/images/close.png") no-repeat 0 0;
    height: 16px;
    opacity: 1;
    right: 20px;
    top: 20px;
    width: 16px;
}

.whats-this .modal-body {
    padding: 40px;
}

.width800 {
    margin: 0 auto 20px;
    max-width: 1060px;
    overflow: hidden;
}

.title-blue-16 {
    color: #089ef9;
    font-weight: 500;
}

.title-blue-16 {
    font-size: 16px;
}

.content-box {
    background: #fff;
    border: 1px solid #e6e6e6;
    font-size: 13px;
    margin-top: 20px;
}

.content-box thead th:first-child {
    text-align: left;
}

.content-box thead th:last-child {
    border: none;
}

.content-box thead.no-bg th {
    background: none;
    border: none;
}

.content-box table td {
    border-right-color: #d9d9d9;
    padding: 5px 20px;
    position: relative;
}

.content-box table td,
.content-box table td:first-child {
    color: #999;
    font-weight: normal;
    min-width: auto;
}

.content-box table td:last-child {
    border-right: none;
}

.content-box table td.text-bold {
    color: #3a3a3a;
    font-weight: bold;
}

.content-box .col-2 {
    width: 16.666667%;
}

.content-box .col-10 {
    width: 83.333333%;
}

input[type="radio"] {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 1em;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

label.chk {
    position: relative;
    display: inline-block;
    font-weight: 400;
    margin: 0;
    text-indent: 24px;
    min-width: calc(1em + 2px);
}

label.chk::after,
label.chk::before {
    content: "";
    width: 16px;
    height: 16px;
    display: block;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid transparent;
    z-index: 0;
    position: absolute;
    left: 0;
    top: calc(50% - 8px);
    background-color: transparent;
}

label.rad::after,
label.rad::before {
    border-radius: 50%;
}

label.chk::before {
    background-color: #fff;
    border-color: #d8d8d8;
}

label.chk::after {
    -webkit-transform: scale(0.4) !important;
    -ms-transform: scale(0.4) !important;
    transform: scale(0.4) !important;
}

input:checked~label {
    color: #3a3a3a;
}

.content-box table td input[type="number"] {
    border: 1px solid #d9d9d9;
    margin: -5px 0;
    text-align: center;
    width: 92px;
}

.half-box {
    background: #fff;
    border: 1px solid #e6e6e6;
    float: left;
    margin-top: 20px;
    min-height: 240px;
    padding: 30px;
    width: 100%;
    height: auto !important;
}

.half-box.half-box-centered {
    float: none;
    margin: 20px auto 0;
    min-height: auto;
    padding: 0;
}

.half-box.half-box-centered .title-blue-16 {
    display: block;
    padding: 16px;
    text-align: center;
}

.instruction {
    padding: 20px;
}

div.content-box.no-bg {
    background: none;
    border: none;
}

.rad-container {
    float: left;
    margin-right: 30px;
    position: relative;
}

.analysis {
    color: #999;
}

.analysis table {
    background: #f7f7f7;
}

.analysis table.table-striped tbody tr:nth-of-type(odd) {
    background: #eee;
}

.analysis table th,
.analysis table th:first-child,
.analysis table td,
.analysis table td:first-child {
    border-right-color: #ccc;
    color: #3a3a3a;
    text-align: center;
}

.width800 {
    max-width: 800px;
}

.width800 .title-blue-16 {
    display: block;
    margin-top: 30px;
}

.simulation {
    color: #999;
    margin-top: 50px;
}

.simulation p {
    color: #3a3a3a;
    font-size: 16px;
    width: 100%;
}

.simulation label {
    font-size: 16px;
}

.projection h2 {
    font-size: 22px;
    margin: 20px;
}

.assumption-button {
    margin-left: 10px;
}

.assumptions-div {
    position: fixed;
    z-index: 1;
    overflow: auto;
    max-height: calc(70%);
    border-right-color: lightgray;
    border-right-width: 1px;
    border-right-style: solid;
}

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

.umbral-input-td {
    width: 85px !important;
    padding: 0 !important;
}

.umbral-input {
    width: 100% !important;
    border: 0 !important;
    background: transparent !important;
    margin: 0 5px;
    text-align: center;
}

.shock-cell {
    width: 100%;
    border: 1px solid #d9d9d9;
}


/* Webkit browsers like Safari and Chrome */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* For Firefox */

input[type="number"] {
    -moz-appearance: textfield;
}

.matrix-cell {
    height: 30px !important;
    margin-top: 8px !important;
}

.chart-options {
    line-height: 1.2;
    margin-left: 190px;
    margin-bottom: 15px;
}

.chart-options li {
    color: #999;
    display: inline;
    font-size: 11px;
    white-space: nowrap;
    margin: 10px;
    padding-left: 20px;
    cursor: pointer;
}

.chart-options li.download {
    background: url("/AngularSrc/assets/images/download_grey.png") 0 50% no-repeat;
}

.content-box table td input:checked~label:after,
input:checked~label.chk::after {
    background-color: #089ef9 !important;
}

.umbral-input-td {
    position: relative;
}

.year-td {
    max-width: 140px;
}

.umbral-input-td .fa-pencil {}

.no-data .no-data-image img {
    margin-bottom: 200px;
    margin-left: 50px;
}

.no-data-image img {
    position: relative;
    top: -130px;
    left: 260px !important;
    max-width: 35%;
    margin: 0;
}

.no-data-text ul {
    text-align: left;
    list-style: circle;
    margin-top: 10px;
    margin-bottom: 10px;
}