<div class="sensitivity-container">
    <!-- VALOR DE RIESGO -->
    <div class="content-box no-bg">
        <div class="half-box half-box-centered">
            <span class="title-blue-16">{{'GRAPHS.ASD_RISK_VALUES' | translate }}</span>
            <table class="table-striped col-12">
                <colgroup>
                    <col class="col-10">
                    <col class="col-2">
                </colgroup>
                <tbody>
                    <tr>
                        <td class="text-bold text-center">{{'GRAPHS.ASD_DEBT_LIMIT' | translate }} (X)</td>
                        <td class="text-bold umbral-input-td">
                            <div class="umbral-input-container">
                                <input type="text" tabindex="0" class="umbral-input" [(ngModel)]="umbral" (blur)="changeUmbral()" /> <i>%</i><i class="umbral-icon fa fa-pencil"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-bold text-center">
                            {{'GRAPHS.ASD_INCOME_DEBT_PROBABILITY' | translate }} > X</td>
                        <td class="text-bold assumption-input-td">
                            {{proba}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- ANÁLISIS DE SENSIBILIDAD -->
    <div class="content-box analysis">
        <div class="row table-container">
            <div class="col-md-9">
                <h2 class="text-center title-blue-16">{{'ASD.SENSITIVITY_TABLE_TITLE' | translate }}</h2>
                <table class="table-striped col-12">
                    <thead class="no-bg">
                        <tr>
                            <th>
                                {{firstYear}}
                            </th>
                            <th *ngFor="let u of umbrales">
                                {{ '> ' + u}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let fy of futureYears;let idx=index">
                            <td class="year-td">
                                {{fy}}
                            </td>

                            <ng-template [ngIf]="!seriesReady" [ngIfElse]="seriesNotNull">
                                <td *ngFor="let v of futureYears[fy]">0</td>
                            </ng-template>

                            <ng-template #seriesNotNull>
                                <td *ngFor="let v of series[fy]">{{v}}</td>
                            </ng-template>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-3" style="display: flex;flex-direction: column;justify-content: center;">
                <strong>{{'GRAPHS.ASD_TOTAL_DEBT' | translate }} > X</strong>
            </div>
        </div>

    </div>
</div>