﻿<!-- ReSharper disable Html.TagNotResolved -->
<top-navbar (isLoading)="loadingHandler($event)"></top-navbar>

<div class="filter-bar">
    <div class="filters float-left">
        <div class="year-selection-container">
            <span class="section-title">{{'DATA_ENTRY.Title' | translate}}</span>
            <!-- HISTÓRICOS -->
            <div class="years-container" style="margin-left: 25px">
                <h3 style="font-size:16px;margin: 0;">{{'DATA_ENTRY.HISTORICS' | translate}}</h3>
                <div class="filter-option">
                    <label>{{'DATA_ENTRY.From' | translate}}</label>
                    <div class="dropdown">
                        <select class="form-control" [(ngModel)]="dms.fromYear" (ngModelChange)="dms.onFromChange($event)">
                            <option *ngFor="let year of dms.years" [ngValue]="year">{{year}}</option>
                        </select>
                    </div>
                </div>

                <div class="filter-option">
                    <label>{{'DATA_ENTRY.TO' | translate}}</label>
                    <div class="dropdown">
                        <select class="form-control" [(ngModel)]="dms.toYear" (ngModelChange)="dms.onToChange($event)">
                            <option *ngFor="let year of dms.years" [ngValue]="year">{{year}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- PROYECCIONES -->
            <div class="years-container" style="margin-left: 25px">
                <h3 style="font-size:16px;margin: 0;">{{'DATA_ENTRY.PROJECTIONS' | translate}}</h3>
                <div class="filter-option">
                    <label>{{'DATA_ENTRY.From' | translate}}</label>
                    <div class="dropdown">
                        <input type="text" class="form-control" style="width: 77px;height: 38px" readonly [(ngModel)]="dms.fromProjectionYear" />
                    </div>
                </div>

                <div class="filter-option">
                    <label>{{'DATA_ENTRY.TO' | translate}}</label>
                    <div class="dropdown">
                        <select class="form-control" [(ngModel)]="dms.toProjectionYear" (ngModelChange)="dms.onToProjectionChange($event)">
                            <option *ngFor="let year of dms.projectionYears" [ngValue]="year">{{year}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-wrap table-data">
    <div class="table-wrapper" *ngIf="dms.tableReady && dms.topNav;else successControl">
        <hot-table width="100%" [settings]="dms.settings" [columns]="dms.columns" [data]="dms.currentData" (afterChange)="dms.afterChange($event)" [hotId]="dms.instance">
        </hot-table>
    </div>
    <ng-template #successControl>
        <div class="table-wrapper">
            <div class="no-data" *ngIf="!dms.apiError && (!dms.tableReady || !dms.topNav)">
                <img src="/AngularSrc/assets/images/loader.gif" alt="Loading" class="spinner" />
            </div>
            <div class="no-data" *ngIf="dms.apiError">
                <p><strong>{{ 'ERRORS.GENERIC' | translate}}</strong></p>
            </div>
        </div>
    </ng-template>
</div>

<div id="dropdown-subcategory" class="dropdown-menu dropdown-subcategory shadow">
    <a class="dropdown-item" [hidden]="dms.baseColumnLevel > 2" (click)="openModal()">{{'DATA_ENTRY.ADD_SUBCATEGORY' | translate}}</a>
    <a class="dropdown-item" (click)="submitEdit = true;openModal()">{{'DATA_ENTRY.EDIT_SUBCATEGORY' | translate}}</a>
    <a id="remove-item" class="dropdown-item text-danger" [hidden]="dms.baseColumnCanDelete" (click)="dms.deleteColumn(ngOnInit())">{{'DATA_ENTRY.DELETE_COLUMN' | translate}}</a>
</div>

<div id="subcategory-container" class="sub-category-container">
    <div class="sub-category-top-box">
        <h1 class="sub-category-top-title">
            {{'SHARED.SUBCATEGORY_SELECT' | translate}}
        </h1>
        <select class="form-control" [(ngModel)]="dms.subcategory">
            <option *ngFor="let subcategory of dms.subcategories" [ngValue]="subcategory">{{subcategory.name}}</option>
        </select>
    </div>

    <div class="sub-category-second-box">
        <h1 class="sub-category-second-title">
            {{'DATA_ENTRY.NUMBER_UNITS' | translate}}
        </h1>
        <select class="form-control" [(ngModel)]="dms.currencyUnit">
            <option *ngFor="let currencyUnit of dms.currencyUnits" [ngValue]="currencyUnit">{{currencyUnit.name}}</option>
        </select>
    </div>

    <div class="sub-category-third-box">
        <h1 class="sub-category-third-title">
            {{'SHARED.SOURCE_INFORMATION' | translate}}
        </h1>
        <div class="container">
            <input type="text" class="form-control" [(ngModel)]="dms.dataSource" />
        </div>
    </div>

    <div class="sub-category-bottom-box">
        <a class="button button-add" (click)="dms.addDynamicColumn()">{{'SHARED.ADD' | translate}}</a>
    </div>
</div>

<!-- Modal Select Catalog-->
<ngx-smart-modal #NewColModal backdrop='false' [customClass]="'cat-op-modal'" identifier="NewColModal">
    <form [formGroup]="columnForm" autocomplete="off" class="modal-col-content" (ngSubmit)="dms.submitNewColumnData(columnForm, dms.submitEdit, ngOnInit())">
        <label class="cat-input-label" for="inp-col">
            {{'SHARED.NEWCOLUMN' | translate}}:</label>
        <input id="inp-col" class="cat-input" type="text" formControlName="ColumnName">
        <button class="button btn-blue" type="submit" [ngClass]="{'disabled': !dms.submitStatus && !columnForm.valid}" [disabled]="!dms.submitStatus && !columnForm.valid">
            {{'SHARED.SAVE_BUTTON' | translate}}
        </button>
    </form>
</ngx-smart-modal>