﻿/* You can add global styles to this file, and also import other style files */
@import '~handsontable/dist/handsontable.full.css';

/*General*/
body {
    background: #f7f7f7;
    font-family: 'Roboto', sans-serif;
}

.dotted-separator{
     border-top: 2px dashed #3A3A3A !important;   
}

.future-header{
    color: #089EF9;
    font-size: 13px;
    font-weight: 500;
    font-family: "Roboto" sans-serif;
    line-height: 1.46;
}

.future-header-border{
    border-left: 4px solid #089EF9 !important;   
}


ul {
    margin-bottom: 0;
}

a, a:hover {
    text-decoration: none;
}

.form-control {
    color: #3A3A3A;
    border: 1px solid #CCC;
    border-radius: 3px;
    height: 51px;
    margin-bottom: 20px;
}

.dropdown-menu {
    border: 1px solid #E6E6E6;
    border-radius: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    margin: -1px 0 0;
    min-width: 100%;
}

.dropdown-item:active {
    background: #E7EAEC;
    color: #3A3A3A;
}

.modal-content {
    left: 50%;
    margin-top: -200px;
    margin-left: -300px;
    position: absolute;
    top: 50%;
    width: 600px;
}

.content-wrap {
    height: 100%;
    overflow: auto;
    margin-top: 240px;
}

    .no-data p {
        color: #999;
        font-size: 30px;
        line-height: 39px;
        margin: 0;
    }

/*CONTENT*/
.filter-bar {
    background: #f7f7f7;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    color: #999;
    float: left;
    font-size: 13px;
    padding: 23px 50px;
    position: fixed;
    top: 163px;
    width: 100%;
    z-index: 1;
}

.filters * {
    line-height: 30px;
    vertical-align: middle;
}

.filters h2 {
    color: #3A3A3A;
    float: left;
    font-size: 16px;
    margin-bottom: 0;
    font-weight: bold;
}

.filters label {
    display: inline;
    margin-right: 6px;
}

.filters .icon-info {
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

.filters .filter-option {
    float: left;
    margin-left: 20px;
    cursor: pointer;
}

    .filters .filter-option .form-control {
        display: inline-block;
        width: auto;
    }

.filters .dropdown {
    display: inline-block;
}

.filters .form-control {
    font-size: 13px;
    height: 30px;
    line-height: normal;
    margin-bottom: 0;
    min-width: 65px;
}

.filters a.icon-link {
    color: #999;
    display: inline-block;
    margin-right: 15px;
    padding-left: 35px;
}

    .filters a.icon-link:last-child {
        margin-right: 0;
    }

    .filters a.icon-download:hover,
    .filters a.icon-link.active {
        color: #089EF9;
    }

.filters a.icon-graphics {
    background: url("/AngularSrc/assets/images/graficos-gris.png") 0 0 no-repeat;
}

    .filters a.icon-graphics.active {
        background: url("/AngularSrc/assets/images/graficos-celeste.png") 0 0 no-repeat;
    }

.filters a.icon-tables {
    background: url("/AngularSrc/assets/images/tablas-gris.png") 0 0 no-repeat;
}

    .filters a.icon-tables.active {
        background: url("/AngularSrc/assets/images/tablas-celeste.png") 0 0 no-repeat;
    }

.filters a.icon-download {
    background: url("/AngularSrc/assets/images/download.png") 0 50% no-repeat;
    color: #089EF9;
    padding-left: 24px;
}

.filters a.icon-link.button-rules {
    background: url(/AngularSrc/assets/images/rules.png) 15% 50% no-repeat;
    border: 1px solid #C8C8C8;
    border-radius: 5px;
    color: #999;
    margin-right: 0;
    padding-left: 50px;
    width: 130px;
}

.modal-dialog {
    max-width: 400px;
}

#whatsthis .modal-dialog {
    max-width: 560px;
    height: 600px;
}

.modal-content {
    border: 1px solid #E6E6E6;
    border-radius: 0;
    color: #999;
    font-size: 13px;
}

.modal-header,
.modal-body {
    padding: 0;
}

.modal-header {
    border: none;
}

.modal-title {
    color: #3A3A3A;
    font-weight: 300;
}

.whats-this {
    font-size: 14px;
}

    .whats-this .modal-header {
        background: #089EF9;
        font-size: 18px;
        font-weight: 500;
        padding: 80px 40px 20px;
    }

    .whats-this .modal-title {
        color: #fff;
    }

    .whats-this a.close {
        background: url("/AngularSrc/assets/images/close.png") no-repeat 0 0;
        height: 16px;
        opacity: 1;
        right: 20px;
        top: 20px;
        width: 16px;
    }

    .whats-this .modal-body {
        padding: 40px;
    }

.width1060 {
    margin: 0 auto 20px;
    max-width: 1060px;
    overflow: hidden;
}

.half-box {
    background: #fff;
    border: 1px solid #E6E6E6;
    float: left;
    margin-top: 20px;
    min-height: 460px;
    padding: 30px;
    width: 49%;
}

    .half-box h2 {
        font-size: 16px;
        line-height: 19px;
        font-weight: bold;
    }

.chart-ref {
    line-height: 1.2;
    padding: 0;
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
}

    .chart-ref li {
        color: #999;
        display: inline;
        font-size: 11px;
        margin-right: 20px;
        white-space: nowrap;
        padding: 2px;
    }

        .chart-ref li::before {
            background: #999;
            border-radius: 50%;
            content: '';
            display: inline-block;
            height: 8px;
            margin-right: 6px;
            width: 8px;
        }

        .chart-ref li.color-none::before {
            background: transparent !important;
        }

        .chart-ref li.color1::before {
            background: #0092FC;
        }

        .chart-ref li.color2::before {
            background: #FF455C;
        }

        .chart-ref li.color3::before {
            background: #37BA9D;
        }

        .chart-ref li.color4::before {
            background: #F8D800;
        }

        .chart-ref li.color5::before {
            background: #004E70;
        }

        .chart-ref li.color6::before {
            background: #28B292;
        }

.spinner {
    width: 100px;
}

.half-box {
    margin-left: 10px;
    height: 460px !important;
}

strong {
    color: #3A3A3A !important;
}

.chart-options {
    line-height: 1.2;
    margin-left: 190px;
    margin-bottom: 15px;
}

    .chart-options li {
        color: #999;
        display: inline;
        font-size: 11px;
        white-space: nowrap;
        margin: 10px;
        padding-left: 20px;
        cursor: pointer;
    }

        .chart-options li.download {
            background: url("/AngularSrc/assets/images/download_grey.png") 0 50% no-repeat;
        }

        .chart-options li.delete {
            background: url("/AngularSrc/assets/images/noun_997234_cc.png") 0 50% no-repeat;
        }

        .chart-options li.drag {
            background: url("/AngularSrc/assets/images/drag.png") 0 50% no-repeat;
        }

.no-data {
    width: 400px;
    margin: 50px auto;
    padding: 0;
    text-align: center;
}

    .no-data div {
        display: inline-block;
    }

    .no-data .no-data-image img {
        margin-bottom: 200px;
        margin-left: 50px;
    }
    .no-data-image img {
        position: relative;
        top: -130px;
        left: 260px !important;
        max-width: 35%;
        margin: 0;
    }

.table-inercial .handsontable {
    color: #999;
    font-size: 13px;
}

    .table-inercial .handsontable th {
        background-color: #E7EAEC;
        color: #3A3A3A;
        font-weight: bold;
        white-space: pre-line;
        vertical-align: middle;
    }

.table-inercial .ht_clone_top th,
.table-inercial .ht_clone_left th,
.table-inercial .ht_master th,
.table-inercial .ht_clone_top_left_corner th {
    border: 1px solid #ccc;
}


.table-inercial .ht_master tr > td,
.table-inercial .ht_clone_left tr > td,
.table-inercial .ht_clone_top tr > td,
.table-inercial .ht_clone_top_left_corner tr > td {
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    min-width: 150px;
    margin-top: 20px;
}

    .table-inercial .ht_master tr > td.text-bold,
    .table-inercial .ht_clone_left tr > td.text-bold,
    .table-inercial .ht_clone_top tr > td.text-bold,
    .table-inercial .ht_clone_top_left_corner tr > td.text-bold {
        color: #3A3A3A;
        font-weight: 700;
    }

    .table-inercial .ht_master tr > td:first-child,
    .table-inercial .ht_clone_left tr > td:first-child,
    .table-inercial .ht_clone_top tr > td:first-child,
    .table-inercial .ht_clone_top_left_corner tr > td:first-child {
        color: #3A3A3A;
        font-weight: 700;
        min-width: 280px;
        text-align: left;
        padding: 2px 20px;
        height: 25px !important;
    }

.table-inercial .ht_master tr:nth-of-type(even) > td,
.table-inercial .ht_clone_left tr:nth-of-type(even) > td,
.table-inercial .ht_clone_top tr:nth-of-type(even) > td,
.table-inercial .ht_clone_top_left_corner tr:nth-of-type(even) > td {
    background-color: #efe8e8;
}

.table-inercial .ht_master tr:nth-of-type(odd) > td,
.table-inercial .ht_clone_left tr:nth-of-type(odd) > td,
.table-inercial .ht_clone_top tr:nth-of-type(odd) > td,
.table-inercial .ht_clone_top_left_corner tr:nth-of-type(odd) > td {
    background-color: #FFF;
}

.children-account-cell {
    color: #999 !important;
    font-weight: normal !important;
    padding-left: 60px !important;
}

.children-padding {
    padding-left: 40px !important;
    font-style: italic !important;
    font-size: 10pt !important;

}

.table-inercial .ht_master tr > td.firstfuture,
.table-inercial .ht_clone_top tr > td.firstfuture,
.table-inercial .ht_clone_left tr > td.firstfuture,
.table-inercial .ht_clone_top_left_corner tr > td.firstfuture {
    border-left: 4px solid #089ef9 !important;
}

.children-level1 {
    padding-left: 40px !important;
    font-style: italic !important;
    font-size: 10pt !important;

}

.children-level2 {
    color: #999 !important;
    font-weight: normal !important;
    padding-left: 60px !important;
}

.children-level3 {
    color: #999 !important;
    font-weight: normal !important;
    padding-left: 80px !important;

}

.table-inercial .ht_master tr > td.future,
.table-inercial .ht_clone_top tr > td.future,
.table-inercial .ht_clone_left tr > td.future,
.table-inercial .ht_clone_top_left_corner tr > td.future {
    background-color: #eaf7ff !important;
}

.table-inercial .ht_master tr:nth-of-type(even) > td.future,
.table-inercial .ht_clone_left tr:nth-of-type(even) > td.future,
.table-inercial .ht_clone_top tr:nth-of-type(even) > td.future,
.table-inercial .ht_clone_top_left_corner tr:nth-of-type(even) > td.future {
    background-color: #ddeef8 !important;
}

.table-inercial .htCore tr > th:first-child,
.table-inercial .ht_master > th:first-child,
.table-inercial .ht_clone_top > th:first-child,
.table-inercial .ht_clone_left > th:first-child,
.table-inercial .ht_clone_top_left_corner > th:first-child {
    height: auto !important;
}

.table-inercial .handsontable thead th .relative {
    padding: 2px 10px !important;
}

.table-inercial .htCore th:first-child {
    color: transparent !important;
}

.table-inercial .table-wrapper {
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 280px;
    bottom: 35px;
}

.Path {
    width: 1233px;
    height: 1px;
    border: solid 1px #3a3a3a;
  }