﻿/*General*/
body {
    background: #f7f7f7;
    font-family: 'Roboto', sans-serif;
}

ul {
    margin-bottom: 0;
}

.button {
    border-radius: 5px;
    border: none;
    margin: 0 auto;
    text-align: center;
}

.button:hover {
    cursor: pointer;
    opacity: 0.4;
}

.button a {
    color: #FFF !important;
    font-size: 16px;
    cursor: pointer;
    line-height: 32px;
}

a, a:hover {
    text-decoration: none;
}

.btn-blue {
    background-color: #089EF9;
    margin-top: 50px;
    padding: 7px 0;
    width: 240px;
    color: #FFF !important;
}

.form {
    margin: auto;
    max-width: 500px;
}

    .form label {
        text-transform: uppercase;
        color: #3A3A3A;
        font-size: 12px;
    }

.form-fields {
    margin-top: 60px;
}

.form-box {
    position: relative;
}

.form-control {
    color: #3A3A3A;
    border: 1px solid #CCC;
    border-radius: 3px;
    height: 51px;
    margin-bottom: 20px;
}

a.form-control::after {
    content: url("/AngularSrc/assets/images/dropdown-arrow.png");
    float: right;
    position: relative;
    top: 8px;
}

.dropdown-menu {
    border: 1px solid #E6E6E6;
    border-radius: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    margin: -1px 0 0;
    min-width: 100%;
}

.header-box .dropdown-menu a,
.header-box .dropdown-menu a:hover {
    color: #3A3A3A;
}

.dropdown-item:active {
    background: #E7EAEC;
    color: #3A3A3A;
}
.header-box {
    background: #004E70;
    color: #fff;
    min-height: 163px;
    padding: 10px 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

    .header-box a,
    .header-box a:hover {
        color: #fff;
    }

    .header-box .profile-help {
        text-align: right;
        width: 100%;
    }

        .header-box .profile-help li {
            display: inline-block;
            margin-left: 25px;
        }

            .header-box .profile-help li a,
            .header-box .profile-help li a:hover {
                color: #fff;
                font-size: 13px;
                font-weight: normal;
            }

                .header-box .profile-help li a.user::before,
                .header-box .profile-help li a.help::before {
                    line-height: 15px;
                    padding-right: 6px;
                    position: relative;
                    top: 3px;
                }

                .header-box .profile-help li a.user::before {
                    content: url(/AngularSrc/assets/images/user.png);
                }

                .header-box .profile-help li a.help::before {
                    content: url(/AngularSrc/assets/images/icon-help.png);
                }

    .header-box .logo {
        float: left;
        margin-top: 10px;
    }

        .header-box .logo figure {
            display: inline-block;
            line-height: 60px;
            margin-bottom: 0;
        }

.header-tabs {
    float: left;
    margin-left: 450px;
    text-align: center;
}

.nav.nav-tabs {
    border-bottom: none;
    height: 45px;
}

    .nav.nav-tabs li {
        border: 1px solid #089EF9;
        height: 45px;
        text-align: center;
        width: 140px;
    }

        .nav.nav-tabs li:first-child {
            border-radius: 5px 0 0 5px;
        }

        .nav.nav-tabs li:last-child {
            border-radius: 0 5px 5px 0;
        }

        .nav.nav-tabs li a {
            color: #089EF9;
            display: block;
            font-size: 20px;
            line-height: 45px;
            text-transform: uppercase;
        }

.header-box .add-data {
    height: 30px;
    margin-top: 45px;
    float: right;
}

    .header-box .add-data:hover {
        cursor: pointer;
    }

    .header-box .add-data .form-control {
        background: none;
        border: 1px solid #fff;
        border-radius: 5px;
        color: #fff;
        font-size: 14px;
        height: 30px;
        line-height: 28px;
        text-align: center;
        margin-bottom: 0;
        padding: 0 0 0 0px;
        width: 185px;
    }

        .header-box .add-data .form-control::after {
            content: url(/AngularSrc/assets/images/dropdown-arrow-white.png);
            float: right;
            position: relative;
            top: 0;
            right: 10px;
            border-left: 1px solid #fff;
            padding-left: 10px;
        }

.header-box nav {
    margin: 20px 0 0 140px;
    width: calc(100% - 140px);
    clear: left;
    float: left;
}

    .header-box nav ul li {
        display: inline;
        font-size: 13px;
        line-height: 19px;
    }

        .header-box nav ul li a {
            padding: 2px 16px;
            margin-right: 8px;
        }
        .header-box nav ul li.active a {
            background-color: #089EF9;
            border-radius: 20px;
        }

.content-wrap {
    height: 100%;
    overflow: auto;
    margin-top: 240px;
}

.width1060 {
    margin: 0 auto 20px;
    max-width: 1060px;
    overflow: hidden;
}

.content-box {
    background: #fff;
    border: 1px solid #E6E6E6;
    font-size: 13px;
    margin-top: 20px;
}

/*Profile*/
.profile .form {
    margin-top: 50px;
}

    .profile .form .titles {
        overflow: hidden;
    }

        .profile .form .titles h1 {
            float: left;
            font-size: 24px;
            margin: 0;
        }

.profile .form-fields {
    margin-top: 40px;
}

div.content-box.no-bg {
    background: none;
    border: none;
}

#success-alert {
    background: #5CBB29;
    font-weight: 100;
    border: none;
}

#error-alert {
    background: #FF0000;
    font-weight: 100;
    border: none;
}

input[type="password"] {
    margin-bottom: 0 !important;
}

.separator{
    margin-bottom: 10px !important;
}