﻿<!--START HEADER CONTAINER-->
<header class="header-box">
    
    <ul class="profile-help">
        <li><a class="user" routerLink="/perfil">{{username}}</a></li>
        <li><a class="help" routerLink="/ayuda">{{'SHARED.HELP' | translate}}</a></li>
    </ul>
    <div class="logo">
        <figure>
            <img src="../AngularSrc/assets/images/logo-blanco-chico.png" width="87" height="32" />
        </figure>
    </div>
    <div class="header-tabs">
        <ul class="nav nav-tabs">
            <li><a routerLink="/aproximacion-inercial">mfmp</a></li>
            <!--<li><a>asd</a></li>-->
            <li><a routerLink="/aproximacion-estandar">asd</a></li>
        </ul>
    </div>
    <div class="dropdown add-data">
        <a class="form-control" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{'SHARED.DATA_ENTRY' | translate}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="add-data">
            <a class="dropdown-item" routerLink="/macroeconomicas">{{'SHARED.DATA_ENTRY_MACROS' | translate}}</a>
            <a class="dropdown-item" routerLink="/ingresos">{{'SHARED.DATA_ENTRY_INCOMES' | translate}}</a>
            <a class="dropdown-item" routerLink="/gastos">{{'SHARED.DATA_ENTRY_EXPENSES' | translate}}</a>
            <a class="dropdown-item" routerLink="/deudas">{{'SHARED.DATA_ENTRY_DEBT' | translate}}</a>
        </div>
    </div>

    <nav>
        <ul>
            <li id="profile">
                <a routerLink="/perfil" title="Perfil">{{'PROFILE.TITLE' | translate}}</a>
            </li>
            <li id="password" class="active">
                <a routerLink="/reset-password" title="Contraseña">{{'SHARED.PASSWORD' | translate}}</a>
            </li>
        </ul>
    </nav>
</header>

<div class="content-wrap profile">
    <div class="width1060">
        <div class="content-box no-bg">
            <div class="form">
                <div class="titles">
                    <h1>{{'SHARED.EXTERNAL_PASSWORD_CHANGE_TITLE' | translate}}</h1>
                </div>
                <div class="form-fields">
                    <div class="button btn-blue" (click)="resetPassword()">
                        <a title="Modificar Contraseña">{{'SHARED.CHANGE_PASSWORD' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>