span{
    margin-bottom: 10px;
}
.catalogue-selected{
    color: #fff !important;
    font-size: 13px;
    font-weight: normal;
}
.catalogue-selector{
    cursor: pointer;
    font-size: 13px;
    font-weight: normal;
    width: 110px;
    height: 19px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff !important;
    padding: 0px 10px 0px 0px;
}

.catalogue-icon{
    max-width: 25px;
    max-height: 25px;
    object-fit: contain;
}

.loadedImg{
    max-width: 28px;
    max-height: 14px;
    border-radius: 8%;
}

.selector{
    transition: width 2s;
    width: 100%;
    display: inherit;
}