<div class="selector" (click)="modalHandler(true)">
    <img *ngIf="catalogueInput?.Icon" class="loadedImg" [src]="catalogueInput?.Icon" />
    <span [hidden]="!catalogueInput" class="catalogue-selected mb-3"> {{ catalogueInput.name || catName}}
        <a class='catalogue-selector'>
            <img src="/AngularSrc/assets/images/dropdown-arrow-copy-2.png" width="11" height="6" />
        </a>
    </span>
</div>