﻿<!--START HEADER CONTAINER-->
<header class="header-box">
    <div class="col-md-12" *ngIf="saving">
        <div class="alert text-center">
            <p style="color:white">{{'SHARED.SAVING' | translate}}...</p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="alert alert-success" id="success-alert">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <div>
                <img src="/AngularSrc/assets/images/Shape.png" alt="">
                <strong style="color:white !important">{{'SHARED.SUCCESS_SAVED' | translate}}</strong>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="alert alert-danger" id="error-alert">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <div>
                <img src="/AngularSrc/assets/images/Group.png" alt="">
                <strong style="color:white !important">{{'ERRORS.NOTIF' | translate}}.
                    {{'ERRORS.TRY_LATER' | translate}}</strong>
            </div>
        </div>
    </div>

    <ul class="profile-help">
        <li><a class="user" routerLink="/perfil">{{username}}</a></li>
        <li><a class="help" routerLink="/ayuda">{{'SHARED.HELP' | translate}}</a></li>
    </ul>
    <div class="logo">
        <figure>
            <img src="/AngularSrc/assets/images/logo-blanco-chico.png" width="87" height="32"
                *ngIf="language?.encodedName !='en'" />
            <img src="/AngularSrc/assets/images/logo-ingles.png" width="87" height="32"
                *ngIf="language?.encodedName ==='en'" />
        </figure>
    </div>
    <div class="header-tabs">
        <ul class="nav nav-tabs">
            <li><a routerLink="/aproximacion-inercial">{{'MFMP.TITLE_INITIALS' | translate}}</a></li>
            <li><a routerLink="/aproximacion-estandar">{{'ASD.TITLE_INITIALS' | translate}}</a></li>
        </ul>
    </div>

    <nav>
        <ul>
            <li id="profile" class="active">
                <a routerLink="/perfil" title="Perfil">{{'PROFILE.TITLE' | translate}}</a>
            </li>
            <li id="password">
                <a routerLink="/reset-password" title="Contraseña">{{'SHARED.PASSWORD' | translate}}</a>
            </li>
        </ul>
    </nav>
</header>

<div class="content-wrap profile">
    <div class="width1060">
        <div class="content-box no-bg" *ngIf="!isLoading && langReady">
            <div class="form">
                <div class="titles">
                    <h1>{{'PROFILE.TITLE' | translate}}</h1>
                    <a class="sesion" (click)="logout()">{{'PROFILE.SIGN_OUT' | translate}}</a>
                </div>
                <div class="form-fields">
                    <div class="form-box">
                        <label for="firstname">{{'PROFILE.INPUT_NAME' | translate}} *</label>
                        <input id="firstname" type="text" class="form-control"
                            placeholder="{{'PROFILE.INPUT_NAME' | translate}}" [(ngModel)]="firstName"
                            [ngClass]="{'error': requiredfname}">
                        <div class="separator">
                            <span class="text-danger"
                                *ngIf="requiredfname">{{'ERRORS.REQUIRED_INPUT' | translate}}</span>
                        </div>
                    </div>

                    <div class="form-box">
                        <label for="lastname">{{'PROFILE.INPUT_SURNAME' | translate}} *</label>
                        <input id="lastname" type="text" class="form-control"
                            placeholder="{{'PROFILE.INPUT_SURNAME' | translate}}" [(ngModel)]="lastName"
                            [ngClass]="{'error': requiredlname}">
                        <div class="separator">
                            <span class="text-danger"
                                *ngIf="requiredlname">{{'ERRORS.REQUIRED_INPUT' | translate}}</span>
                        </div>
                    </div>

                    <div class="form-box">
                        <label for="email">{{'PROFILE.INPUT_EMAIL' | translate}}</label>
                        <input id="email" type="text" class="form-control"
                            placeholder="{{'PROFILE.INPUT_EMAIL' | translate}}" [(ngModel)]="email" readonly="readonly">
                        <div class="separator">
                        </div>
                    </div>
                    <div class="form-box">
                        <label for="country">{{'PROFILE.INPUT_LANGUAGE' | translate}}</label>
                        <div class="form-group">
                            <select class="form-control" id="language" name="language" [(ngModel)]="language"
                                [value]="language">
                                <option *ngFor="let language of languagesList" [ngValue]="language">
                                    {{language.longName}}</option>
                            </select>
                            <div class="separator">
                            </div>
                        </div>
                    </div>

                    <div class="form-box">
                        <label for="country">{{'PROFILE.INPUT_COUNTRY' | translate}}</label>
                        <select class="form-control" id="country" name="country" [(ngModel)]="country"
                            [value]="country">
                            <option *ngFor="let country of countriesList" [ngValue]="country">{{country.name}}
                            </option>
                        </select>
                        <div class="separator">
                        </div>
                    </div>


                    <div class="form-box">
                        <label for="institution">{{'PROFILE.INPUT_INSTITUTION' | translate}}</label>
                        <input id="institution" type="text" class="form-control"
                            placeholder="{{'PROFILE.INPUT_INSTITUTION' | translate}}" [(ngModel)]="institution">
                        <div class="separator">
                        </div>
                    </div>

                    <div class="form-box">
                        <label for="country">{{'PROFILE.INPUT_INSTITUTION_TYPE' | translate}}</label>
                        <select class="form-control" id="institutionType" name="institutionType"
                            [(ngModel)]="institutionType" [value]="institutionType">
                            <option *ngFor="let institutionType of institutionTypeList" [ngValue]="institutionType">
                                {{institutionType}}</option>
                        </select>
                        <div class="separator">
                        </div>
                    </div>

                    <div class="form-box">
                        <label>{{'PROFILE.1ST_QUESTION_CHECKBOXS_TITLE' | translate}}</label>
                        <ul>
                            <li>
                                <div class="chk-container" *ngFor="let interest of interestList">
                                    <label>
                                        <input type="checkbox" value="{{interest}}"
                                            [checked]="interests.indexOf(interest) >= 0"
                                            (change)="updateInterests($event.target)" /> <label
                                            class="chk">{{interest}}</label>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="form-box">
                        <label>{{'PROFILE.1ST_QUESTION_CHECKBOXS_TITLE' | translate}}</label>
                        <ul>
                            <li>
                                <div class="chk-container" *ngFor="let product of productList">
                                    <label>
                                        <input type="checkbox" value="{{product}}"
                                            [checked]="products.indexOf(product) >= 0"
                                            (change)="updateProducts($event.target)" /> <label
                                            class="chk">{{product}}</label>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="button btn-blue" (click)="submit()">
                        <a title="Guardar">{{'SHARED.SAVE_BUTTON' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="no-data" *ngIf="isLoading">
        <img src="/AngularSrc/assets/images/loader.gif" alt="Loading" class="spinner" />
    </div>
    <div class="no-data" *ngIf="error">
        <p><strong>{{'ERRORS.GENERIC' | translate}}</strong></p>
    </div>
</div>