﻿<!-- ReSharper disable Html.TagNotResolved -->
<div class="filter-bar">
    <div class="filters float-left">
        <h2>{{title}}</h2>
        <a data-toggle="modal" data-target="#whatsthis" title="What's this?" class="icon-info"><img src="/AngularSrc/assets/images/Group-4.png" width="18" height="18" /></a>

        <div class="filter-option">
            <label>{{'SHARED.SAVE_BUTTON' | translate}}:</label>
            <div class="dropdown">
                <select class="form-control" [(ngModel)]="yearsToSimulate" (change)="simulate()">
                    <option *ngFor="let i of simulableYears" value="{{i}}">{{i}}</option>
                </select>
            </div>
        </div>

        <div class="filter-option">
            <label>{{'SHARED.SEE_AS' | translate}}:</label>
            <a id="link-charts" class="icon-link icon-graphics" (click)="showCharts()">{{'SHARED.GRAPHICS' | translate}}</a>
            <a id="link-tables" class="icon-link icon-tables active" (click)="showTables()">{{'SHARED.TABLES' | translate}}</a>
        </div>
    </div>
    <div class="filters float-right">
        <div class="filter-option dropdown" *ngIf="download">
            <a class="download icon-link icon-download" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'SHARED.DOWNLOAD_RESULTS' | translate}}</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="add-data">
                <a class="dropdown-item">{{'SHARED.ALL_RESULTS' | translate}}</a>
                <a class="dropdown-item">{{'MFMP.INERTIAL_APROX' | translate}}</a>
                <a class="dropdown-item">{{'MFMP.FIVE_YEARS_APROX' | translate}}</a>
                <a class="dropdown-item">{{'MFMP.FIXED_APROX' | translate}}</a>
                <a class="dropdown-item">{{'MFMP.PARAMETRIC_APROX' | translate}}</a>
            </div>
        </div>
        <div class="filter-option">
            <a class="button-rules icon-link" routerLink="/reglas">{{'SHARED.RULES' | translate}}</a>
        </div>
    </div>
</div>