﻿/*General*/

body {
    background: #f7f7f7;
    font-family: 'Roboto', sans-serif;
}

ul {
    margin-bottom: 0;
}

.button {
    border-radius: 5px;
    border: none;
    margin: 0 auto;
    text-align: center;
}

.button:hover {
    cursor: pointer;
    opacity: 0.4;
}

a,
a:hover,
a:active {
    outline: none;
    text-decoration: none;
}

strong {
    color: #3A3A3A !important;
}

.row {
    width: 100%;
    margin: 0;
}

.btn-blue {
    background-color: #089EF9;
    margin-top: 50px;
    padding: 3px 0;
    width: 240px;
}

.form-control {
    color: #3A3A3A;
    border: 1px solid #CCC;
    border-radius: 3px;
    height: 51px;
    line-height: 51px;
    margin-bottom: 20px;
    padding-top: 0;
}

.dropdown-menu {
    border: 1px solid #E6E6E6;
    border-radius: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    margin: -1px 0 0;
    min-width: 100%;
}

.dropdown-item:active {
    background: #E7EAEC;
    color: #3A3A3A;
}

.content-wrap {
    height: 100%;
    overflow: auto;
}

.no-data {
    padding-top: 40px;
    text-align: center;
}

.no-data p {
    color: #999;
    font-size: 30px;
    line-height: 39px;
    margin: 0;
}


/*CONTENT*/

.filter-bar {
    background: #f7f7f7;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    color: #999;
    float: left;
    font-size: 13px;
    padding: 23px 50px;
    position: fixed;
    top: 163px;
    width: 100%;
    z-index: 1;
}

.filters * {
    line-height: 30px;
    vertical-align: middle;
}

.filters h2 {
    color: #3A3A3A;
    float: left;
    font-size: 16px;
    margin-bottom: 0;
}

.filters label {
    display: inline;
    margin-right: 6px;
}

.filters .icon-info {
    float: left;
    margin-left: 10px;
}

.filters .filter-option {
    float: left;
    margin-left: 20px;
}

.filters .dropdown {
    display: inline-block;
}

.filters a.icon-link {
    color: #999;
    display: inline-block;
    margin-right: 15px;
    padding-left: 35px;
}

.filters a.icon-link:last-child {
    margin-right: 0;
}

.filters a.icon-link.active {
    color: #089EF9;
}

.filters a.icon-graphics {
    background: url("/AngularSrc/assets/images/graficos-gris.png") 0 0 no-repeat;
}

.filters a.icon-graphics.active {
    background: url("/AngularSrc/assets/images/graficos-celeste.png") 0 0 no-repeat;
}

.filters a.icon-tables.active {
    background: url("/AngularSrc/assets/images/graficos-celeste.png") 0 0 no-repeat;
}

.filters a.icon-tables {
    background: url("/AngularSrc/assets/images/tablas-gris.png") 0 0 no-repeat;
}

.filters a.icon-tables.active {
    background: url("/AngularSrc/assets/images/tablas-celeste.png") 0 0 no-repeat;
}

.filters a.icon-download {
    background: url("/AngularSrc/assets/images/download.png") 0 50% no-repeat;
    color: #089EF9;
    padding-left: 24px;
}

table {
    background: #fff;
    color: #999;
    font-size: 13px;
}

table th {
    background-color: #E7EAEC;
    border: 1px solid #ccc;
    color: #3A3A3A;
    padding: 10px;
}

table th,
table td {
    padding: 5px 10px;
    text-align: center;
    vertical-align: middle;
}

table td {
    border-right: 1px solid #ccc;
    min-width: 88px;
}

table td:first-child {
    color: #3A3A3A;
    /*font-weight: 700;*/
    min-width: 355px;
    padding: 3px 15px;
    text-align: left;
}

.table-striped tbody tr:nth-of-type(odd) {
    background: #F7F7F7;
}

.modal-dialog {
    max-width: 400px;
}

#whatsthis .modal-dialog {
    max-width: 560px;
}

.modal-content {
    border: 1px solid #E6E6E6;
    border-radius: 0;
    color: #999;
    font-size: 13px;
}

.modal-header,
.modal-body {
    padding: 0;
}

.modal-header {
    border: none;
}

.modal-title {
    color: #3A3A3A;
    font-weight: 300;
}

.whats-this {
    font-size: 14px;
}

.whats-this .modal-header {
    background: #089EF9;
    font-size: 18px;
    font-weight: 500;
    padding: 80px 40px 20px;
}

.whats-this .modal-title {
    color: #fff;
}

.whats-this a.close {
    background: url("/AngularSrc/assets/images/close.png") no-repeat 0 0;
    height: 16px;
    opacity: 1;
    right: 20px;
    top: 20px;
    width: 16px;
}

.whats-this .modal-body {
    padding: 40px;
}

.width1060 {
    margin: 0 auto 20px;
    max-width: 1060px;
    overflow: hidden;
}

.title-blue,
.title-blue-16 {
    color: #089EF9;
    font-weight: bold;
}

.title-blue-16 {
    font-size: 16px;
}

.content-box {
    background: #fff;
    border: 1px solid #E6E6E6;
    font-size: 13px;
    margin-top: 20px;
}

.content-box thead th:first-child {
    text-align: left;
}

.content-box thead th:last-child {
    border: none;
}

.content-box thead.no-bg th {
    background: none;
    border: none;
}

.content-box table td {
    border-right-color: #d9d9d9;
    padding: 5px 20px;
    position: relative;
}

.content-box table td,
.content-box table td:first-child {
    color: #999;
    font-weight: normal;
    min-width: auto;
}

.content-box table.checkbox td,
.content-box table.checkbox td:first-child {
    padding: 5px 30px;
}

.content-box table.checkbox td:first-child {
    padding: 5px;
}

.content-box table td:last-child {
    border-right: none;
}

.content-box table td.w-input {
    border-right: none;
}

.content-box .col-1 {
    width: 8.333333%;
}

.content-box .col-4 {
    width: 33.333333%;
}

.content-box table td input[type="checkbox"],
input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 1em;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.content-box table td label,
label.chk {
    position: relative;
    display: inline-block;
    font-weight: 400;
    margin: 0;
    text-indent: 24px;
    min-width: calc(1em + 2px);
}

.content-box table td label:after,
.content-box table td label:before,
label.chk::after,
label.chk::before {
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid transparent;
    z-index: 0;
    position: absolute;
    left: 0;
    top: calc(50% - 8px);
    background-color: transparent;
}

.content-box table td label:before,
label.chk::before {
    background-color: #fff;
    border-color: #D8D8D8;
}

.content-box table td label:after,
label.chk::after {
    -webkit-transform: scale(.4) !important;
    -ms-transform: scale(.4) !important;
    transform: scale(.4) !important;
}

.content-box table td input:checked~label,
input:checked~label {
    color: #3A3A3A;
}

.content-box table td input[type="number"] {
    border: 1px solid #D9D9D9;
    margin: -5px 0;
    text-align: center;
    width: 92px;
}

.graph-boxes {
    display: flex;
    justify-content: space-between;
}

.half-box {
    background: #fff;
    border: 1px solid #E6E6E6;
    float: left;
    margin-top: 20px;
    min-height: 240px;
    padding: 30px;
    width: 49%;
}

.half-box h2 {
    font-size: 16px;
    line-height: 19px;
}

.instruction {
    padding: 20px;
}

.instruction p {
    margin: 0;
}

.selections {
    padding: 0 20px;
}

.selections .dropdown {
    display: inline-block;
    /*margin-left: 15px;*/
    width: 200px;
}

.chart-ref {
    line-height: 1.2;
}

.chart-ref li {
    color: #999;
    display: inline;
    font-size: 11px;
    margin-right: 20px;
    white-space: nowrap;
}

.chart-ref li::before {
    background: #999;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 8px;
    margin-right: 6px;
    width: 8px;
}

.chart-ref li.color1::before {
    background: #0092FC;
}

.chart-ref li.color2::before {
    background: #FF455C;
}

.chart-ref li.color3::before {
    background: #37BA9D;
}

.chart-ref li.color4::before {
    background: #F8D800;
}

.chart-ref li.color5::before {
    background: #004E70;
}

.chart-ref li.color6::before {
    background: #28B292;
}

div.content-box.no-bg {
    background: none;
    border: none;
}

.rad-container {
    float: left;
    margin-right: 30px;
    position: relative;
}

.simulation {
    color: #999;
    margin-top: 5px;
}

.simulation label {
    font-size: 16px;
}

.shock-input-td {
    width: 85px !important;
    padding: 3px 5px !important;
}

.shock-input {
    width: 100% !important;
    border: 0 !important;
    text-align: center;
}


/* Webkit browsers like Safari and Chrome */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* For Firefox */

input[type='number'] {
    -moz-appearance: textfield;
}

.selected-shock {
    color: #999;
}

.not-selected-shock {
    color: transparent;
}

strong {
    color: #3A3A3A !important;
}

.chart-ref li.color1::before {
    background: #0092FC;
}

.chart-ref li.color2::before {
    background: #FF455C;
}

.chart-ref li.color3::before {
    background: #37BA9D;
}

.chart-ref li.color4::before {
    background: #004E70;
}

.chart-ref li.color5::before {
    background: #F8D800;
}

.chart-ref li.color6::before {
    background: #00ff00;
}

.chart-options {
    line-height: 1.2;
    margin-left: 190px;
    margin-bottom: 15px;
}

.chart-options li {
    color: #999;
    display: inline;
    font-size: 11px;
    white-space: nowrap;
    margin: 10px;
    padding-left: 20px;
    cursor: pointer;
}

.chart-options li.download {
    background: url("/AngularSrc/assets/images/download_grey.png") 0 50% no-repeat;
}

.chart-options li.delete {
    background: url("/AngularSrc/assets/images/noun_997234_cc.png") 0 50% no-repeat;
}

.chart-options li.drag {
    background: url("/AngularSrc/assets/images/drag.png") 0 50% no-repeat;
}

.devStd,
.valor {
    display: none;
}


/*General*/

body {
    background: #f7f7f7;
    font-family: 'Roboto', sans-serif;
}

ul {
    margin-bottom: 0;
}

.button {
    border-radius: 5px;
    border: none;
    margin: 0 auto;
    text-align: center;
}

.button:hover {
    cursor: pointer;
    opacity: 0.4;
}

a,
a:hover {
    text-decoration: none;
}

.btn-blue {
    background-color: #089EF9;
    margin-top: 50px;
    padding: 7px 0;
    width: 240px;
    color: #FFF !important;
}

.form-control {
    color: #3A3A3A;
    border: 1px solid #CCC;
    border-radius: 3px;
    height: 51px;
    margin-bottom: 20px;
}

.dropdown-menu {
    border: 1px solid #E6E6E6;
    border-radius: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    margin: -1px 0 0;
    min-width: 100%;
}

.dropdown-item:active {
    background: #E7EAEC;
    color: #3A3A3A;
}

.modal-content {
    left: 50%;
    margin-top: -200px;
    margin-left: -300px;
    position: absolute;
    top: 50%;
    width: 600px;
}

.content-wrap {
    height: 100%;
    overflow: auto;
    margin-top: 240px;
}

.no-data {
    width: 400px;
    margin: 50px auto;
    padding: 0;
    text-align: center;
}

.no-data p {
    color: #999;
    font-size: 30px;
    line-height: 39px;
    margin: 0;
}

.filter-bar {
    background: #f7f7f7;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    color: #999;
    float: left;
    font-size: 13px;
    padding: 23px 50px;
    position: fixed;
    top: 163px;
    width: 100%;
    z-index: 1;
}

.filters * {
    line-height: 30px;
    vertical-align: middle;
}

.filters h2 {
    color: #3A3A3A;
    float: left;
    font-size: 16px;
    margin-bottom: 0;
    font-weight: bold;
}

.filters label {
    display: inline;
    margin-right: 6px;
}

.filters .icon-info {
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

.filters .filter-option {
    float: left;
    margin-left: 20px;
    cursor: pointer;
}

.filters .dropdown {
    display: inline-block;
}

.filters a.icon-link {
    color: #999;
    display: inline-block;
    margin-right: 15px;
    padding-left: 35px;
}

.filters a.icon-link:last-child {
    margin-right: 0;
}

.filters a.icon-download:hover,
.filters a.icon-link.active {
    color: #089EF9;
}

.filters a.icon-graphics {
    background: url("/AngularSrc/assets/images/graficos-gris.png") 0 0 no-repeat;
}

.filters a.icon-tables.active {
    background: url("/AngularSrc/assets/images/graficos-celeste.png") 0 0 no-repeat;
}

.filters a.icon-tables {
    background: url("/AngularSrc/assets/images/tablas-gris.png") 0 0 no-repeat;
}

.filters a.icon-tables.active {
    background: url("/AngularSrc/assets/images/tablas-celeste.png") 0 0 no-repeat;
}

.filters a.icon-download {
    background: url("/AngularSrc/assets/images/download.png") 0 50% no-repeat;
    color: #089EF9;
    padding-left: 24px;
}

.center-container .background-white {
    background-color: #FFF;
}

.center-container .tables-container {
    position: relative;
    margin-top: 30px;
}

.center-container .tables-container .header-years-container,
.center-container .tables-container .header-title-1-container,
.center-container .tables-container .table-content-container {
    position: relative;
    float: left;
    padding: 0;
}

.center-container .tables-container .header-years-container .year-number-container,
.center-container .tables-container .header-years-container .space-container {
    position: relative;
    float: left;
    height: 25px;
    background-color: #E7EAEC;
    text-align: center;
    /*padding: 0;*/
    border: 1px solid #CCC;
}

.center-container .tables-container .header-years-container .space-container {
    border-top: none;
}

.center-container .tables-container .header-years-container .year-number-container .year-number-box {
    color: #3A3A3A;
    font-size: 13px;
    margin: 0;
}

.center-container .tables-container .header-title-1-container .header-title-1-box {
    background-color: #E7EFF4;
    position: relative;
    float: left;
    height: 30px;
    padding: 0;
    text-align: center;
}

.center-container .tables-container .header-title-1-container .header-title-1-box .header-title-1 {
    color: #089EF9;
    font-size: 13px;
    margin: 0;
    line-height: 30px;
}

.center-container .tables-container .table-content-container .space-container,
.center-container .tables-container .table-content-container .year-number-container {
    position: relative;
    float: left;
    height: 25px;
}

.center-container .tables-container .table-content-container .space-container {
    padding-left: 30px;
}

.center-container .tables-container .table-content-container .space-container .title-left-box,
.center-container .tables-container .table-content-container .year-number-container .year-number-box {
    font-size: 13px;
    margin: 0;
    color: #999;
}

.center-container .tables-container .table-content-container .year-number-container {
    text-align: center;
    border-left: 1px solid #CCC;
    max-width: 88px;
}

.after{
    cursor: pointer;
    display:block;
    position:absolute;
    top:0;
    right:40%;
    width:3.2em;
    height:2.8em;
  }
    
  .tooltip {
    font-size: 13px;
    visibility: hidden;
    background-color: #fff;
    color: #999;
    border: 1px solid #E6E6E6;
    padding: 5px;
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    top: 2.1em;
    left: -2.4em;
    right: auto;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  
  
  .after:hover + .tooltip {
    visibility: visible;
    transition: opacity 0.5s ease;
    opacity: 1;
  }

.center-container .tables-container .table-content-container .year-number-container h1 {
    text-overflow: ellipsis;
    overflow: hidden;
    flex-wrap: nowrap;
}

.title-left-box {
    max-width: fit-content;
}

.modal-dialog {
    max-width: 400px;
}

#whatsthis .modal-dialog {
    max-width: 560px;
    height: 600px;
}

.modal-content {
    border: 1px solid #E6E6E6;
    border-radius: 0;
    color: #999;
    font-size: 13px;
}

.modal-header,
.modal-body {
    padding: 0;
}

.modal-header {
    border: none;
}

.modal-title {
    color: #3A3A3A;
    font-weight: 300;
}

.whats-this {
    font-size: 14px;
}

.whats-this .modal-header {
    background: #089EF9;
    font-size: 18px;
    font-weight: 500;
    padding: 80px 40px 20px;
}

.whats-this .modal-title {
    color: #fff;
}

.whats-this a.close {
    background: url("/AngularSrc/assets/images/close.png") no-repeat 0 0;
    height: 16px;
    opacity: 1;
    right: 20px;
    top: 20px;
    width: 16px;
}

.whats-this .modal-body {
    padding: 40px;
}

.width1060 {
    margin: 0 auto 20px;
    max-width: 1060px;
    overflow: hidden;
}

.graph-boxes {
    display: flex;
    justify-content: space-between;
}

.half-box {
    background: #fff;
    border: 1px solid #E6E6E6;
    float: left;
    margin-top: 20px;
    min-height: 240px;
    padding: 30px;
    width: 49%;
}

.half-box h2 {
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
}

.chart-ref {
    line-height: 1.2;
    padding: 0;
    margin: 20px 0;
}

.chart-ref li {
    color: #999;
    display: inline;
    font-size: 11px;
    margin-right: 20px;
    white-space: nowrap;
}

.chart-ref li::before {
    background: #999;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 8px;
    margin-right: 6px;
    width: 8px;
}

.chart-ref li.color1::before {
    background: #0092FC;
}

.chart-ref li.color2::before {
    background: #37BA9D;
}

.chart-ref li.color3::before {
    background: #F8D800;
}

.chart-ref li.color4::before {
    background: #F8D800;
}

.chart-ref li.color5::before {
    background: #004E70;
}

.chart-ref li.color6::before {
    background: #28B292;
}

.chart {
    min-height: 250px;
}

.content-box {
    background: #fff;
    border: 1px solid #E6E6E6;
    font-size: 13px;
    margin-top: 20px;
}

.title-blue,
.title-blue-16 {
    color: #089EF9;
    font-weight: 500;
}

.content-box table td input[type="checkbox"],
input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 1em;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.content-box table td label,
label.chk {
    position: relative;
    display: inline-block;
    font-weight: 400;
    margin: 0;
    text-indent: 24px;
    min-width: calc(1em + 2px);
}

.content-box table td label:after,
.content-box table td label:before,
label.chk::after,
label.chk::before {
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid transparent;
    z-index: 0;
    position: absolute;
    left: 0;
    top: calc(50% - 8px);
    background-color: transparent;
}

.content-box table td label:before,
label.chk::before {
    background-color: #fff;
    border-color: #D8D8D8;
}

.content-box table td label:after,
label.chk::after {
    -webkit-transform: scale(.4) !important;
    -ms-transform: scale(.4) !important;
    transform: scale(.4) !important;
}

.content-box table td input:checked~label,
input:checked~label {
    color: #3A3A3A;
}

.content-box table td input[type="number"] {
    border: 1px solid #D9D9D9;
    margin: -5px 0;
    text-align: center;
    width: 92px;
}

.no-data .no-data-image img {
    margin-bottom: 200px;
    margin-left: 50px;
}

.no-data-image img {
    position: relative;
    top: -130px;
    left: 260px !important;
    max-width: 35%;
    margin: 0;
}

.no-data-text ul {
    text-align: left;
    list-style: circle;
    margin-top: 10px;
    margin-bottom: 10px;
}

.error {
    display: flex;
    justify-self: end;
    margin-top: 20px;
    max-height: 40px;
    align-items: center;
}

div.content-box.no-bg {
    background: none;
    border: none;
}

.half-box {
    margin-left: 10px;
    height: 450px !important;
}

.content-box table td input:checked~label:after,
input:checked~label.chk::after {
    background-color: #089EF9 !important;
}

.content-box[_ngcontent-c8] table[_ngcontent-c8] td[_ngcontent-c8] input[_ngcontent-c8]:checked~label[_ngcontent-c8],
input[_ngcontent-c8]:checked~label[_ngcontent-c8] {
    color: #3A3A3A;
    font-weight: bold;
}

.dynamic-year-error {
    border: solid 1px #dc3545 !important;
}

.text-bold {
    font-weight: bold !important;
}

#dinamica-balance .future,
#dinamica-deuda .future {
    background-color: #d3e1ea !important;
}

#dinamica-balance tr:nth-of-type(odd)>td.future,
#dinamica-deuda tr:nth-of-type(odd)>td.future {
    background-color: #f4f6f7 !important;
}

.initialYear,
.finalYear {
    max-width: 90%;
    border: 1px solid #D9D9D9 !important;
}

.chart-ref {
    line-height: 1.2;
    padding: 0;
    margin: 20px 0;
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
}

.chart-ref li {
    color: #999;
    display: inline;
    font-size: 11px;
    margin-right: 20px;
    white-space: nowrap;
    padding: 2px;
}

.chart-ref li::before {
    background: #999;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 8px;
    margin-right: 6px;
    width: 8px;
}

.chart-ref li.color-none::before {
    background: transparent !important;
}

.chart-ref li.color1::before {
    background: #0092FC;
}

.chart-ref li.color2::before {
    background: #FF455C;
}

.chart-ref li.color3::before {
    background: #37BA9D;
}

.chart-ref li.color4::before {
    background: #F8D800;
}

.chart-ref li.color5::before {
    background: #004E70;
}

.chart-ref li.color6::before {
    background: #28B292;
}

.sesion {
    cursor: pointer;
}

.spinner {
    width: 100px;
    margin: auto 50%;
}
