﻿<!-- ReSharper disable Html.TagNotResolved -->
<top-navbar-asd (isLoading)="loadingHandler($event)" [ExternalAlert]="ASDAlert"></top-navbar-asd>

<div class="filter-bar" [hidden]="bigLoader">
    <div class="filters float-left">
        <h2>{{'ASD.DYNAMIC_OF_DEBT' | translate}}</h2>
        <a data-toggle="modal" data-target="#whatsthis" title="What's this?" class="icon-info"><img
                src="/AngularSrc/assets/images/Group-4.png" width="18" height="18" /></a>
    </div>
    <div class="filters float-right" *ngIf="tables">
        <div class="filter-option dropdown">
            <img src="/AngularSrc/assets/images/loader.gif" alt="Loading"
                style="width:30px;height:30px;margin-right:10px" *ngIf="downloading" />
            <a class="download icon-link icon-download" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">{{'SHARED.DOWNLOAD_RESULTS' | translate}}</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="add-data">
                <a class="dropdown-item"
                    (click)="exportTable(['PRIMARY_BALANCE', 'DEBT'])">{{'SHARED.DOWNLOAD_RESULTS' | translate}}</a>
                <a class="dropdown-item"
                    (click)="exportTable(['PRIMARY_BALANCE'])">{{'GRAPHS.ASD_PRIMARY_BALANCE' | translate }}</a>
                <a class="dropdown-item"
                    (click)="exportTable(['DEBT'])">{{'GRAPHS.ASD_TOTAL_DEBT' | translate  }}</a>
            </div>
        </div>
    </div>
</div>

<div class="content-wrap">
    <div class="width1060">
        <div *ngIf="!noData && !bigLoader && topNav && dataReady">
            <div class="content-box">
                <div class="instruction row">
                    <div class="col-md-6">
                        <p class="title-blue-16">{{'ASD.DYNAMIC_OF_DEBT_SIMULATION_TITLE' | translate}}</p>
                    </div>
                    <div class="col-md-4 text-right">
                        <p class="text-danger" style="margin-top:10px" [hidden]="!noShockSelected">
                            {{'ERRORS.MIN_ONE_SHOCK' | translate}}.</p>
                    </div>
                    <div class="col-md-2 row">
                        <div class="col-md-10">
                            <button class="button btn-blue float-right" (click)="getDynamicsOfDebt()"
                                style="width: 94px; margin-top: 0"
                                [disabled]="isLoading">{{'SHARED.SIMULATE_BUTTON' | translate}}</button>
                        </div>

                        <div class="col-md-2" style="padding:0" *ngIf="isLoading">
                            <img src="/AngularSrc/assets/images/loader.gif" alt="Loading"
                                style="width: 30px; margin-top: 5px" />
                        </div>
                    </div>
                </div>

                <table class="table-striped col-12 checkbox">
                    <colgroup>
                        <col class="col-4">
                        <col class="col-1">
                        <col class="col-1">
                        <col class="col-4">
                        <col class="col-1">
                        <col class="col-1">
                    </colgroup>
                    <thead class="no-bg">
                        <tr>
                            <th>{{'ASD.DYNAMIC_OF_DEBT_SIMULATION_2ND_TITLE' | translate}}</th>
                            <th>{{'SHARED.START_DATE' | translate}}</th>
                            <th>{{'SHARED.END_DATE' | translate}}</th>
                            <th></th>
                            <th>{{'ASD.STANDARD_DESVIATION' | translate}}</th>
                            <th>{{'SHARED.VALUES' | translate | uppercase}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="shockRow">
                            <td>
                                <input type="checkbox" id="chkTasa" [(ngModel)]="shock_tipo_cambio.checked" />
                                <label class="shock"
                                    [ngClass]="{'text-bold': shock_tipo_cambio.checked}">{{'ASD.DYNAMIC_OF_DEBT_SIMULATION_CHANGE_TYPE' | translate }}</label>
                            </td>
                            <td class="shock-input-td">
                                <input type="number" class="text-bold shock-input initialYear"
                                    [disabled]="!shock_tipo_cambio.checked" [(ngModel)]="shock_tipo_cambio.Ti" />
                            </td>
                            <td class="shock-input-td">
                                <input type="number" class="text-bold shock-input finalYear"
                                    [disabled]="!shock_tipo_cambio.checked" [(ngModel)]="shock_tipo_cambio.Tf" />
                            </td>
                            <td class="text-right w-input shock-input-td">
                                {{'ASD.DYNAMIC_OF_DEBT_SIMULATION_STD_DESV_INPUT' | translate }}:
                                <input type="number" class="text-bold standardDeviation"
                                    [disabled]="!shock_tipo_cambio.checked" [(ngModel)]="shock_tipo_cambio.shock" />
                            </td>
                            <td class="shock-input-td">
                                <span type="text" class="text-bold shock-input"
                                    *ngIf="simulationResults && simulationResults.all_shocks">{{simulationResults.all_shocks.tipo_cambio_desv_std | number:'1.2-2'}}</span>
                            </td>
                            <td class="shock-input-td">
                                <span type="text" class="text-bold shock-input"
                                    *ngIf="simulationResults && simulationResults.all_shocks">{{simulationResults.all_shocks.tipo_cambio_desv_std * shock_tipo_cambio.shock | number:'1.2-3'}}</span>
                            </td>
                        </tr>
                        <tr class="shockRow">
                            <td>
                                <input type="checkbox" id="chkIngreso" [(ngModel)]="shock_ingreso_total.checked" />
                                <label class="shock"
                                    [ngClass]="{'text-bold': shock_ingreso_total.checked}">{{'ASD.SHOKS_TABLE_TOTAL_INCOME' | translate }}</label>
                            </td>
                            <td class="shock-input-td">
                                <input type="number" class="text-bold shock-input initialYear"
                                    [disabled]="!shock_ingreso_total.checked" [(ngModel)]="shock_ingreso_total.Ti" />
                            </td>
                            <td class="shock-input-td">
                                <input type="number" class="text-bold shock-input finalYear"
                                    [disabled]="!shock_ingreso_total.checked" [(ngModel)]="shock_ingreso_total.Tf" />
                            </td>
                            <td class="text-right w-input shock-input-td">
                                {{'ASD.DYNAMIC_OF_DEBT_SIMULATION_STD_DESV_INPUT' | translate}} : <input type="number"
                                    class="text-bold standardDeviation" [disabled]="!shock_ingreso_total.checked"
                                    [(ngModel)]="shock_ingreso_total.shock" />
                            </td>
                            <td class="shock-input-td">
                                <span type="text" class="text-bold shock-input"
                                    *ngIf="simulationResults && simulationResults.all_shocks">{{simulationResults.all_shocks.ingreso_total_desv_std | number:'1.2-2'}}</span>
                            </td>
                            <td class="shock-input-td">
                                <span type="text" class="text-bold shock-input"
                                    *ngIf="simulationResults && simulationResults.all_shocks">{{simulationResults.all_shocks.ingreso_total_desv_std * shock_ingreso_total.shock | number:'1.2-3'}}</span>
                            </td>
                        </tr>
                        <tr class="shockRow">
                            <td>
                                <input type="checkbox" id="chkExtranjera"
                                    [(ngModel)]="shock_tasa_int_moneda_extranjera.checked" />
                                <label class="shock"
                                    [ngClass]="{'text-bold': shock_tasa_int_moneda_extranjera.checked}">{{'ASD.DYNAMIC_OF_DEBT_SIMULATION_FOREIGN_GROW_RATE' | translate }}</label>
                            </td>
                            <td class="shock-input-td">
                                <input type="number" class="text-bold shock-input initialYear"
                                    [disabled]="!shock_tasa_int_moneda_extranjera.checked"
                                    [(ngModel)]="shock_tasa_int_moneda_extranjera.Ti" />
                            </td>
                            <td class="shock-input-td">
                                <input type="number" class="text-bold shock-input finalYear"
                                    [disabled]="!shock_tasa_int_moneda_extranjera.checked"
                                    [(ngModel)]="shock_tasa_int_moneda_extranjera.Tf" />
                            </td>
                            <td class="text-right w-input shock-input-td">
                                {{'ASD.DYNAMIC_OF_DEBT_SIMULATION_BPS_INPUT' | translate }}: <input type="number"
                                    class="text-bold standardDeviation"
                                    [disabled]="!shock_tasa_int_moneda_extranjera.checked"
                                    [(ngModel)]="shock_tasa_int_moneda_extranjera.shock" />
                            </td>
                            <td class="shock-input-td">
                                <span type="text" class="text-bold shock-input devStd"></span>
                            </td>
                            <td class="shock-input-td">
                                <span type="text" class="text-bold shock-input valor"></span>
                            </td>
                        </tr>
                        <tr class="shockRow">
                            <td>
                                <input type="checkbox" id="chkLocal"
                                    [(ngModel)]="shock_tasa_int_moneda_local.checked" />
                                <label class="shock"
                                    [ngClass]="{'text-bold': shock_tasa_int_moneda_local.checked}">{{'ASD.DYNAMIC_OF_DEBT_SIMULATION_LOCAL_GROW_RATE' | translate }}</label>
                            </td>
                            <td class="shock-input-td">
                                <input type="number" class="text-bold shock-input initialYear"
                                    [disabled]="!shock_tasa_int_moneda_local.checked"
                                    [(ngModel)]="shock_tasa_int_moneda_local.Ti" />
                            </td>
                            <td class="shock-input-td">
                                <input type="number" class="text-bold shock-input finalYear"
                                    [disabled]="!shock_tasa_int_moneda_local.checked"
                                    [(ngModel)]="shock_tasa_int_moneda_local.Tf" />
                            </td>
                            <td class="text-right w-input shock-input-td">
                                {{'ASD.DYNAMIC_OF_DEBT_SIMULATION_BPS_INPUT' | translate }}: <input type="number"
                                    class="text-bold standardDeviation"
                                    [disabled]="!shock_tasa_int_moneda_local.checked"
                                    [(ngModel)]="shock_tasa_int_moneda_local.shock" />
                            </td>
                            <td class="shock-input-td">
                                <span type="text" class="text-bold shock-input devStd"></span>
                            </td>
                            <td class="shock-input-td">
                                <span type="text" class="text-bold shock-input valor"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span [hidden]="existsDynamicYearError===false" class="alert alert-danger error">{{shockErrMsg}}</span>
            <div class="center-container" [hidden]="!tables">
                <div class="tables-container" *ngIf="tables && topNav">
                    <table id="dinamica-años" class="col-md-12 header-years-container">
                        <tr class="col-md-4 space-container"></tr>
                        <tr class="col-md-1 year-number-container" *ngFor="let year of years">
                            <td class="year-number-box">{{year}}</td>
                        </tr>
                    </table>

                    <table id="dinamica-balance" class="table-striped">
                        <tr class="col-md-12 header-title-1-container">
                            <th class="col-md-12 text-center header-title-1-box">
                                <h1 class="header-title-1">{{'ASD.PRIMARY_BALANCE_SHOKS_TABLE_TITLE' | translate }}</h1>
                            </th>
                        </tr>

                        <tr class="table-content-container background-gray base-scenario selected-shock">
                            <ng-container
                                *ngIf="simulationResults && simulationResults.all_shocks.base_balance_primario_ingreso_total">

                                <td class="space-container">
                                    <h1 class="title-left-box">{{'ASD.BASE_SCENARY' | translate }}</h1>
                                </td>
                                <td class="year-number-container"
                                    *ngFor="let value of simulationResults.all_shocks.base_balance_primario_ingreso_total; let i = index"
                                    [ngClass]="{'future': i >= historics}">
                                    <h1 class="year-number-box">{{value | number:'1.2-2'}}%</h1>
                                    <span *ngIf="countShockValueLength(value) > maxShockShowValue" class="after"></span>
                                    <div class='tooltip'>
                                        {{value | number:'1.2-2' }}%
                                    </div>
                                </td>
                            </ng-container>
                        </tr>

                        <tr class="table-content-container background-gray change-rate selected-shock"
                            [hidden]="!shock_tipo_cambio.checked || simulationResults?.tipo_cambio?.balance_primario_ingreso_total?.length == 0">
                            <ng-container *ngIf="simulationResults && simulationResults.tipo_cambio">

                                <td class="space-container">
                                    <h1 class="title-left-box">{{'ASD.SHOKS_TABLE_CHANGE_TYPE' | translate }} </h1>
                                </td>
                                <td class="year-number-container"
                                    *ngFor="let value of simulationResults.tipo_cambio.balance_primario_ingreso_total; let i = index"
                                    [ngClass]="{'future': i >= historics}">
                                    <h1 class="year-number-box">{{value | number:'1.2-2' }}</h1>
                                    <span *ngIf="countShockValueLength(value) > maxShockShowValue" class="after"></span>
                                    <div class='tooltip'>
                                        {{value | number:'1.2-2' }}%
                                    </div>
                                </td>
                            </ng-container>
                        </tr>

                        <tr class="table-content-container background-white total-income selected-shock"
                            [hidden]="!shock_ingreso_total.checked">
                            <ng-container *ngIf="simulationResults && simulationResults.ingreso_total">

                                <td class="space-container">
                                    <h1 class="title-left-box">{{'ASD.DYNAMIC_OF_DEBT_RESULTS_SHOCK_STAGE' | translate}}
                                        {{'ASD.SHOKS_TABLE_TOTAL_INCOME' | translate }}</h1>
                                </td>
                                <td class="year-number-container"
                                    *ngFor="let value of simulationResults.ingreso_total.balance_primario_ingreso_total; let i = index"
                                    [ngClass]="{'future': i >= historics}">
                                    <h1 class="year-number-box">{{value | number:'1.2-2' }}%</h1>
                                    <span *ngIf="countShockValueLength(value) > maxShockShowValue" class="after"></span>
                                    <div class='tooltip'>
                                        {{value | number:'1.2-2' }}%
                                    </div>
                                </td>
                            </ng-container>
                        </tr>

                        <tr class="table-content-container background-gray foreign-rate selected-shock"
                            [hidden]="!shock_tasa_int_moneda_extranjera.checked">
                            <ng-container *ngIf="simulationResults && simulationResults.tasa_int_moneda_extranjera">

                                <td class="space-container">
                                    <h1 class="title-left-box">
                                        {{'ASD.DYNAMIC_OF_DEBT_RESULTS_SHOCK_STAGE_ABR' | translate}}
                                        {{'ASD.SHOKS_TABLE_FOREIGN_GROW_RATE' | translate }}</h1>
                                </td>
                                <td class="year-number-container"
                                    *ngFor="let value of simulationResults.tasa_int_moneda_extranjera.balance_primario_ingreso_total; let i = index"
                                    [ngClass]="{'future': i >= historics}">
                                    <h1 class="year-number-box">{{value | number:'1.2-2' }}%</h1>
                                    <span *ngIf="countShockValueLength(value) > maxShockShowValue" class="after"></span>
                                    <div class='tooltip'>
                                        {{value | number:'1.2-2' }}%
                                    </div>
                                </td>
                            </ng-container>
                        </tr>

                        <tr class="table-content-container background-white local-rate selected-shock"
                            [hidden]="!shock_tasa_int_moneda_local.checked">
                            <ng-container *ngIf="simulationResults && simulationResults.tasa_int_moneda_local">

                                <td class="space-container">
                                    <h1 class="title-left-box">
                                        {{'ASD.DYNAMIC_OF_DEBT_RESULTS_SHOCK_STAGE_ABR' | translate}}
                                        {{'ASD.SHOKS_TABLE_LOCAL_GROW_RATE' | translate }}</h1>
                                </td>
                                <td class="year-number-container"
                                    *ngFor="let value of simulationResults.tasa_int_moneda_local.balance_primario_ingreso_total; let i = index"
                                    [ngClass]="{'future': i >= historics}">
                                    <h1 class="year-number-box">{{value | number:'1.2-2' }}%</h1>
                                    <span *ngIf="countShockValueLength(value) > maxShockShowValue" class="after"></span>
                                    <div class='tooltip'>
                                        {{value | number:'1.2-2' }}%
                                    </div>
                                </td>
                            </ng-container>
                        </tr>

                        <tr class="table-content-container background-white all-shocks selected-shock"
                            [hidden]="!shock_ingreso_total.checked && !shock_tipo_cambio.checked && !shock_tasa_int_moneda_local.checked && !shock_tasa_int_moneda_extranjera.checked">
                            <ng-container
                                *ngIf="simulationResults && (simulationResults.tipo_cambio || simulationResults.ingreso_total || simulationResults.tasa_int_moneda_extranjera || simulationResults.tasa_int_moneda_local)">
                                <td class="space-container">
                                    <h1 class="title-left-box">{{'ASD.ALL_SHOKS' | translate }}</h1>
                                </td>
                                <td class="year-number-container"
                                    *ngFor="let value of simulationResults.all_shocks.balance_primario_ingreso_total; let i = index"
                                    [ngClass]="{'future': i >= historics}">
                                    <h1 class="year-number-box">{{value | number:'1.2-2' }}%</h1>
                                    <span *ngIf="countShockValueLength(value) > maxShockShowValue" class="after"></span>
                                    <div class='tooltip'>
                                        {{value | number:'1.2-2' }}%
                                    </div>
                                </td>
                            </ng-container>
                        </tr>
                    </table>

                    <table id="dinamica-deuda" class="table-striped">
                        <tr class="col-md-12 header-title-1-container">
                            <th class="col-md-12 text-center header-title-1-box">
                                <h1 class="header-title-1">{{'ASD.DEBT_SHOKS_TABLE_TITLE' | translate }}</h1>
                            </th>
                        </tr>

                        <tr class="table-content-container background-gray base-scenario selected-shock">
                            <ng-container *ngIf="simulationResults">

                                <td class="space-container">
                                    <h1 class="title-left-box">{{'ASD.BASE_SCENARY' | translate }}</h1>
                                </td>
                                <td class="year-number-container"
                                    *ngFor="let value of simulationResults.all_shocks.base_deuda_total_ingreso_total; let i = index"
                                    [ngClass]="{'future': i >= historics}">
                                    <h1 class="year-number-box">{{value | number:'1.2-2' }}%</h1>
                                    <span *ngIf="countShockValueLength(value) > maxShockShowValue" class="after"></span>
                                    <div class='tooltip'>
                                        {{value | number:'1.2-2' }}%
                                    </div>
                                </td>
                            </ng-container>
                        </tr>

                        <tr class="table-content-container background-gray change-rate selected-shock"
                            [hidden]="!shock_tipo_cambio.checked">
                            <ng-container *ngIf="simulationResults && simulationResults.tipo_cambio">

                                <td class="space-container">
                                    <h1 class="title-left-box">{{'ASD.DYNAMIC_OF_DEBT_RESULTS_SHOCK_STAGE' | translate}}
                                        {{'ASD.SHOKS_TABLE_CHANGE_TYPE' | translate }}</h1>
                                </td>
                                <td class="year-number-container"
                                    *ngFor="let value of simulationResults.tipo_cambio.deuda_total_ingreso_total; let i = index"
                                    [ngClass]="{'future': i >= historics}">
                                    <h1 class="year-number-box">{{value | number:'1.2-2' }}%</h1>
                                    <span *ngIf="countShockValueLength(value) > maxShockShowValue" class="after"></span>
                                    <div class='tooltip'>
                                        {{value | number:'1.2-2' }}%
                                    </div>
                                </td>
                            </ng-container>
                        </tr>

                        <tr class="table-content-container background-white total-income selected-shock"
                            [hidden]="!shock_ingreso_total.checked">
                            <ng-container *ngIf="simulationResults && simulationResults.ingreso_total">

                                <td class="space-container">
                                    <h1 class="title-left-box">{{'ASD.DYNAMIC_OF_DEBT_RESULTS_SHOCK_STAGE' | translate}}
                                        {{'ASD.SHOKS_TABLE_TOTAL_INCOME' | translate }}</h1>
                                </td>
                                <td class="year-number-container"
                                    *ngFor="let value of simulationResults.ingreso_total.deuda_total_ingreso_total; let i = index"
                                    [ngClass]="{'future': i >= historics}">
                                    <h1 class="year-number-box">{{value | number:'1.2-2' }}%</h1>
                                    <span *ngIf="countShockValueLength(value) > maxShockShowValue" class="after"></span>
                                    <div class='tooltip'>
                                        {{value | number:'1.2-2' }}%
                                    </div>
                                </td>
                            </ng-container>
                        </tr>

                        <tr class="table-content-container background-gray foreign-rate selected-shock"
                            [hidden]="!shock_tasa_int_moneda_extranjera.checked">
                            <ng-container *ngIf="simulationResults && simulationResults.tasa_int_moneda_extranjera">

                                <td class="space-container">
                                    <h1 class="title-left-box">
                                        {{'ASD.DYNAMIC_OF_DEBT_RESULTS_SHOCK_STAGE_ABR' | translate}}
                                        {{'ASD.SHOKS_TABLE_FOREIGN_GROW_RATE' | translate }}</h1>
                                </td>
                                <td class="year-number-container"
                                    *ngFor="let value of simulationResults.tasa_int_moneda_extranjera.deuda_total_ingreso_total; let i = index"
                                    [ngClass]="{'future': i >= historics}">
                                    <h1 class="year-number-box">{{value | number:'1.2-2' }}%</h1>
                                    <span *ngIf="countShockValueLength(value) > maxShockShowValue" class="after"></span>
                                    <div class='tooltip'>
                                        {{value | number:'1.2-2' }}%
                                    </div>
                                </td>
                            </ng-container>
                        </tr>

                        <tr class="table-content-container background-white local-rate selected-shock"
                            [hidden]="!shock_tasa_int_moneda_local.checked">
                            <ng-container *ngIf="simulationResults && simulationResults.tasa_int_moneda_local">

                                <td class="space-container">
                                    <h1 class="title-left-box">
                                        {{'ASD.DYNAMIC_OF_DEBT_RESULTS_SHOCK_STAGE_ABR' | translate}}
                                        {{'ASD.SHOKS_TABLE_LOCAL_GROW_RATE' | translate }}</h1>
                                </td>
                                <td class="year-number-container"
                                    *ngFor="let value of simulationResults.tasa_int_moneda_local.deuda_total_ingreso_total; let i = index"
                                    [ngClass]="{'future': i >= historics}">
                                    <h1 class="year-number-box">{{value | number:'1.2-2' }}%</h1>
                                    <span *ngIf="countShockValueLength(value) > maxShockShowValue" class="after"></span>
                                    <div class='tooltip'>
                                        {{value | number:'1.2-2' }}%
                                    </div>
                                </td>
                            </ng-container>
                        </tr>

                        <tr class="table-content-container background-white all-shocks selected-shock"
                            [hidden]="!shock_ingreso_total.checked && !shock_tipo_cambio.checked && !shock_tasa_int_moneda_local.checked && !shock_tasa_int_moneda_extranjera.checked">
                            <ng-container
                                *ngIf="simulationResults && (simulationResults.tipo_cambio || simulationResults.ingreso_total || simulationResults.tasa_int_moneda_extranjera || simulationResults.tasa_int_moneda_local)">

                                <td class="space-container">
                                    <h1 class="title-left-box">{{'ASD.ALL_SHOKS' | translate }}</h1>
                                </td>
                                <td class="year-number-container"
                                    *ngFor="let value of simulationResults.all_shocks.deuda_total_ingreso_total; let i = index"
                                    [ngClass]="{'future': i >= historics}">
                                    <h1 class="year-number-box">{{value | number:'1.2-2' }}%</h1>
                                    <span *ngIf="countShockValueLength(value) > maxShockShowValue" class="after"></span>
                                    <div class='tooltip'>
                                        {{value | number:'1.2-2' }}%
                                    </div>
                                </td>
                            </ng-container>
                        </tr>
                    </table>
                </div>
            </div>

            <div *ngIf="charts && chartType.value && chartType.value != '' || chartType.value != null">
                <div class="content-box no-bg">
                    <div class="selections">
                        <span class="title-blue-16">{{'GRAPHS.TYPE_SELECTOR' | translate }}:</span>
                        <div class="dropdown">
                            <select class="form-control" [(ngModel)]="chartType.value" [value]='chartType.value'
                                (change)="changeChartType($event)">
                                <option *ngFor="let type of chartTypes" value="{{type.value}}">{{type.caption}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="balance-container" class="half-box" *ngIf="charts">
                    <div>
                        <ul class="chart-options">
                            <li class="download" (click)="exportChart('balance')">
                                {{'SHARED.DOWNLOAD_BUTTON' | translate }}</li>
                            <li class="delete" (click)="deleteChart('balance-container')">
                                {{'SHARED.DELETE' | translate }}</li>
                            <li class="drag"></li>
                        </ul>
                        <div id="balance" *ngIf="currentBalanceData && currentBalanceData.length > 0">
                            <h2>{{'GRAPHS.ASD_PRIMARY_BALANCE' | translate }} (%)</h2>
                            <app-chart class="chart" [datasets]="currentBalanceData" [labels]="chartLabels"
                                [options]="chartOptions" [colors]="currentChartColors" [legend]="chartLegends"
                                [chartType]="chartType.value">
                            </app-chart>
                            <ul class="chart-ref">
                                <li *ngFor="let shock of currentBalanceData; let i = index" class="color{{i+1}}"
                                    [ngClass]="{'color-none': currentBalanceData?.length === 1}">
                                    <span [hidden]='currentBalanceData?.length === 1'>{{shock.label}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div id="debt-container" class="half-box" *ngIf="charts">
                    <div>
                        <ul class="chart-options">
                            <li class="download" (click)="exportChart('deuda')">
                                {{'SHARED.DOWNLOAD_BUTTON' | translate }}</li>
                            <li class="delete" (click)="deleteChart('debt-container')">
                                {{'SHARED.DELETE' | translate }}</li>
                            <li class="drag"></li>
                        </ul>
                        <div id="deuda" *ngIf="currentDebtData && currentDebtData.length > 0">
                            <h2>{{'GRAPHS.ASD_TOTAL_DEBT' | translate }} (%)</h2>
                            <app-chart class="chart" [datasets]="currentDebtData" [labels]="chartLabels"
                                [options]="chartOptions" [colors]="currentChartColors" [legend]="chartLegends"
                                [chartType]="chartType.value"></app-chart>
                            <ul class="chart-ref">
                                <li *ngFor="let shock of currentDebtData; let i = index" class="color{{i+1}}"
                                    [ngClass]="{'color-none': currentDebtData?.length === 1}">
                                    <span [hidden]='currentDebtData?.length === 1'>{{shock.label}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="no-data" *ngIf="noData && !pythonReady">
        <div class="no-data-text">
            <p><strong>{{ 'ERRORS.NO_DATA' | translate}}</strong></p>
            <p>{{ 'ERRORS.START_TO_ENTRY_DATA_HERE' | translate}}!</p>
        </div>
        <div class="no-data-text" *ngIf="noResultMessage && noResultMessage.length > 0">
            <p><small>{{'ERRORS.FOLOWING_COLUMNS' | translate}}</small></p>
            <ul>
                <li *ngFor="let column of noResultMessage"><small>{{column}}</small></li>
            </ul>
        </div>

        <div class="no-data-image">
            <img src="/AngularSrc/assets/images/shape_arrow.png" alt="" />
        </div>
    </div>

    <div class="no-data" *ngIf="bigLoader || !topNav || !pythonReady">
        <img src="/AngularSrc/assets/images/loader.gif" alt="Loading" class="spinner" />
    </div>

    <div class="no-data" *ngIf="error && topNav">
        <p><strong>{{'ERRORS.GENERIC' | translate}}</strong></p>
    </div>
</div>


<div class="modal fade" id="whatsthis" tabindex="-1" role="dialog" aria-labelledby="whatsthis" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content whats-this">
            <div class="modal-header">
                <h5 class="modal-title">{{'ASD.DYNAMIC_OF_DEBT_HELP_MAIN_TITLE' | translate}}</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close"></a>
            </div>
            <div class="modal-body">
                <p><strong>{{'ASD.DYNAMIC_OF_DEBT_HELP_1ST_TITLE' | translate}}</strong></p>
                <p>
                    {{'TEXTS.ASD_DYNAMIC_DEBT_HELP_1' | translate}}.
                </p>
                <p><strong>{{'ASD.DYNAMIC_OF_DEBT_HELP_2ND_TITLE' | translate}}</strong></p>
                <p>
                    <span [innerHTML]="formule_help"></span>
                    <a href="/AngularSrc/assets/docs/IADB_SOFIS_Manual_de_Uso.pdf" target="_blank">
                        {{'SHARED.SOFIS_MANUAL' | translate}}</a>.
                </p>
            </div>
        </div>
    </div>
</div>