<div class="chart-comp" *ngIf="canvasReady && instanceName" style="display: block;">
    <canvas width="{{width}}" height="{{height}}" id="{{instanceName}}"></canvas>
</div>

<div *ngIf="!canvasReady || !instanceName">
    <img src="/AngularSrc/assets/images/loader.gif" alt="Loading" class="spinner" />
</div>