﻿<header class="header-box">
    <ul class="profile-help">
        <li><a class="user" routerLink="/perfil">{{username}}</a></li>
        <li><a class="help" routerLink="/ayuda">Ayuda</a></li>
    </ul>
    <div class="logo">
        <figure>
            <img src="/AngularSrc/assets/images/logo-blanco-chico.png" width="87" height="32" />
        </figure>
    </div>
    <div class="header-tabs">
        <ul class="nav nav-tabs">
            <li><a routerLink="/aproximacion-inercial">mfmp</a></li>
            <li><a routerLink="/aproximacion-estandar">asd</a></li>
        </ul>
    </div>
    <div class="dropdown add-data">
        <a class="form-control" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ingresar datos
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="add-data">
            <a class="dropdown-item" routerLink="/macroeconomicas">Macroeconómicas</a>
            <a class="dropdown-item" routerLink="/ingresos">Ingresos</a>
            <a class="dropdown-item" routerLink="/gastos">Gastos</a>
            <a class="dropdown-item" routerLink="/deudas">Deuda</a>
        </div>
    </div>
</header>

<div class="row general-container terms-conditions">
    <div class="col-md-12">
        <img class="logo" src="/AngularSrc/assets/images/logo-azul.png" width="110" height="41">
        <h1 class="subtitle-center-box">Términos y Condiciones</h1>
        <h2 class="other-subtitle-box">Plantilla de Sostenibilidad Fiscal</h2>

        <div class="content-centered">
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
                imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
                porttitor eu, consequat vitae, eleifend ac, enim.
            </p>
            <p>
                Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut
                metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.
                Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus
                eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
                Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante
                tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
                Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
                Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.
            </p>

            <h3>Lorem ipsum Dolor</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
            </p>
            <p>
                Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
                arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
                pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
                vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
                imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo
                ligula, porttitor eu, consequat vitae, eleifend ac, enim.
            </p>
        </div>

    </div>
    <footer class="calltoaction">
        <div class="button btn-blue cancel-button">
            <a href="ID1-Login.html">No Acepto</a>
        </div>
        <div class="button btn-blue">
            <a href="#" title="Acepto">Acepto</a>
        </div>
    </footer>
</div>