﻿/* You can add global styles to this file, and also import other style files */
@import '~handsontable/dist/handsontable.full.css';

body {
    background: #f7f7f7;
    font-family: 'Roboto', sans-serif;
}

.table-data tr > td:first-child {
    text-align: center !important;
}

.handsontable {
    color: #999;
    font-size: 13px;
}

.handsontable th {
    background-color: #E7EAEC;
    color: #3A3A3A;
    font-weight: bold;
    white-space: pre-line;
    vertical-align: middle;
}

.ht_clone_top th,
.ht_clone_left th,
.ht_master th,
.ht_clone_top_left_corner th {
    border: 1px solid #ccc;
}

.ht_master tr > td,
.ht_clone_left tr > td,
.ht_clone_top tr > td,
.ht_clone_top_left_corner tr > td {
    text-align: center;
    vertical-align: middle;
    border-bottom: none;
    border-right: 1px solid #ccc;
    min-width: 150px;
}

.ht_master tr > td.text-bold,
.ht_clone_left tr > td.text-bold,
.ht_clone_top tr > td.text-bold,
.ht_clone_top_left_corner tr > td.text-bold {
    color: #3A3A3A;
    font-weight: 700;

}

.ht_master tr > td:first-child,
.ht_clone_left tr > td:first-child,
.ht_clone_top tr > td:first-child,
.ht_clone_top_left_corner tr > td:first-child {
    color: #3A3A3A;
    font-weight: 700;
    min-width: 280px;
    text-align: left;
    padding: 2px 20px;
    height: 25px !important;
}

.data tr > td:first-child {
    text-align: center !important;
}

.ht_master tr:nth-of-type(even) > td,
.ht_clone_left tr:nth-of-type(even) > td,
.ht_clone_top tr:nth-of-type(even) > td,
.ht_clone_top_left_corner tr:nth-of-type(even) > td {
    background-color: #F7F7F7;
}

.ht_master tr:nth-of-type(odd) > td,
.ht_clone_left tr:nth-of-type(odd) > td,
.ht_clone_top tr:nth-of-type(odd) > td,
.ht_clone_top_left_corner tr:nth-of-type(odd) > td {
    background-color: #FFF;
}

.children-account-cell {
    color: #999 !important;
    font-weight: normal !important;
    padding-left: 40px !important;
}

.ht_master tr > td.future,
.ht_clone_top tr > td.future,
.ht_clone_left tr > td.future,
.ht_clone_top_left_corner tr > td.future {
    background-color: rgb(216,240,255) !important;
}

.htCore tr > th:first-child,
.ht_master > th:first-child,
.ht_clone_top > th:first-child,
.ht_clone_left > th:first-child,
.ht_clone_top_left_corner > th:first-child {
    height: 109px !important;
}

.handsontable thead th .relative {
    padding: 2px 10px !important;
}
