﻿/*General*/
body {
    background: #f7f7f7;
    font-family: 'Roboto', sans-serif;
}

.button {
    border-radius: 5px;
    border: none;
    margin: 0 auto;
    text-align: center;
}

    .button:hover {
        cursor: pointer;
        opacity: 0.4;
    }

    .button a {
        color: #FFF !important;
        font-size: 16px;
        cursor: pointer;
        line-height: 32px;
    }

a, a:hover {
    text-decoration: none;
}

.btn-blue {
    background-color: #089EF9;
    margin-top: 50px;
    padding: 7px 0;
    width: 240px;
}


.form {
    margin: auto;
    max-width: 500px;
}

    .form label {
        text-transform: uppercase;
        color: #3A3A3A;
        font-size: 12px;
    }

.form-fields {
    margin-top: 60px;
}

.form-box {
    position: relative;
}

.form-control {
    color: #3A3A3A;
    border: 1px solid #CCC;
    border-radius: 3px;
    height: 51px;
    margin-bottom: 20px;
}

span.error {
    bottom: -20px;
    color: #F00;
    font-size: 13px;
    margin-bottom: 0;
    position: absolute;
}

/*Login, Register*/
.blue-column {
    background-color: #004E70;
    background-image: url(/AngularSrc/assets/images/img-banner.png);
    background-size: cover;
    height: 100%;
    padding: 40px;
}

    .blue-column .logo-page {
        display: inherit;
        line-height: 52px;
        margin: 0;
        position: relative;
    }

    .blue-column h1 {
        margin-top: 360px;
        color: #FFF;
        font-size: 17px;
        font-weight: 300;
        line-height: 50px;
        margin-bottom: 0;
        margin-left: 0;
        padding-left: 0;
        border-left: 0;
        display: inherit;
    }

    .blue-column h2 {
        color: #FFF;
        font-size: 32px;
        font-weight: 300;
        margin-top: -16px;
        position: absolute;
        top: 50%;
        width: calc(100% - 40px);
    }

        .blue-column h2 span {
            display: block;
            font-weight: bold;
        }

.content-column .signin-container {
    margin-bottom: 75px;
    padding: 45px 40px 0;
    text-align: right;
}

    .content-column .signin-container .signin-box {
        float: right;
    }

        .content-column .signin-container .signin-box span {
            margin-right: 10px;
            color: #999;
            font-size: 14px;
        }

        .content-column .signin-container .signin-box .register-button {
            cursor: pointer;
            color: #999;
            border: 1px solid #C6C6C6;
            border-radius: 23px;
            padding: 8px 30px;
        }

            .content-column .signin-container .signin-box .register-button:hover {
                background-color: #FFF;
            }

.content-column .center-column {
    padding-bottom: 70px;
}

    .content-column .center-column.vertical-centered {
        position: absolute;
        top: 50%;
    }

        .content-column .center-column.vertical-centered .form {
            position: relative;
            top: 50%;
        }

        .content-column .center-column.vertical-centered.login {
            margin-top: -185px;
        }

    .content-column .center-column .titles h1 {
        color: #3A3A3A;
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .content-column .center-column .titles p {
        color: #999;
        font-size: 16px;
        margin-bottom: 0;
    }

    .content-column .center-column .titles strong {
        color: #3A3A3A;
    }

.general-container {
    height: 794px;
    margin: 0;
    min-height: 100%;
    overflow: hidden;
    width: 100%;
}
