﻿<div class="row general-container">

    <div class="col-md-4 blue-column">
        <figure class="logo-page">
            <img src="../AngularSrc/assets/images/logo-blanco.png" width="120" height="44" />
        </figure>
        <h1>{{'SHARED.FISCAL_MANAGEMENT_DIVISION_TITLE' | translate}}</h1>
        <h2>{{'SHARED.FISCAL_TEMPLATE_TITLE' | translate}}</h2>
    </div>

    <div class="col-md-8 content-column">
        <div class="row">
            <header class="col-md-12 signin-container">
                <div class="signin-box">
                    <span class="sign-in-button">{{'LOGIN.REGISTER_LABEL' | translate}}</span>
                    <a class="register-button">{{'LOGIN.REGISTER_BUTTON' | translate}}</a>
                </div>
            </header>

            <div class="col-md-12 center-column login vertical-centered">
                <div class="form" *ngIf="showForm">
                    <div class="titles">
                        <h1>{{'LOGIN.PASSWORD_RECOVERY' | translate}}</h1>
                        <p>{{'LOGIN.PASSWORD_RECOVERY_DESCRIPTION' | translate}}</p>
                    </div>
                    <div class="form-fields">
                        <div class="form-box">
                            <label for="email">{{'PROFILE.INPUT_EMAIL' | translate}}</label>
                            <input id="email"
                                   name="email"
                                   type="email"
                                   class="form-control"
                                   placeholder="Username"
                                   [ngClass]="{'error': invalidEmail}"
                                   [(ngModel)]="email" />
                            <span class="error" *ngIf="invalidEmail">{{'LOGIN.INVALID_EMAIL' | translate}}</span>
                        </div>

                        <div class="button btn-blue" (click)="forgotPassword()">
                            <a>Enviar</a>
                        </div>

                        <div class="button" style="margin-top:20px" (click)="redirect()">
                            <a style="color:grey !important">{{'SHARED.CANCEL_BUTTON' | translate}}</a>
                        </div>

                    </div>
                </div>

                <div class="form" style="max-width:700px !important; margin-top: 100px" *ngIf="success">
                    <div class="titles">
                        <h1 style="color:#7ED321">{{'LOGIN.READY' | translate}}</h1>
                        <p>{{'LOGIN.RECOVERY_EMAIL_TEXT_1' | translate}} <strong>{{email}}</strong></p>
                        <p>{{'LOGIN.RECOVERY_EMAIL_TEXT_2'| translate}}</p>
                    </div>

                    <div class="button btn-blue" (click)="redirect()">
                        <a routerLink="/login">Ok</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>