﻿<top-navbar-mfmp (isLoading)="loadingHandler($event)"></top-navbar-mfmp>

<div *ngIf="!mfmp.noData && !mfmp.isLoading && mfmp.topNav">
    <div class="filter-bar">
        <div class="filters float-left">
            <h2>{{title}}</h2>
            <a data-toggle="modal" data-target="#whatsthis" title="What's this?" class="icon-info"><img
                    src="/AngularSrc/assets/images/Group-4.png" width="18" height="18" /></a>

            <div class="filter-option" [hidden]='mfmp.charts'>
                <label>{{ 'SHARED.YEARS_TO_SIMULATE' | translate}}:</label>
                <div class="dropdown">
                    <select class="form-control" [(ngModel)]="mfmp.yearsToSimulate" (change)="mfmp.simulate($event.target.value)">
                        <option *ngFor="let i of mfmp.simulableYears" value="{{i}}">{{i}}</option>
                    </select>
                </div>
            </div>

            <div class="filter-option">
                <label>{{ 'SHARED.SEE_AS' | translate}}:</label>
                <a id="link-charts" class="icon-link icon-graphics"
                    (click)="mfmp.showCharts(mfmp.chartOptions)">{{ 'SHARED.GRAPHICS' | translate}}</a>
                <a id="link-tables" class="icon-link icon-tables active"
                    (click)="mfmp.showTables()">{{ 'SHARED.TABLES' | translate}}</a>
            </div>
        </div>
        <div class="filters float-right">
            <div class="filter-option dropdown" *ngIf="mfmp.tables">
                <img src="/AngularSrc/assets/images/loader.gif" alt="Loading"
                    style="width:30px;height:30px;margin-right:10px" *ngIf="mfmp.downloading" />
                <a class="download icon-link icon-download" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">{{'SHARED.DOWNLOAD_RESULTS' | translate }}</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="add-data">
                    <a class="dropdown-item"
                        (click)="mfmp.exportTable('aproximacion-5')">{{ 'MFMP.FIVE_YEARS_APROX' | translate}}</a>
                </div>
            </div>
            <div class="filter-option">
                <a class="button-rules icon-link" routerLink="/reglas">{{ 'SHARED.RULES' | translate}}</a>
            </div>
        </div>
    </div>
</div>

<div class="content-wrap">
    <div *ngIf="mfmp.dataReady && mfmp.pythonReady && !mfmp.error && mfmp.topNav">
        <div *ngIf="mfmp.tables" class="table-5">
            <mfmp-table id="aproximacion-5" [settings]="mfmp.settings" [columns]="mfmp.currentColumns" [data]="mfmp.allData_5"
                [instance]="mfmp.hotInstance"></mfmp-table>
        </div>
        <div id="sortable" class="width1060" *ngIf="mfmp.charts">

            <div id="incomes-container" class="half-box ui-state-default" *ngIf="mfmp.currentIncomesData.length > 0">
                <div>
                    <ul class="chart-options">
                        <li class="download" (click)="mfmp.exportChart('ingresos')">{{ 'SHARED.DOWNLOAD_BUTTON' | translate}}
                        </li>
                        <li class="delete" (click)="mfmp.deleteChart('incomes-container')">{{ 'SHARED.DELETE' | translate}}
                        </li>
                        <li class="drag"></li>
                    </ul>
                    <div id="ingresos">
                        <h2>{{ 'SHARED.DATA_ENTRY_INCOMES' | translate}}</h2>
                        <app-chart class="chart" [datasets]="mfmp.currentIncomesData" [labels]="mfmp.currentChartLabels"
                            [options]="mfmp.chartOptions" [colors]="mfmp.chartColors" [legend]="mfmp.chartLegends"
                            [chartType]="mfmp.chartType"></app-chart>
                        <ul class="chart-ref">
                            <li *ngFor="let legend of mfmp.incomesLegends; let i = index" class="color{{i+1}}"
                                [ngClass]="{'color-none': mfmp.incomesLegends.length === 1}">
                                <span [hidden]='mfmp.incomesLegends.length === 1'>{{legend}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="percent-incomes-container" class="half-box ui-state-default" *ngIf="mfmp.currentIncomesData.length > 0">
                <div>
                    <ul class="chart-options">
                        <li class="download" (click)="mfmp.exportChart('ingresos-2')">
                            {{ 'SHARED.DOWNLOAD_BUTTON' | translate}}
                        </li>
                        <li class="delete" (click)="mfmp.deleteChart('percent-incomes-container')">
                            {{ 'SHARED.DELETE' | translate}}
                        </li>
                        <li class="drag"></li>
                    </ul>
                    <div id="ingresos-2">
                        <h2>{{ 'GRAPHS.PERCENT_INCOME' | translate}} (%)</h2>
                        <app-chart class="chart" [datasets]="mfmp.currentPercentIncomesData" [labels]="mfmp.currentChartLabels"
                            [options]="mfmp.chartOptions" [colors]="mfmp.chartColors" [legend]="mfmp.chartLegends"
                            [chartType]="mfmp.chartType"></app-chart>
                        <ul class="chart-ref">
                            <li *ngFor="let legend of mfmp.incomesPercentLegends; let i = index" class="color{{i+1}}"
                                [ngClass]="{'color-none': mfmp.incomesPercentLegends.length === 1}">
                                <span [hidden]='mfmp.incomesPercentLegends.length === 1'>{{legend}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="expenses-container" class="half-box ui-state-default" *ngIf="mfmp.currentExpensesData.length > 0">
                <div>
                    <ul class="chart-options">
                        <li class="download" (click)="mfmp.exportChart('gastos')">{{ 'SHARED.DOWNLOAD_BUTTON' | translate}}
                        </li>
                        <li class="delete" (click)="mfmp.deleteChart('expenses-container')">{{ 'SHARED.DELETE' | translate}}
                        </li>
                        <li class="drag"></li>
                    </ul>
                    <div id="gastos">
                        <h2>{{ 'GRAPHS.EXPENSES' | translate}}</h2>
                        <app-chart class="chart" [datasets]="mfmp.currentExpensesData" [labels]="mfmp.currentChartLabels"
                            [options]="mfmp.chartOptions" [colors]="mfmp.chartColors" [legend]="mfmp.chartLegends"
                            [chartType]="mfmp.chartType"></app-chart>
                        <ul class="chart-ref">
                            <li *ngFor="let legend of mfmp.expensesLegends; let i = index" class="color{{i+1}}"
                                [ngClass]="{'color-none': mfmp.expensesLegends.length === 1}">
                                <span [hidden]='mfmp.expensesLegends.length === 1'>{{legend}}</span>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div id="percent-expenses-container" class="half-box ui-state-default"
                *ngIf="mfmp.currentExpensesData.length > 0">
                <div>
                    <ul class="chart-options">
                        <li class="download" (click)="mfmp.exportChart('gastos-2')">
                            {{ 'SHARED.DOWNLOAD_BUTTON' | translate}}
                        </li>
                        <li class="delete" (click)="mfmp.deleteChart('percent-expenses-container')">
                            {{ 'SHARED.DELETE' | translate}}
                        </li>
                        <li class="drag"></li>
                    </ul>
                    <div id="gastos-2">
                        <h2>{{ 'GRAPHS.PERCENT_EXPENSE' | translate}} (%)</h2>
                        <app-chart class="chart" [datasets]="mfmp.currentPercentExpensesData" [labels]="mfmp.currentChartLabels"
                            [options]="mfmp.chartOptions" [colors]="mfmp.chartColors" [legend]="mfmp.chartLegends"
                            [chartType]="mfmp.chartType"></app-chart>
                        <ul class="chart-ref">
                            <li *ngFor="let legend of mfmp.expensesLegends; let i = index" class="color{{i+1}}"
                                [ngClass]="{'color-none': mfmp.expensesLegends.length === 1}">
                                <span [hidden]='mfmp.expensesLegends.length === 1'>{{legend}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="balance-container" class="half-box ui-state-default" *ngIf="mfmp.currentBalanceData.length > 0">
                <ul class="chart-options">
                    <li class="download" (click)="mfmp.exportChart('balance')">{{ 'SHARED.DOWNLOAD_BUTTON' | translate}}</li>
                    <li class="delete" (click)="mfmp.deleteChart('balance-container')">{{ 'SHARED.DELETE' | translate}}</li>
                    <li class="drag"></li>
                </ul>
                <div id="balance">
                    <h2>{{ 'GRAPHS.MFMP_BALANCE' | translate}}</h2>
                    <app-chart class="chart" [datasets]="mfmp.currentBalanceData" [labels]="mfmp.currentChartLabels"
                        [options]="mfmp.chartOptions" [colors]="mfmp.chartColors" [legend]="mfmp.chartLegends" [chartType]="mfmp.chartType">
                    </app-chart>
                    <ul class="chart-ref">
                        <li *ngFor="let legend of mfmp.balanceLegends; let i = index" class="color{{i+1}}"
                            [ngClass]="{'color-none': mfmp.balanceLegends.length === 1}">
                            <span [hidden]='mfmp.balanceLegends.length === 1'>{{legend}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="percent-balance-container" class="half-box ui-state-default" *ngIf="mfmp.currentBalanceData.length > 0">
                <ul class="chart-options">
                    <li class="download" (click)="mfmp.exportChart('balance-2')">
                        {{ 'SHARED.DOWNLOAD_BUTTON' | translate}}</li>
                    <li class="delete" (click)="mfmp.deleteChart('percent-balance-container')">
                        {{ 'SHARED.DELETE' | translate}}</li>
                    <li class="drag"></li>
                </ul>
                <div id="balance-2">
                    <h2>{{ 'GRAPHS.PERCENT_BALANCE' | translate}} (%)</h2>
                    <app-chart class="chart" [datasets]="mfmp.currentPercentBalanceData" [labels]="mfmp.currentChartLabels"
                        [options]="mfmp.chartOptions" [colors]="mfmp.chartColors" [legend]="mfmp.chartLegends" [chartType]="mfmp.chartType">
                    </app-chart>
                    <ul class="chart-ref">
                        <li *ngFor="let legend of mfmp.balanceLegends; let i = index" class="color{{i+1}}"
                            [ngClass]="{'color-none': mfmp.balanceLegends.length === 1}">
                            <span [hidden]='mfmp.balanceLegends.length === 1'>{{legend}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="debt-container" class="half-box ui-state-default" *ngIf="mfmp.currentDebtData.length > 0">
                <ul class="chart-options">
                    <li class="download" (click)="mfmp.exportChart('deudas')">{{ 'SHARED.DOWNLOAD_BUTTON' | translate}}</li>
                    <li class="delete" (click)="mfmp.deleteChart('debt-container')">{{ 'SHARED.DELETE' | translate}}</li>
                    <li class="drag"></li>
                </ul>
                <div id="deudas">
                    <h2>{{ 'GRAPHS.TOTAL_DEBT' | translate}}</h2>
                    <app-chart class="chart" [datasets]="mfmp.currentDebtData" [labels]="mfmp.currentChartLabels"
                        [options]="mfmp.chartOptions" [colors]="mfmp.chartColors" [legend]="mfmp.chartLegends" [chartType]="mfmp.chartType">
                    </app-chart>
                    <ul class="chart-ref">
                        <li *ngFor="let legend of mfmp.debtsLegends; let i = index" class="color{{i+1}}"
                            [ngClass]="{'color-none': mfmp.debtsLegends.length === 1}">
                            <span [hidden]='mfmp.debtsLegends.length === 1'>{{legend}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="percent-debt-container" class="half-box ui-state-default" *ngIf="mfmp.currentDebtData.length > 0">
                <ul class="chart-options">
                    <li class="download" (click)="mfmp.exportChart('deudas-2')">
                        {{ 'SHARED.DOWNLOAD_BUTTON' | translate}}</li>
                    <li class="delete" (click)="mfmp.deleteChart('percent-debt-container')">{{ 'SHARED.DELETE' | translate}}
                    </li>
                    <li class="drag"></li>
                </ul>
                <div id="deudas-2">
                    <h2>{{ 'GRAPHS.PERCENT_DEBT' | translate}} (%)</h2>
                    <app-chart class="chart" [datasets]="mfmp.currentPercentDebtData" [labels]="mfmp.currentChartLabels"
                        [options]="mfmp.chartOptions" [colors]="mfmp.chartColors" [legend]="mfmp.chartLegends" [chartType]="mfmp.chartType">
                    </app-chart>
                    <ul class="chart-ref">
                        <li *ngFor="let legend of mfmp.debtsLegends; let i = index" class="color{{i+1}}"
                            [ngClass]="{'color-none': mfmp.debtsLegends.length === 1}">
                            <span [hidden]='mfmp.debtsLegends.length === 1'>{{legend}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="no-data" *ngIf="mfmp.noData && !mfmp.pythonReady">
        <div class="no-data-text">
            <p><strong>{{ 'ERRORS.NO_DATA' | translate}}</strong></p>
            <p>{{ 'ERRORS.START_TO_ENTRY_DATA_HERE' | translate}}!</p>
        </div>
        <div class="no-data-text" *ngIf="mfmp.noResultMessage.length > 0">
            <p><small>{{'ERRORS.FOLOWING_COLUMNS' | translate}}</small></p>
            <ul>
                <li *ngFor="let column of mfmp.noResultMessage"><small>{{column}}</small></li>
            </ul>
        </div>

        <div class="no-data-image">
            <img src="/AngularSrc/assets/images/shape_arrow.png" alt="" />
        </div>
    </div>

    <div class="no-data" *ngIf="(!mfmp.noData && !mfmp.error) && (mfmp.isLoading || !mfmp.topNav || !mfmp.pythonReady)">
        <img src="/AngularSrc/assets/images/loader.gif" alt="Loading" class="spinner" />
    </div>

    <div class="no-data" *ngIf="mfmp.error && !mfmp.noData && mfmp.topNav">
        <p><strong>{{ 'ERRORS.GENERIC' | translate}}</strong></p>
    </div>
</div>

<div class="modal fade" id="whatsthis" tabindex="-1" role="dialog" aria-labelledby="whatsthis" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content whats-this">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'MFMP.FIVE_YEARS_HELP_MAIN_TITLE' | translate}}</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close"></a>
            </div>
            <div class="modal-body">
                <p><strong>{{ 'MFMP.FIVE_YEARS_HELP_TITLE_1' | translate}}</strong></p>
                <p>
                    {{ 'TEXTS.MFMP_FIVE_YEARS_HELP_1' | translate}}
                </p>
                <p><strong>{{ 'MFMP.FIVE_YEARS_HELP_TITLE_2' | translate}}</strong></p>
                <p>
                    <span>{{ 'TEXTS.MFMP_FIVE_YEARS_HELP_2_1' | translate}}</span><br />
                    <img src="/AngularSrc/assets/images/formula-5-años.png" alt="formule" width='80%'
                        height='80px' /><br />
                    <span [innerHTML]="'TEXTS.MFMP_FIVE_YEARS_HELP_2_2' | translate"></span>
                    <a href="/AngularSrc/assets/docs/IADB_SOFIS_Manual_de_Uso.pdf" target="_blank">
                        {{ 'SHARED.SOFIS_MANUAL' | translate}}
                    </a>.
                </p>
            </div>
        </div>
    </div>
</div>