@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.button {
  border-radius: 5px;
  border: none;
  margin: 0 auto;
  text-align: center;
  color: #fff !important;
  font-size: 16px;
  cursor: pointer;
  line-height: 32px;
}
.button:hover {
  cursor: pointer;
  opacity: 0.4;
}

.btn-blue {
  background-color: #089ef9;
  margin-top: 50px;
  padding: 7px 0;
  width: 240px;
}

.disabled {
  background-color: #858585 !important;
  cursor: none;
}

.button-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 16px;
}

.new-catalogue-data-container {
  display: flex;
  width: 100%;
  -ms-flex-pack: start;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 70px;
}

.new-catalogue-data-container .catalogue-icon {
  width: 47px;
  height: 57px;
  object-fit: contain;
  opacity: 0.5;
}

.new-catalogue-data-container .title {
  width: 193px;
  height: 35px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.46;
  color: #3a3a3a;
  text-align: center;
}

.new-catalogue-data-container form {
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: inherit;
  flex-direction: inherit;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 25px;
}
form .cat-input-label {
  width: 150px;
  height: 18px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: #3a3a3a;
  display: inherit;
}
form .cat-input {
  width: 500px;
  height: 50px;
  border-radius: 3px;
  border: solid 1px #cccccc;
  background-color: #ffffff;
  padding: 15px;
}

.outline {
  display: flex;
  border: 1px dashed #979797;
  width: 130px;
  height: 65px;
  border-radius: 8%;
  justify-content: center;
  align-items: center;
}

.loadedImg {
  max-width: 130px;
  max-height: 65px;
  border-radius: 8%;
}

.outline .catalogue-icon {
  width: 26px;
  height: 26px;
}

.change-image {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  width: 72px;
  height: 18px;
  font-size: 12px;
  line-height: 1.5;
  color: #3a3a3a;
}
