<div class="new-catalogue-data-container">
    <div [ngClass]="{'outline': !croppedimg}"><img (click)="emmitCropper(true)"
            [ngClass]="{'catalogue-icon': !croppedimg, 'loadedImg': croppedimg}"
            [src]="croppedimg || '/AngularSrc/assets/images/imgup.svg'" /></div>
    <label>
        <span class="change-image">{{'SHARED.CHANGE_IMG' | translate}}</span>
        <input type="file" (change)="emmitFile($event)" style="display: none">
    </label>
    <form [formGroup]="catalogueDataForm" (ngSubmit)="onSubmit(catalogueDataForm)" autocomplete="off">
        <label class="cat-input-label" for="name">{{inputLabelAction | uppercase}}</label>
        <input id="name" class="cat-input" formControlName="name">
        <button class="button btn-blue" type="submit" [ngClass]="{'disabled': submited || isLoading}"
            [disabled]="submited">
            <div *ngIf='isLoading; else showLabel' class="button-content">
                <span>{{'SHARED.LOADING_BUTTON' | translate}}</span>
            </div>
            <ng-template #showLabel>{{btnAction}}</ng-template>
        </button>
    </form>
</div>