<div class="catalogue-list-container">
  <div class="title">
    <span>{{'SHARED.CATALOGUE_SELECTOR_TITLE' | translate}}</span>
  </div>
  <div class="top">
    <p> {{'TEXTS.CATALOGUE_SELECTOR_DESCRIPTION' | translate}} <a href="/AngularSrc/assets/docs/IADB_SOFIS_Manual_de_Uso.pdf" target="_blank">{{'SHARED.SOFIS_MANUAL' | translate}}.</a>
    </p>
  </div>
  <div class="bottom">
    <div [ngClass]="{'current' : catalogue.selected}" class="catalogue-item-container"
      *ngFor="let catalogue of catalogueList">
      <div class="tool-bar-container">
      </div>
      <div class="catalogue-info-container" (click)="catalogueHandler(catalogue)">
        <img *ngIf="!catalogue.Icon" class="catalogue-icon" [src]="defaultImgUrl" />
        <img *ngIf="catalogue.Icon" class="catalogue-custom-icon" [src]="catalogue.Icon" />
        <a class="catalogue-name">{{catalogue.name}}</a>
        <span class="catalogue-name"
          [hidden]="currentCatalogue.name !== catalogue.name">({{'SHARED.CURRENT' | translate}})</span>
      </div>
    </div>
  </div>
</div>