
.catalogue-list-container {
  padding: 32px 40px 70px 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.catalogue-list-container .title {
  width: 330px;
  font-family: Roboto;
  font-size: 23px;
  font-weight: 300;
  color: #3a3a3a;
  margin-top: 22px;

}
.catalogue-list-container .top {
  width: 547px;
  height: 126px;
  font-family: Roboto;
  font-size: 13px;
  line-height: 1.62;
  color: #999999;
  margin-top: 22px;

}

.top a {
  color: #089ef9;
}
.catalogue-list-container .bottom {
    display: flex;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    max-height: 360px;
    overflow-y: auto;
    margin-top: 22px;
}

.bottom .tool-bar-container{
  width: 100%;
  height: 30px;
  padding: 15px 15px 0 15px;
  margin-bottom: 10px; 
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
}

  .tools-icon{
      width: 19px;
      height: 5px;
      object-fit: contain;
  }
.catalogue-list-container .bottom .catalogue-item-container  {
  height: 170px;
  width: 250px;
  border: 1px solid #999999;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  display: inherit;
  -ms-flex-pack: center;
  justify-content: flex-start;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
}

.new{
  border: 1px dashed #999999 !important;
  padding-top: 40px;
}

.catalogue-item-container  .catalogue-info-container{
  height: 100%;
  width: 100%;
  display: inherit;
  flex-direction: inherit;
  align-items: center;
}
.catalogue-item-container  .catalogue-info-container .catalogue-icon {
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  width: 46px;
  height: 57px;
  margin-bottom: 10px;
}

.catalogue-item-container  .catalogue-info-container .catalogue-custom-icon {
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  max-width: 130px;
  max-height: 65px;
  border-radius: 8%;
  margin-bottom: 10px;
}

.catalogue-item-container .catalogue-info-container .catalogue-options-icon:hover {
  height: 100%;

}

.catalogue-item-container .catalogue-info-container .catalogue-name {
  height: 25px;
  width: fit-content;
  font-size: 16px;
}

.current{
  font-size: 13px !important;
  color: #089ef9 !important;
  border: solid 1px #089ef9 !important;
}

.catalogue-item-container .selected  {
}


