﻿<div class="filter-bar">
    <div class="filters float-left">
        <h2>{{'DATA_ENTRY.Title' | translate}}</h2>

        <div class="filter-option">
            <label>{{'DATA_ENTRY.From' | translate}}</label>
            <div class="dropdown">
                <select class="form-control" [(ngModel)]="fromYear" (ngModelChange)="onFromChange($event)">
                    <option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
                </select>
            </div>
        </div>

        <div class="filter-option">
            <label>{{'DATA_ENTRY.TO' | translate}}</label>
            <div class="dropdown">
                <select class="form-control" [(ngModel)]="toYear" (ngModelChange)="onToChange($event)">
                    <option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
                </select>
            </div>
        </div>

        <div class="filter-option">
            <label>{{'SHARED.SEE_AS' | translate}}</label>
            <a id="link-charts" class="icon-link icon-graphics" (click)="showCharts()">{{'SHARED.GRAPHICS' | translate}}</a>
            <a id="link-tables" class="icon-link icon-tables active" (click)="showTables()">{{'SHARED.TABLES' | translate}}</a>
        </div>
    </div>
    <div class="filters float-right">
        <div class="filter-option">
            <a class="button-rules icon-link" routerLink="/reglas">{{'SHARED.RULES' | translate}}</a>
        </div>
    </div>
</div>