/* You can add global styles to this file, and also import other style files */
@import "~handsontable/dist/handsontable.full.css";

/*General*/
body {
  background: #f7f7f7;
  font-family: "Roboto", sans-serif;
}

.form-control {
  color: #3a3a3a;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 51px;
  margin-bottom: 20px;
}

.content-wrap {
  height: 100%;
  overflow: auto;
  margin-top: 240px;
}
.no-data p {
  color: #999;
  font-size: 30px;
  line-height: 39px;
  margin: 0;
}
.spinner{
  width: 100px;
  height: 100px;
}
.filter-bar {
  background: #f7f7f7;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  color: #999;
  float: left;
  font-size: 13px;
  padding: 23px 50px;
  position: fixed;
  top: 163px;
  width: 100%;
  z-index: 1;
}

.filters * {
  line-height: 30px;
  vertical-align: middle;
}

.filters h2 {
  color: #3a3a3a;
  float: left;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: bold;
}

.filters label {
  display: inline;
}

.filters .filter-option {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.filters .filter-option .form-control {
  display: inline-block;
  width: auto;
}
.filters .filter-option label {
  margin: 0 5px;
}
.filters .dropdown {
  display: inline-block;
}

.filters .form-control {
  font-size: 13px;
  height: 30px;
  line-height: normal;
  margin-bottom: 0;
  min-width: 65px;
}

.table-data .handsontable {
  color: #999;
  font-size: 13px;
}

.table-data .handsontable th {
  background-color: #e7eaec;
  color: #3a3a3a;
  font-weight: bold;
  white-space: pre-line;
  vertical-align: middle;
}

.table-data .ht_clone_top th,
.table-data .ht_clone_left th,
.table-data .ht_master th,
.table-data .ht_clone_top_left_corner th {
  border: 1px solid #ccc;
}

.table-data .ht_master tr > td,
.table-data .ht_clone_left tr > td,
.table-data .ht_clone_top tr > td,
.table-data .ht_clone_top_left_corner tr > td {
  text-align: center;
  vertical-align: middle;
  border-bottom: none;
  border-right: 1px solid #ccc;
  min-width: 150px;
}

.table-data .ht_master tr > td.text-bold,
.table-data .ht_clone_left tr > td.text-bold,
.table-data .ht_clone_top tr > td.text-bold,
.table-data .ht_clone_top_left_corner tr > td.text-bold {
  color: #3a3a3a;
  font-weight: 700;
}

.table-data .ht_master tr > td:first-child,
.table-data .ht_clone_left tr > td:first-child,
.table-data .ht_clone_top tr > td:first-child,
.table-data .ht_clone_top_left_corner tr > td:first-child {
  color: #3a3a3a;
  font-weight: 700;
  min-width: 280px;
  text-align: center;
  padding: 2px 20px;
  height: 25px !important;
}

.table-data .ht_master tr:nth-of-type(even) > td,
.table-data .ht_clone_left tr:nth-of-type(even) > td,
.table-data .ht_clone_top tr:nth-of-type(even) > td,
.table-data .ht_clone_top_left_corner tr:nth-of-type(even) > td {
  background-color: #f7f7f7;
}

.table-data .ht_master tr:nth-of-type(odd) > td,
.table-data .ht_clone_left tr:nth-of-type(odd) > td,
.table-data .ht_clone_top tr:nth-of-type(odd) > td,
.table-data .ht_clone_top_left_corner tr:nth-of-type(odd) > td {
  background-color: #fff;
}

.table-data .ht_master tr > td.future,
.table-data ht_clone_top tr > td.future,
.table-data .ht_clone_left tr > td.future,
.table-data .ht_clone_top_left_corner tr > td.future {
  background-color: rgb(216, 240, 255) !important;
}

.table-data .htCore tr > th:first-child,
.table-data .ht_master > th:first-child,
.table-data .ht_clone_top > th:first-child,
.table-data .ht_clone_left > th:first-child,
.table-data .ht_clone_top_left_corner > th:first-child {
  height: 109px !important;
}

.table-data .htCore {
  border-bottom: 1px solid #ccc;
}

.table-data .handsontable thead th .relative {
  padding: 0 !important;
}

.table-data .table-wrapper {
  width: 100%;
  overflow: hidden;
  margin-top: 5px !important;
  position: fixed;
  top: 320px;
  bottom: 0;
}

.table-data .wtHider {
  border-bottom: solid 5px #ccc;
}
.year-selection-container {
  display: flex;
  width: 100%;
  align-items: center;
}
.year-selection-container .section-title {
  width: 106px;
  height: 19px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  color: #3a3a3a;
  margin-right: 50px;
  white-space: nowrap;
}
.years-container {
  display: inherit;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}
.custom-modal {
  top: 30% !important;
}
.shadow-header-col {
  box-shadow: inset 17px 0px 12px -10px rgba(126, 126, 126, 0.21);
}

.cell-hover:hover {
  cursor: pointer;
  border: 1px solid #cbcbcb !important;
  border-radius: 2px !important;
  background-color: #ffffff !important;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2) !important;
}
