﻿/*General*/
body{
    background:#f7f7f7;
    font-family: 'Roboto', sans-serif;
}
ul{
    margin-bottom: 0;
}
a, a:hover, a:active{
    outline: none;
    text-decoration: none;
}
strong{
    color: #3A3A3A!important;
}

.dropdown-menu{
    border: 1px solid #E6E6E6;
    border-radius: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    margin: -1px 0 0;
    min-width:100%;
}
.dropdown-item:active{
    background: #E7EAEC;
    color: #3A3A3A;
}
.nopadding{
    padding: 0;
}

.content-wrap{
    height: 100%;
    overflow: auto;
}
.no-data{
    padding-top: 84px;
    text-align: center;
}
.no-data p{
    color: #999;
    font-size: 30px;
    line-height: 39px;
    margin: 0;
}

.filter-bar{
    background: #f7f7f7;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    color: #999;
    float: left;
    font-size: 13px;
    padding: 23px 50px;
    position: fixed;
    top: 163px;
    width: 100%;
    z-index: 1;
}
.filters *{
    line-height: 30px;
    vertical-align: middle;
}
.filters h2{
    color: #3A3A3A;
    float: left;
    font-size: 16px;
    margin-bottom: 0;
}
.filters .icon-info{
    float: left;
    margin-left: 10px;
}
.filters .filter-option{
    float: left;
    margin-left: 20px;
}
.filters .dropdown{
    display: inline-block;
}
.filters a.icon-link{
    color: #999;
    display: inline-block;
    margin-right: 15px;
    padding-left: 35px;
}
.filters a.icon-link:last-child{
    margin-right: 0;
}
.filters a.icon-link:hover{
    color: #089EF9;
}
.filters a.icon-download{
    background: url("/AngularSrc/assets/images/download.png") 0 50% no-repeat;
    color: #089EF9;
    padding-left: 24px;
}
.filters a.icon-link.button-rules{
    background: url(/AngularSrc/assets/images/rules.png) 15% 50% no-repeat;
    border: 1px solid #C8C8C8;
    border-radius: 5px;
    color: #999;
    margin-right: 0;
    padding-left: 50px;
    width: 130px;
}
.spinner {
    width: 100px;
    height: 100px;
}

.rules-container{
    margin: 244px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.rules-container .rules-limits-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.rules-container .chart-rules-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rules-container .chart-rules-container .chart-item{
    width: calc(50% - 2px);
    background: #fff;
    border: 1px solid #E6E6E6;
    margin-top: 20px;
    min-height: 460px;
    padding: 30px;
}
.rules-container .chart-rules-container .chart-item h2{
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
}

table{
    background: #fff;
    color: #999;
    font-size: 13px;
}
table td{
    padding: 10px 0;
    text-align: center;
    vertical-align: middle;
}
table td {
    border-right: 1px solid #ccc;
    min-width: 150px;
}
table td.text-bold{
    color: #3A3A3A;
    font-weight: bold;
}
table td:first-child {
    color: #3A3A3A;
    font-weight: 700;
    min-width: 280px;
    padding: 10px 20px;
    text-align: left;
}
.table-striped tbody tr:nth-of-type(odd){
    background: #F7F7F7;
}

.modal-dialog {
    max-width: 400px;
}
#whatsthis .modal-dialog {
    max-width: 560px;
}
.modal-content{
    border: 1px solid #E6E6E6;
    border-radius: 0;
    color: #999;
    font-size: 13px;
}
.modal-header,
.modal-body{
    padding: 0;
}
.modal-header{
    border: none;
}
.modal-title{
    color: #3A3A3A;
    font-weight: 300;
}
.whats-this {
    font-size: 14px;
}
.whats-this .modal-header{
    background: #089EF9;
    font-size: 18px;
    font-weight: 500;
    padding: 80px 40px 20px;
}
.whats-this .modal-title{
    color: #fff;
}
.whats-this a.close{
    background: url("/AngularSrc/assets/images/close.png") no-repeat 0 0;
    height: 16px;
    opacity: 1;
    right: 20px;
    top: 20px;
    width: 16px;
}
.whats-this .modal-body{
    padding: 40px;
}

.width1060{
    margin: 0 auto 20px;
    max-width: 1060px;
    overflow: hidden;
}
.title-blue{
    color: #089EF9;
    font-weight: 500;
}
.th-mode{
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
    margin: 0;
    padding: 0 30px;
}
.content-box{
    background: #fff;
    border: 1px solid #E6E6E6;
    font-size: 13px;
    margin-top: 20px;
    width: 80%;
}
.content-box table td{
    border-right-color: #d9d9d9;
    padding: 5px 20px;
    position: relative;
}
.content-box table td,
.content-box table td:first-child{
    color: #999;
    font-weight: normal;
    min-width: auto;
}
.content-box table.checkbox td,
.content-box table.checkbox td:first-child{
    padding: 5px 30px;
}
.content-box table.checkbox td:first-child{
    padding: 5px;
}
.content-box table td:last-child{
    border-right: none;
}
.content-box table td.text-bold{
    color: #3A3A3A;
    font-weight: bold;
}
.content-box table td input[type="checkbox"],
input[type="checkbox"]{
    position: absolute;
    left: 0;
    top: 0;
    min-width: 1em;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.content-box table td label{
    position: relative;
    display: inline-block;
    font-weight: 400;
    margin: 0;
    text-indent: 24px;
    min-width: calc(1em + 2px);
}
.content-box table td label:after, .content-box table td label:before{
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid transparent;
    z-index: 0;
    position: absolute;
    left: 0;
    top: calc(50% - 8px);
    background-color: transparent;
}
.content-box table td label:before {
    background-color: #fff;
    border-color: #D8D8D8;
}
.content-box table td label:after{
    -webkit-transform:scale(.4)!important;
    -ms-transform:scale(.4)!important;
    transform:scale(.4)!important;
}
.content-box table td input:checked~ label,
input:checked~ label{
    color: #3A3A3A;
}
.half-box{
    background: #fff;
    border: 1px solid #E6E6E6;
    float: left;
    margin-top: 20px;
    min-height: 460px;
    padding: 30px;
    width: 49%;
    display: block;
}
.half-box h2{
    font-size: 16px;
    line-height: 19px;
}

/*Profile*/
.rule-input-td {
    width: 200px !important;
    padding: 0 !important;  
}
.rule-input {
    width: 100% !important;
    border: 0 !important;
    background: transparent !important;
    text-align: center;
}

.chart-options {
    line-height: 1.2;
    margin-left: 240px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

    .chart-options li {
        color: #999;
        display: inline;
        font-size: 11px;
        white-space: nowrap;
        margin: 10px;
        padding-left: 20px;
        cursor: pointer;
    }

.chart-options li.download {
    background: url("/AngularSrc/assets/images/download_grey.png") 0 50% no-repeat;
}

.chart-options li.drag {
    background: url("/AngularSrc/assets/images/drag.png") 0 50% no-repeat;
}

.content-box table td input:checked~ label:after, input:checked~ label.chk::after {
    background-color: #089EF9!important;
}

.content-box[_ngcontent-c8] table[_ngcontent-c8] td[_ngcontent-c8] input[_ngcontent-c8]:checked ~ label[_ngcontent-c8], input[_ngcontent-c8]:checked ~ label[_ngcontent-c8] {
    color: #3A3A3A;
    font-weight: bold;
}

.rule-input-td {
    position: relative;
}

.rule-input-td .fa-pencil {
    position: absolute;
    top: 8px;
    left: 180px;
}

/* @media only screen and (max-width: 1380px) {
    .rules-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;    }
  } */

