﻿<!-- ReSharper disable Html.TagNotResolved -->
<top-navbar-mfmp></top-navbar-mfmp>

<div class="filter-bar">
    <div class="filters float-left">
        <h2>{{title}}</h2>
        <a data-toggle="modal" data-target="#whatsthis" title="What's this?" class="icon-info"><img src="/AngularSrc/assets/images/Group-4.png" width="18" height="18" /></a>
    </div>
    <div class="filters float-right">
        <div class="filter-option">
            <a class="button-rules icon-link" routerLink="/reglas">{{ 'SHARED.RULES' | translate}}</a>
        </div>
    </div>
</div>

<div class="rules-container">
    <div class="rules-limits-container" [hidden]="!dataReady">
        <div class="width1060 content-box">
            <div class="row col-md-12 box-title nopadding">
                <div class="col-md-10 title-blue th-mode">{{ 'RULES.INDICATOR' | translate}}</div>
                <div class="col-md-2 title-blue th-mode text-center" style="padding-right: 70px">
                    {{ 'RULES.LIMITS' | translate}}</div>
            </div>
            <table class="table-striped col-md-12 checkbox">
                <tbody>
                    <tr>
                        <td>
                            <input id="chk1" type="checkbox" checked="checked" (change)="showChart(1, 'limit1')" />
                            <label>{{ 'RULES.RULE_1_INDICATOR' | translate}}</label>
                        </td>
                        <td class="text-bold rule-input-td">
                            <input type="text" id="limit1" class="rule-input" (change)="updateInput($event)" [(ngModel)]="limit1" />
                            <i class="fa fa-pencil"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="chk2" type="checkbox" checked="checked" (change)="showChart(2, 'limit2')" />
                            <label>{{ 'RULES.RULE_2_INDICATOR' | translate}}</label> </td>
                        <td class="text-bold rule-input-td">
                            <input type="text" id="limit2" class="rule-input" (change)="updateInput($event)" [(ngModel)]="limit2" />
                            <i class="fa fa-pencil"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="chk3" type="checkbox" checked="checked" (change)="showChart(3, 'limit3')" />
                            <label>{{ 'RULES.RULE_3_INDICATOR' | translate}}</label>
                        </td>
                        <td class="text-bold rule-input-td">
                            <input type="text" id="limit3" class="rule-input" (change)="updateInput($event)" [(ngModel)]="limit3" />
                            <i class="fa fa-pencil"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="chk4" type="checkbox" checked="checked" data-toggle="tooltip" data-placement="right" (change)="showChart(4, 'limit4')" />
                            <label>{{ 'RULES.RULE_4_INDICATOR' | translate}}</label>
                        </td>
                        <td class="text-bold rule-input-td">
                            <input type="text" id="limit4" class="rule-input" (change)="updateInput($event)" [(ngModel)]="limit4" />
                            <i class="fa fa-pencil"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="chk5" type="checkbox" checked="checked" (change)="showChart(5, 'limit5')" />
                            <label>{{ 'RULES.RULE_5_INDICATOR' | translate}}</label>
                        </td>
                        <td class="text-bold rule-input-td">
                            <input type="text" id="limit5" class="rule-input" (change)="updateInput($event)" [(ngModel)]="limit5" />
                            <i class="fa fa-pencil"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="chk6" type="checkbox" checked="checked" (change)="showChart(6, 'limit6')" />
                            <label>{{ 'RULES.RULE_6_INDICATOR' | translate}}</label>
                        </td>
                        <td class="text-bold rule-input-td">
                            <input type="text" id="limit6" class="rule-input" (change)="updateInput($event)" [(ngModel)]="limit6" />
                            <i class="fa fa-pencil"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="chk7" type="checkbox" checked="checked" (change)="showChart(7, 'limit7')" />
                            <label>{{ 'RULES.RULE_7_INDICATOR' | translate}}</label>
                        </td>
                        <td class="text-bold rule-input-td">
                            <input type="text" id="limit7" class="rule-input" (change)="updateInput($event)" [(ngModel)]="limit7" />
                            <i class="fa fa-pencil"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="chk8" type="checkbox" checked="checked" (change)="showChart(8, 'limit8')" />
                            <label>{{ 'RULES.RULE_8_INDICATOR' | translate}}</label>
                        </td>
                        <td class="text-bold rule-input-td">
                            <input type="text" id="limit8" class="rule-input" (change)="updateInput($event)" [(ngModel)]="limit8" />
                            <i class="fa fa-pencil"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="chk9" type="checkbox" checked="checked" (change)="showChart(9, 'limit9')" />
                            <label>{{ 'RULES.RULE_9_INDICATOR' | translate}}</label>
                        </td>
                        <td class="text-bold rule-input-td">
                            <input type="text" id="limit9" class="rule-input" (change)="updateInput($event)" [(ngModel)]="limit9" />
                            <i class="fa fa-pencil"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="sortable" class="width1060 chart-rules-container" *ngIf="chartsReady">
        <div id="ruleOneContainer" class="chart-item ui-state-default" [hidden]="!(ruleOneData[0].data.length > 0 && getRuleShowStatus(1))">
            <ul class="chart-options">
                <li class="download" (click)="exportChart('regla1')">{{ 'SHARED.DOWNLOAD_BUTTON' | translate}}</li>
                <li class="drag"></li>
            </ul>
            <div id="regla1" *ngIf="ruleOneData[0].data.length > 0 && getRuleShowStatus(1)">
                <h2>{{ 'RULES.RULE_1' | translate}} - {{ 'RULES.RULE_1_INDICATOR' | translate}}</h2>
                <app-chart [width]="chartWidth" [datasets]="ruleOneData" [labels]="ruleOneLabels" [options]="chartOptions" [colors]="chartColors" [legend]="chartLegends" [chartType]="chartType"></app-chart>
            </div>
        </div>

        <div id="ruleTwoContainer" class="chart-item ui-state-default" [hidden]="!(ruleTwoData[0].data.length > 0  && getRuleShowStatus(2))">
            <ul class="chart-options">
                <li class="download" (click)="exportChart('regla2')">{{ 'SHARED.DOWNLOAD_BUTTON' | translate}}</li>
                <li class="drag"></li>
            </ul>
            <div id="regla2" *ngIf="ruleTwoData[0].data.length > 0  && getRuleShowStatus(2)">
                <h2>{{ 'RULES.RULE_2' | translate}} - {{ 'RULES.RULE_2_INDICATOR' | translate}}</h2>
                <app-chart [width]="chartWidth"  [datasets]="ruleTwoData" [labels]="ruleTwoLabels" [options]="chartOptions" [colors]="chartColors" [legend]="chartLegends" [chartType]="chartType">
                </app-chart>
            </div>
        </div>

        <div id="ruleThreeContainer" class="chart-item ui-state-default" [hidden]="!(ruleThreeData[0].data.length > 0 && getRuleShowStatus(3))">
            <ul class="chart-options">
                <li class="download" (click)="exportChart('regla3')">{{ 'SHARED.DOWNLOAD_BUTTON' | translate}}</li>
                <li class="drag"></li>
            </ul>

            <div id="regla3" *ngIf="ruleThreeData[0].data.length > 0 && getRuleShowStatus(3)">
                <h2>{{ 'RULES.RULE_3' | translate}} - {{ 'RULES.RULE_3_INDICATOR' | translate}}</h2>
                <app-chart [width]="chartWidth"  [datasets]="ruleThreeData" [labels]="ruleThreeLabels" [options]="chartOptions" [colors]="chartColors" [legend]="chartLegends" [chartType]="chartType"></app-chart>
            </div>
        </div>

        <div id="ruleFourContainer" class="chart-item ui-state-default" [hidden]="!(ruleFourData[0].data.length > 0 && getRuleShowStatus(4))">
            <ul class="chart-options">
                <li class="download" (click)="exportChart('regla4')">{{ 'SHARED.DOWNLOAD_BUTTON' | translate}}</li>
                <li class="drag"></li>
            </ul>

            <div id="regla4" *ngIf="ruleFourData[0].data.length > 0 && getRuleShowStatus(4)">
                <h2>{{ 'RULES.RULE_4' | translate}} - {{ 'RULES.RULE_4_INDICATOR' | translate}}</h2>
                <app-chart [width]="chartWidth"  [datasets]="ruleFourData" [labels]="ruleFourLabels" [options]="chartOptions" [colors]="chartColors" [legend]="chartLegends" [chartType]="chartType"></app-chart>
            </div>
        </div>

        <div id="ruleFiveContainer" class="chart-item ui-state-default" [hidden]="!(ruleFiveData[0].data.length > 0 && getRuleShowStatus(5))">
            <ul class="chart-options">
                <li class="download" (click)="exportChart('regla5')">{{ 'SHARED.DOWNLOAD_BUTTON' | translate}}</li>
                <li class="drag"></li>
            </ul>

            <div id="regla5" *ngIf="ruleFiveData[0].data.length > 0 && getRuleShowStatus(5)">
                <h2 [attr.title]="noDataMessage">{{ 'RULES.RULE_5' | translate}} - {{ 'RULES.RULE_5_INDICATOR' | translate}}</h2>
                <app-chart [width]="chartWidth"  [datasets]="ruleFiveData" [labels]="ruleFiveLabels" [options]="chartOptions" [colors]="chartColors" [legend]="chartLegends" [chartType]="chartType"></app-chart>
            </div>
        </div>

        <div id="ruleSixContainer" class="chart-item ui-state-default" [hidden]="!(ruleSixData[0].data.length > 0 && getRuleShowStatus(6))">
            <ul class="chart-options">
                <li class="download" (click)="exportChart('regla6')">{{ 'SHARED.DOWNLOAD_BUTTON' | translate}}</li>
                <li class="drag"></li>
            </ul>

            <div id="regla6" *ngIf="ruleSixData[0].data.length > 0 && getRuleShowStatus(6)">
                <h2>{{ 'RULES.RULE_6' | translate}} - {{ 'RULES.RULE_6_INDICATOR' | translate}}</h2>
                <app-chart [width]="chartWidth"  [datasets]="ruleSixData" [labels]="ruleSixLabels" [options]="chartOptions" [colors]="chartColors" [legend]="chartLegends" [chartType]="chartType"></app-chart>
            </div>
        </div>

        <div id="ruleSevenContainer" class="chart-item ui-state-default" [hidden]="!(ruleSevenData[0].data.length > 0 && getRuleShowStatus(7))">
            <ul class="chart-options">
                <li class="download" (click)="exportChart('regla7')">{{ 'SHARED.DOWNLOAD_BUTTON' | translate}}</li>
                <li class="drag"></li>
            </ul>

            <div id="regla7" *ngIf="ruleSevenData[0].data.length > 0 && getRuleShowStatus(7)">
                <h2>{{ 'RULES.RULE_7' | translate}} - {{ 'RULES.RULE_7_INDICATOR' | translate}}</h2>
                <app-chart [width]="chartWidth"  [datasets]="ruleSevenData" [labels]="ruleSevenLabels" [options]="chartOptions" [colors]="chartColors" [legend]="chartLegends" [chartType]="chartType"></app-chart>
            </div>
        </div>

        <div id="ruleEightContainer" class="chart-item ui-state-default" [hidden]="!(ruleEightData[0].data.length > 0 && getRuleShowStatus(8))">
            <ul class="chart-options">
                <li class="download" (click)="exportChart('regla8')">{{ 'SHARED.DOWNLOAD_BUTTON' | translate}}</li>
                <li class="drag"></li>
            </ul>

            <div id="regla8" *ngIf="ruleEightData[0].data.length > 0 && getRuleShowStatus(8)">
                <h2>{{ 'RULES.RULE_8' | translate}} - {{ 'RULES.RULE_8_INDICATOR' | translate}}</h2>
                <app-chart [width]="chartWidth"  [datasets]="ruleEightData" [labels]="ruleEightLabels" [options]="chartOptions" [colors]="chartColors" [legend]="chartLegends" [chartType]="chartType"></app-chart>
            </div>
        </div>

        <div id="ruleNineContainer" class="chart-item ui-state-default" [hidden]="!(ruleNineData[0].data.length > 0 && getRuleShowStatus(9))">
            <ul class="chart-options">
                <li class="download" (click)="exportChart('regla9')">{{ 'SHARED.DOWNLOAD_BUTTON' | translate}}</li>
                <li class="drag"></li>
            </ul>

            <div id="regla9" *ngIf="ruleNineData[0].data.length > 0 && getRuleShowStatus(9)">
                <h2>{{ 'RULES.RULE_9' | translate}} - {{ 'RULES.RULE_9_INDICATOR' | translate}}</h2>
                <app-chart [width]="chartWidth"  [datasets]="ruleNineData" [labels]="ruleNineLabels" [options]="chartOptions" [colors]="chartColors" [legend]="chartLegends" [chartType]="chartType"></app-chart>
            </div>
        </div>
    </div>

    <div class="no-data" *ngIf="noData">
        <p><strong>{{ 'ERRORS.NO_DATA' | translate}}</strong></p>
        <p>{{ 'ERRORS.START_TO_ENTRY_DATA_HERE' | translate}}!</p>
    </div>

    <div class="no-data" *ngIf="isLoading">
        <img src="/AngularSrc/assets/images/loader.gif" alt="Loading" class="spinner" />
    </div>

    <div class="no-data" *ngIf="error">
        <p><strong>{{ 'ERRORS.GENERIC' | translate}}</strong></p>
    </div>
</div>

<div class="modal fade" id="whatsthis" tabindex="-1" role="dialog" aria-labelledby="whatsthis" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content whats-this">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'RULES.HELP_MODAL_MAIN_TITLE' | translate}}</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close"></a>
            </div>
            <div class="modal-body">
                <p>
                    {{ 'TEXTS.RULES' | translate}} <a href="/AngularSrc/assets/docs/IADB_SOFIS_Manual_de_Uso.pdf" target="_blank">{{ 'SHARED.SOFIS_MANUAL' | translate}}.</a>

                </p>
            </div>
        </div>
    </div>
</div>