﻿<!-- ReSharper disable Html.TagNotResolved -->
<div class="filter-bar">
    <div class="filters float-left">
        <h2>{{title}}</h2>
        <a data-toggle="modal" data-target="#whatsthis" title="What's this?" class="icon-info"><img src="/AngularSrc/assets/images/Group-4.png" alt="What's this?" width="18" height="18" /></a>
        <div class="filter-option">
            <a class="btn-hollow-blue button" (click)="showPanel()">{{'ASD.NAV_SHOW_PANEL' | translate}}</a>
        </div>

    </div>
    <div class="filters float-right">
        <div class="filter-option dropdown">
            <a class="download icon-link icon-download" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'SHARED.DOWNLOAD_RESULTS' | translate}}</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="add-data">
                <a class="dropdown-item">{{'SHARED.ALL_RESULTS' | translate}}</a>
                <a class="dropdown-item">{{'MFMP.INERTIAL_APROX' | translate}}</a>
                <a class="dropdown-item">{{'MFMP.FIVE_YEARS_APROX' | translate}}</a>
                <a class="dropdown-item">{{'MFMP.FIXED_APROX' | translate}}</a>
                <a class="dropdown-item">{{'MFMP.PARAMETRIC_APROX' | translate}}</a>
            </div>
        </div>
    </div>
</div>