﻿<!-- ReSharper disable Html.TagNotResolved -->
<top-navbar-asd (isLoading)="loadingHandler($event)" [ExternalAlert]="ASDAlert"></top-navbar-asd>
<div class="filter-bar">
    <div class="filters float-left">
        <h2>{{'ASD.PROB_ANALYSIS' | translate}}</h2>
        <a data-toggle="modal" data-target="#whatsFanChart" class="icon-info"><img
                src="/AngularSrc/assets/images/Group-4.png" width="18" height="18" /></a>
    </div>
    <div class="filters float-left">
        <a class="btn-hollow-blue button assumption-button"
            (click)="toggleAssumptions()">{{'MFMP.SUPPOSED_ENTRY_BUTTON' | translate }}</a>
    </div>
</div>

<div class="content-wrap">
    <!-- PANEL DE SIMULACIÓN -->
    <div class="col-md-5 long-center-container assumptions-div" id="panel" style="display:none">
        <div class="title-long-container">

            <h1 class="title-long-box">{{'ASD.PROB_SUPOUSES_MODAL_MAIN_TITLE' | translate }}</h1>
            <a style="cursor:pointer" data-toggle="modal" data-target="#whatsSimulation" class="icon-info"><img
                    src="/AngularSrc/assets/images/Group-4.png" width="18" height="18" /></a>
        </div>

        <!-- Referencias -->
        <div class="references subtitle-long-box">
            <span class="ref-item"><span>
                    <div class="expression">
                        r
                        <span class='supsub'>
                            <sup class='superscript'>ml</sup>
                            <sub class='subscript'>t</sub>
                        </span>
                    </div>
                </span> = {{'ASD.RTML' | translate }} </span>
            <span class="ref-item"><span>
                    <div class="expression">
                        r
                        <span class='supsub'>
                            <sup class='superscript'>me</sup>
                            <sub class='subscript'>t</sub>
                        </span>
                    </div>
                </span> = {{'ASD.RTME' | translate }}</span>
            <span class="ref-item"><span>
                    <div class="expression">
                        e
                        <span class='supsub'>
                            <sup class='superscript'></sup>
                            <sub class='subscript'>t</sub>
                        </span>
                    </div>
                </span> = {{'ASD.ET' | translate }}</span>
            <span class="ref-item"><span>
                    <div class="expression">
                        g
                        <span class='supsub'>
                            <sup class='superscript'>ild</sup>
                            <sub class='subscript'>t</sub>
                        </span>
                    </div>
                </span> = {{'ASD.GILDT' | translate }}</span>
            <span class="ref-item"><span>
                    <div class="expression">
                        g
                        <span class='supsub'>
                            <sup class='superscript'>ide</sup>
                            <sub class='subscript'>t</sub>
                        </span>
                    </div>
                </span> = {{'ASD.GIDET' | translate }}</span>
            <span class="ref-item"><span>
                    <div class="expression">
                        g
                        <span class='supsub'>
                            <sup class='superscript'>gp</sup>
                            <sub class='subscript'>t</sub>
                        </span>
                    </div>
                </span> = {{'ASD.GGPT' | translate }}</span>
        </div>

        <!-- MATRIZ VAR-COVAR -->
        <div>
            <div class="other-subtitle-long-container">
                <h1 class="subtitle-long-box">{{'ASD.PROB_SUPOUSES_MODAL_1ST_TABLE_TITLE' | translate }}
                </h1>
            </div>
            <div class="row">
                <div class="table-content-container col-md-10">
                    <div class="table-container">
                        <div class="col-md-11 the-title-table">
                            <div class="col-md-2 title-table-container">
                                <h1 class="title-table-box">
                                    <div class="expression">
                                        r
                                        <span class='supsub'>
                                            <sup class='superscript'>ml</sup>
                                            <sub class='subscript'>t</sub>
                                        </span>
                                    </div>
                                </h1>
                            </div>
                            <div class="col-md-2 title-table-container">
                                <h1 class="title-table-box">
                                    <div class="expression">
                                        r
                                        <span class='supsub'>
                                            <sup class='superscript'>me</sup>
                                            <sub class='subscript'>t</sub>
                                        </span>
                                    </div>
                                </h1>
                            </div>
                            <div class="col-md-2 title-table-container">
                                <h1 class="title-table-box">
                                    <div class="expression">
                                        e
                                        <span class='supsub'>
                                            <sup class='superscript'></sup>
                                            <sub class='subscript'>t</sub>
                                        </span>
                                    </div>
                                </h1>
                            </div>
                            <div class="col-md-2 title-table-container">
                                <h1 class="title-table-box">
                                    <div class="expression">
                                        g
                                        <span class='supsub'>
                                            <sup class='superscript'>ild</sup>
                                            <sub class='subscript'>t</sub>
                                        </span>
                                    </div>
                                </h1>
                            </div>
                            <div class="col-md-2 title-table-container">
                                <h1 class="title-table-box">
                                    <div class="expression">
                                        g
                                        <span class='supsub'>
                                            <sup class='superscript'>ide</sup>
                                            <sub class='subscript'>t</sub>
                                        </span>
                                    </div>
                                </h1>
                            </div>
                            <div class="col-md-2 title-table-container">
                                <h1 class="title-table-box">
                                    <div class="expression">
                                        g
                                        <span class='supsub'>
                                            <sup class='superscript'>gp</sup>
                                            <sub class='subscript'>t</sub>
                                        </span>
                                    </div>
                                </h1>
                            </div>
                        </div>

                        <div class="col-md-1 left-title-table">
                            <div class="col-md-12 title-table-container">
                                <h1 class="title-table-box">
                                    <div class="expression">
                                        r
                                        <span class='supsub'>
                                            <sup class='superscript'>ml</sup>
                                            <sub class='subscript'>t</sub>
                                        </span>
                                    </div>
                                </h1>
                            </div>
                            <div class="col-md-12 title-table-container">
                                <h1 class="title-table-box">
                                    <div class="expression">
                                        r
                                        <span class='supsub'>
                                            <sup class='superscript'>me</sup>
                                            <sub class='subscript'>t</sub>
                                        </span>
                                    </div>
                                </h1>
                            </div>
                            <div class="col-md-12 title-table-container">
                                <h1 class="title-table-box">
                                    <div class="expression">
                                        e
                                        <span class='supsub'>
                                            <sup class='superscript'></sup>
                                            <sub class='subscript'>t</sub>
                                        </span>
                                    </div>
                                </h1>
                            </div>
                            <div class="col-md-12 title-table-container">
                                <h1 class="title-table-box">
                                    <div class="expression">
                                        g
                                        <span class='supsub'>
                                            <sup class='superscript'>ild</sup>
                                            <sub class='subscript'>t</sub>
                                        </span>
                                    </div>
                                </h1>
                            </div>
                            <div class="col-md-12 title-table-container">
                                <h1 class="title-table-box">
                                    <div class="expression">
                                        g
                                        <span class='supsub'>
                                            <sup class='superscript'>ide</sup>
                                            <sub class='subscript'>t</sub>
                                        </span>
                                    </div>
                                </h1>
                            </div>
                            <div class="col-md-12 title-table-container">
                                <h1 class="title-table-box">
                                    <div class="expression">
                                        g
                                        <span class='supsub'>
                                            <sup class='superscript'>gp</sup>
                                            <sub class='subscript'>t</sub>
                                        </span>
                                    </div>
                                </h1>
                            </div>
                        </div>

                        <div class="col-md-11 rectangles-table-container"
                            *ngFor="let varCoVarLine of varCoVarMatrix; let i = index">
                            <div class="col-md-2 rectangle-table-box"
                                *ngFor="let varCoVarCell of varCoVarLine; let j = index; trackBy:customTrackBy">
                                <input type="number" class="rectangle-text text-center matrix-cell"
                                    [readonly]="methodology == 'externalWithCorrelatedErrors' && i != j"
                                    [ngClass]="{'background-green': i === j}"
                                    [(ngModel)]="methodology == 'externalWithCorrelatedErrors' && i != j ? 0 : varCoVarMatrix[i][j]">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- NIVELES DE INTERCEPTO DEL VAR -->
        <div [hidden]="methodology == 'external' || methodology == 'externalWithCorrelatedErrors'">
            <div class="other-subtitle-long-container">
                <h1 class="subtitle-long-box">{{'ASD.PROB_SUPOUSES_MODAL_2ND_TABLE_TITLE' | translate }}</h1>
            </div>
            <div class="row">
                <div class="table-content-container col-md-10">
                    <div class="table-container">
                        <div class="col-md-11 the-title-table">
                            <div class="col-md-2 title-table-container">
                                <h1 class="title-table-box">
                                    <div class="expression">
                                        r
                                        <span class='supsub'>
                                            <sup class='superscript'>ml</sup>
                                            <sub class='subscript'>t</sub>
                                        </span>
                                    </div>
                                </h1>
                            </div>
                            <div class="col-md-2 title-table-container">
                                <h1 class="title-table-box">
                                    <div class="expression">
                                        r
                                        <span class='supsub'>
                                            <sup class='superscript'>me</sup>
                                            <sub class='subscript'>t</sub>
                                        </span>
                                    </div>
                                </h1>
                            </div>
                            <div class="col-md-2 title-table-container">
                                <h1 class="title-table-box">
                                    <div class="expression">
                                        e
                                        <span class='supsub'>
                                            <sup class='superscript'></sup>
                                            <sub class='subscript'>t</sub>
                                        </span>
                                    </div>
                                </h1>
                            </div>
                            <div class="col-md-2 title-table-container">
                                <h1 class="title-table-box">
                                    <div class="expression">
                                        g
                                        <span class='supsub'>
                                            <sup class='superscript'>ild</sup>
                                            <sub class='subscript'>t</sub>
                                        </span>
                                    </div>
                                </h1>
                            </div>
                            <div class="col-md-2 title-table-container">
                                <h1 class="title-table-box">
                                    <div class="expression">
                                        g
                                        <span class='supsub'>
                                            <sup class='superscript'>ide</sup>
                                            <sub class='subscript'>t</sub>
                                        </span>
                                    </div>
                                </h1>
                            </div>
                            <div class="col-md-2 title-table-container">
                                <h1 class="title-table-box">
                                    <div class="expression">
                                        g
                                        <span class='supsub'>
                                            <sup class='superscript'>gp</sup>
                                            <sub class='subscript'>t</sub>
                                        </span>
                                    </div>
                                </h1>
                            </div>
                        </div>
                        <div class="col-md-1 left-title-table">
                            <div class="col-md-12 title-table-container"></div>
                        </div>
                        <div class="col-md-11 rectangles-table-container">
                            <div class="col-md-2 rectangle-table-box"
                                *ngFor="let varInterceptLevelCell of varInterceptLevels; let i = index; trackBy:customTrackBy">
                                <input type="number" class="rectangle-text text-center matrix-cell"
                                    [readonly]="methodology === externalModel" [(ngModel)]="varInterceptLevels[i]">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- MATRIZ VAR -->
        <div [hidden]="methodology == 'external' || methodology == 'externalWithCorrelatedErrors'">
            <div class="other-subtitle-long-container">
                <h1 class="subtitle-long-box">{{'ASD.PROB_SUPOUSES_MODAL_3TH_TABLE_TITLE' | translate }}</h1>
            </div>
            <div class="row">
                <div class="table-content-container col-md-10">
                    <div class="table-container">
                        <div class="col-md-11 the-title-table">
                            <div class="col-md-2 title-table-container">
                                <h1 class="title-table-box">
                                    <div class="expression">
                                        r
                                        <span class='supsub'>
                                            <sup class='superscript'>ml</sup>
                                            <sub class='subscript'>t</sub>
                                        </span>
                                    </div>
                                </h1>
                            </div>
                            <div class="col-md-2 title-table-container">
                                <h1 class="title-table-box">
                                    <div class="expression">
                                        r
                                        <span class='supsub'>
                                            <sup class='superscript'>me</sup>
                                            <sub class='subscript'>t</sub>
                                        </span>
                                    </div>
                                </h1>
                            </div>
                            <div class="col-md-2 title-table-container">
                                <h1 class="title-table-box">
                                    <div class="expression">
                                        e
                                        <span class='supsub'>
                                            <sup class='superscript'></sup>
                                            <sub class='subscript'>t</sub>
                                        </span>
                                    </div>
                                </h1>
                            </div>
                            <div class="col-md-2 title-table-container">
                                <h1 class="title-table-box">
                                    <div class="expression">
                                        g
                                        <span class='supsub'>
                                            <sup class='superscript'>ild</sup>
                                            <sub class='subscript'>t</sub>
                                        </span>
                                    </div>
                                </h1>
                            </div>
                            <div class="col-md-2 title-table-container">
                                <h1 class="title-table-box">
                                    <div class="expression">
                                        g
                                        <span class='supsub'>
                                            <sup class='superscript'>ide</sup>
                                            <sub class='subscript'>t</sub>
                                        </span>
                                    </div>
                                </h1>
                            </div>
                            <div class="col-md-2 title-table-container">
                                <h1 class="title-table-box">
                                    <div class="expression">
                                        g
                                        <span class='supsub'>
                                            <sup class='superscript'>gp</sup>
                                            <sub class='subscript'>t</sub>
                                        </span>
                                    </div>
                                </h1>
                            </div>
                        </div>

                        <div class="col-md-1 left-title-table">
                            <div class="col-md-12 title-table-container">
                                <h1 class="title-table-box">
                                    <div class="expression">
                                        r
                                        <span class='supsub'>
                                            <sup class='superscript'>ml</sup>
                                            <sub class='subscript'>t</sub>
                                        </span>
                                    </div>
                                </h1>
                            </div>
                            <div class="col-md-12 title-table-container">
                                <h1 class="title-table-box">
                                    <div class="expression">
                                        r
                                        <span class='supsub'>
                                            <sup class='superscript'>me</sup>
                                            <sub class='subscript'>t</sub>
                                        </span>
                                    </div>
                                </h1>
                            </div>
                            <div class="col-md-12 title-table-container">
                                <h1 class="title-table-box">
                                    <div class="expression">
                                        e
                                        <span class='supsub'>
                                            <sup class='superscript'></sup>
                                            <sub class='subscript'>t</sub>
                                        </span>
                                    </div>
                                </h1>
                            </div>
                            <div class="col-md-12 title-table-container">
                                <h1 class="title-table-box">
                                    <div class="expression">
                                        g
                                        <span class='supsub'>
                                            <sup class='superscript'>ild</sup>
                                            <sub class='subscript'>t</sub>
                                        </span>
                                    </div>
                                </h1>
                            </div>
                            <div class="col-md-12 title-table-container">
                                <h1 class="title-table-box">
                                    <div class="expression">
                                        g
                                        <span class='supsub'>
                                            <sup class='superscript'>ide</sup>
                                            <sub class='subscript'>t</sub>
                                        </span>
                                    </div>
                                </h1>
                            </div>
                            <div class="col-md-12 title-table-container">
                                <h1 class="title-table-box">
                                    <div class="expression">
                                        g
                                        <span class='supsub'>
                                            <sup class='superscript'>gp</sup>
                                            <sub class='subscript'>t</sub>
                                        </span>
                                    </div>
                                </h1>
                            </div>
                        </div>

                        <div class="col-md-11 rectangles-table-container"
                            *ngFor="let varCoeficientsLine of varCoeficientsMatrix; let i = index">
                            <div class="col-md-2 rectangle-table-box"
                                *ngFor="let varCoeficientsCell of varCoeficientsLine; let j = index; trackBy:customTrackBy">
                                <input type="number" class="rectangle-text text-center matrix-cell"
                                    [readonly]="methodology === externalModel" [ngClass]="{'background-green': i === j}"
                                    [(ngModel)]="varCoeficientsMatrix[i][j]">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- OTROS -->
        <div>
            <div class="other-subtitle-long-container">
                <h1 class="subtitle-long-box">{{'SHARED.OTHERS' | translate }}</h1>
                <div class="references subtitle-long-box mt-2">
                    <span class="ref-item"><span>Alpha </span> {{'ASD.ALPHA_DESCRIPTION' | translate }}</span>
                    <span [hidden]="methodology != 'weighted'" class="ref-item"><span>Beta </span>
                        {{'ASD.BETA_DESCRIPTION' | translate }}</span>
                </div>
            </div>

            <div class="row">
                <div class="table-content-container col-md-10">
                    <div class="table-container">
                        <div class="col-md-11 the-title-table">
                            <div class="col-md-2 title-table-container">
                                <h1 class="title-table-box">Alpha</h1>
                            </div>
                            <div [hidden]="methodology != 'weighted'" class="col-md-2 title-table-container">
                                <h1 class="title-table-box">Beta</h1>
                            </div>
                        </div>
                        <div class="col-md-1 left-title-table">
                            <div class="col-md-12 title-table-container"></div>
                        </div>
                        <div class="col-md-11 rectangles-table-container">
                            <div class="col-md-2 rectangle-table-box">
                                <input type="number" class="rectangle-text text-center matrix-cell" [(ngModel)]="alpha">
                            </div>
                            <div [hidden]="methodology != 'weighted'" class="col-md-2 rectangle-table-box">
                                <input type="number" class="rectangle-text text-center matrix-cell" [(ngModel)]="beta">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 big-footer-container">
            <div class="col-md-4 bottom-containers">
                <a class="first-button-left-box" (click)="cleanCells()">{{'SHARED.DELETE_ALL_BUTTON' | translate }}</a>
            </div>
            <div class="col-md-8 bottom-containers">
                <a class="button-left-box" (click)="toggleAssumptions()">{{'SHARED.CANCEL_BUTTON' | translate }}</a>
                <a class="button-right-box"
                    (click)="toggleAssumptions(); UpdateSimulation(methodology)">{{'SHARED.SIMULATE_BUTTON' | translate }}</a>
            </div>
            <div>

            </div>
        </div>
    </div>

    <div *ngIf="!noData && topNav && !isLoading" class="width800">
        <div class="content-box no-bg">
            <div class="simulation row">
                <p>{{'ASD.PROB_CHOOSE_SIMULATION_MODEL' | translate }}:</p>
                <div class="rad-container">
                    <div class="dropdown">
                        <select (change)="UpdateSimulation($event.target.value)" class="form-control ml-2"
                            [(ngModel)]="methodology" [value]="varModel">
                            <option value="{{varModel}}">{{'ASD.PROB_VAR_SIMULATION' | translate}}</option>
                            <option value="{{externalModel}}">{{'ASD.PROB_EXT_SIMULATION' | translate}}</option>
                            <option value="{{externalWithCorrelatedErrorsModel}}">
                                {{'ASD.PROB_EXTERR_SIMULATION' | translate}}
                            </option>
                            <option value="{{weightedModel}}">{{'ASD.PROB_POND_SIMULATION' | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-box" *ngIf="chartReady">
            <!-- PROYECCIÓNES-->
            <div class="instruction projection" *ngIf="simulationReady">
                <ul class="chart-options text-right">
                    <li class="download" (click)="exportChart(methodology)">{{'SHARED.DOWNLOAD_BUTTON' | translate }}
                    </li>
                </ul>
                <div id="{{methodology}}">
                    <h2>{{simulationTitle}}</h2>
                    <app-chart [width]="750" [height]="400" [datasets]="_labelMFL" [labels]="_lineChartLabels"
                        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="chartLegends"
                        [chartType]="_ChartType" [YAxisMarginRate]="yaxismarginrate" [borderWidth]="1"
                        [lineTension]="0.5">
                    </app-chart>
                </div>
            </div>
            <app-sensitivity [proba]="probabilidad" [umbrales]="umbrales" [futureYears]="futureYears"
                [series]="probabilidades" (x)="changeUmbral($event)"></app-sensitivity>
        </div>
    </div>

    <div class="no-data" *ngIf="noData && !pythonReady">
        <div class="no-data-text">
            <p><strong>{{ 'ERRORS.NO_DATA' | translate}}</strong></p>
            <p>{{ 'ERRORS.START_TO_ENTRY_DATA_HERE' | translate}}!</p>
        </div>
        <div class="no-data-text" *ngIf="noResultMessage && noResultMessage.length > 0">
            <p><small>{{'ERRORS.FOLOWING_COLUMNS' | translate}}</small></p>
            <ul>
                <li *ngFor="let column of noResultMessage"><small>{{column}}</small></li>
            </ul>
        </div>

        <div class="no-data-image">
            <img src="/AngularSrc/assets/images/shape_arrow.png" alt="" />
        </div>
    </div>

    <div class="no-data" *ngIf="isLoading || !topNav">
        <img src="/AngularSrc/assets/images/loader.gif" alt="Loading" class="spinner" />
    </div>
</div>

<div class="modal fade" id="whatsFanChart" tabindex="-1" role="dialog" aria-labelledby="whatsFanChart"
    aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-top:250px">
        <div class="modal-content whats-this">
            <div class="modal-header">
                <h5 class="modal-title">{{'ASD.PROB_ANALYSIS_HELP_MAIN_TITLE' | translate}}</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close"></a>
            </div>
            <div class="modal-body">
                <p><strong> {{'ASD.PROB_ANALYSIS_HELP_1ST_TITLE' | translate}} </strong></p>

                <p>
                    {{'TEXTS.ASD_PROB_ANALYSIS_HELP_1' | translate}}

                </p>
                <p><strong> {{'ASD.PROB_ANALYSIS_HELP_2ND_TITLE' | translate}} </strong></p>

                <p>
                    {{'TEXTS.ASD_PROB_ANALYSIS_HELP_2' | translate}} <a
                        href="/AngularSrc/assets/docs/IADB_SOFIS_Manual_de_Uso.pdf"
                        target="_blank">{{'SHARED.SOFIS_MANUAL' | translate}}</a>.
                </p>

                <p><strong>{{'ASD.PROB_ANALYSIS_HELP_3TH_TITLE' | translate}}</strong></p>

                <p>
                    {{'TEXTS.ASD_PROB_ANALYSIS_HELP_3' | translate}}.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="whatsSimulation" tabindex="-1" role="dialog" aria-labelledby="whatsSimulation"
    aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-top:250px">
        <div class="modal-content whats-this">
            <div class="modal-header">
                <h5 class="modal-title">{{'ASD.PROB_SIMULATION_MODAL_HELP_1ST_TITLE' | translate}}</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close"></a>
            </div>
            <div class="modal-body">
                <p>
                    {{'TEXTS.ASD_PROB_SIMULATION_MODAL_HELP_1ST_PARRAGRAPH' | translate}}.
                </p>

                <p><strong>{{'ASD.PROB_SIMULATION_MODAL_HELP_2ND_TITLE' | translate}}</strong></p>

                <p>
                    {{'TEXTS.ASD_PROB_SIMULATION_MODAL_HELP_2ND_PARRAGRAPH' | translate}}.
                </p>
            </div>
        </div>
    </div>
</div>