﻿/*General*/

body {
    background: #f7f7f7;
    font-family: "Roboto", sans-serif;
}

.button {
    border-radius: 5px;
    border: none;
    margin: 0 auto;
    text-align: center;
}

.button:hover {
    cursor: pointer;
    opacity: 0.4;
}

a,
a:hover {
    text-decoration: none;
}

.btn-hollow-blue {
    border: 1px solid #089ef9;
    background: none;
    color: #089ef9 !important;
    padding: 2px 5px;
}

.form-control {
    color: #3a3a3a;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 51px;
    margin-bottom: 20px;
}

.dropdown-menu {
    border: 1px solid #e6e6e6;
    border-radius: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    margin: -1px 0 0;
    min-width: 100%;
}

.dropdown-item:active {
    background: #e7eaec;
    color: #3a3a3a;
}

.modal-content {
    left: 50%;
    margin-top: -200px;
    margin-left: -300px;
    position: absolute;
    top: 50%;
    width: 600px;
}

.content-wrap {
    height: 100%;
    overflow: auto;
    margin-top: 240px;
}

.filter-bar {
    background: #f7f7f7;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    color: #999;
    float: left;
    font-size: 13px;
    padding: 23px 50px;
    position: fixed;
    top: 163px;
    width: 100%;
    z-index: 1;
}

.filters * {
    line-height: 30px;
    vertical-align: middle;
}

.filters h2 {
    color: #3a3a3a;
    float: left;
    font-size: 16px;
    margin-bottom: 0;
    font-weight: bold;
}

.filters .icon-info {
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

.filters .filter-option {
    float: left;
    margin-left: 20px;
    cursor: pointer;
}

.filters .dropdown {
    display: inline-block;
}

.filters a.icon-link {
    color: #999;
    display: inline-block;
    margin-right: 15px;
    padding-left: 35px;
}

.filters a.icon-download:hover {
    color: #089ef9;
}

.filters a.icon-download {
    background: url("/AngularSrc/assets/images/download.png") 0 50% no-repeat;
    color: #089ef9;
    padding-left: 24px;
}

.long-center-container {
    height: 100%;
    padding: 0;
    position: relative;
}

.long-center-container {
    background-color: #fff;
    border-left: 1px solid #ccc;
    height: 1200px;
}

.long-center-container .title-long-container {
    float: left;
    padding-top: 40px;
    padding-left: 40px;
    position: relative;
    width: 100%;
}

.long-center-container .title-long-container .title-long-box {
    color: #089ef9;
    float: left;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin: 0;
    position: relative;
    width: 240px;
}

.long-center-container .subtitle-long-container {
    width: 166px;
    border-radius: 20px;
    position: relative;
    float: left;
    margin-left: 38px;
    margin-top: 20px;
}

.long-center-container .other-subtitle-long-container {
    position: relative;
    float: left;
    margin-top: 50px;
    margin-left: 38px;
}

.long-center-container .subtitle-long-container .subtitle-long-box,
.long-center-container .other-subtitle-long-container .subtitle-long-box {
    color: #3a3a3a;
    font-size: 13px;
    margin: 0 0 0 10px;
    line-height: 20px;
    text-align: left;
}

.long-center-container .table-long-container {
    position: relative;
    float: left;
    padding: 0;
    margin-top: 20px;
}

.long-center-container .table-long-container .title-table-container {
    position: relative;
    float: left;
    padding: 0;
}

.long-center-container .table-long-container .title-table-box {
    position: relative;
    float: left;
    padding: 0;
}

.long-center-container .table-long-container .title-table-box .title-table {
    color: #3a3a3a;
    font-size: 11px;
    margin: 0;
    text-align: center;
}

.long-center-container .table-long-container .table-long-box {
    position: relative;
    float: left;
    padding: 0;
    top: 10px;
}

.long-center-container .table-long-container .table-long-box .table-box,
.long-center-container .table-long-container .table-long-box .diferent-table-box {
    position: relative;
    float: left;
    padding: 0;
    border-right: 1px solid #ccc;
}

.long-center-container .table-long-container .table-long-box .diferent-table-box {
    border: none;
}

.long-center-container .table-long-container .table-long-box .table-text-center {
    text-align: center;
}

.long-center-container .table-long-container .table-long-box .table-box .table-text-box,
.long-center-container .table-long-container .table-long-box .diferent-table-box .table-text-box {
    color: #999;
    font-size: 13px;
    margin: 0;
    height: 25px;
    line-height: 25px;
}

.long-center-container .table-long-container .table-long-box .table-box .padding-box {
    padding-left: 40px;
}

.long-center-container .table-content-container {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 20px;
}

.long-center-container .table-content-container .table-container {
    position: relative;
    float: left;
    width: 500px;
}

.long-center-container .table-content-container .table-container .the-title-table {
    height: 20px;
    padding: 0;
    float: right;
}

.long-center-container .table-content-container .table-container .the-title-table .title-table-container {
    position: relative;
    float: left;
    padding: 0;
    text-align: center;
}

.long-center-container .table-content-container .table-container .the-title-table .title-table-container .title-table-box,
.long-center-container .table-content-container .table-container .left-title-table .title-table-container .title-table-box {
    color: #3a3a3a;
    font-size: 13px;
    margin: 0;
    line-height: 20px;
    width: 90%;
}

.long-center-container .table-content-container .table-container .left-title-table {
    position: relative;
    float: left;
    padding: 0;
}

.long-center-container .table-content-container .table-container .left-title-table .title-table-container {
    padding: 0;
    text-align: center;
    height: 20px;
    margin-top: 20px;
}

.long-center-container .table-content-container .table-container .rectangles-table-container {
    position: relative;
    float: left;
    padding: 0;
}

.long-center-container .table-content-container .table-container .rectangles-table-container .rectangle-table-box {
    position: relative;
    float: left;
    padding: 0;
    text-align: center;
}

.long-center-container .table-content-container .table-container .rectangles-table-container .rectangle-table-box .rectangle-text {
    color: #3a3a3a;
    font-size: 13px;
    margin: 0;
    height: 20px;
    line-height: 20px;
    width: 90%;
    border: 1px solid #d9d9d9;
    background-color: #fff;
}

.long-center-container .table-content-container .table-container .rectangles-table-container .rectangle-table-box .background-green {
    background-color: #eefae2;
}

.long-center-container .tables-bottom-container,
.long-center-container .rectangle-bottom-container {
    position: relative;
    float: left;
    margin-top: 20px;
}

.long-center-container .tables-bottom-container .tables-bottom-title-container,
.long-center-container .rectangle-bottom-container .tables-bottom-box {
    position: relative;
    float: left;
}

.long-center-container .tables-bottom-container .tables-bottom-title-container .tables-bottom-title {
    color: #3a3a3a;
    font-size: 11px;
    position: relative;
    float: left;
    margin: 0;
    width: 38%;
    text-align: center;
}

.long-center-container .rectangle-bottom-container .tables-bottom-box .tables-bottom {
    height: 25px;
    width: 50px;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    color: #999;
    font-size: 11px;
    position: relative;
    float: left;
    text-align: center;
    margin-left: 20px;
    line-height: 25px;
}

.long-center-container .big-footer-container,
.long-center-container .big-footer-container .bottom-containers {
    position: relative;
    float: left;
    padding: 0;
    line-height: 80px;
    margin-bottom: 40px;
}

.long-center-container .big-footer-container .bottom-containers .first-button-left-box {
    height: 30px;
    width: 98px;
    border: 1px solid #089ef9;
    border-radius: 5px;
    color: #089ef9;
    font-size: 13px;
    padding: 5px 10px;
    left: 50px;
    position: relative;
    outline: none;
    cursor: pointer;
}

.long-center-container .big-footer-container .bottom-containers .button-left-box {
    color: #3a3a3a;
    font-size: 13px;
    left: 90px;
    position: relative;
    outline: none;
    cursor: pointer;
}

.long-center-container .big-footer-container .bottom-containers .button-right-box {
    height: 30px;
    width: 160px;
    border-radius: 5px;
    background-color: #089ef9;
    color: #fff;
    font-size: 13px;
    padding: 8px 60px;
    left: 110px;
    position: relative;
    outline: none;
    cursor: pointer;
}

.modal-dialog {
    max-width: 400px;
}

.modal-content {
    border: 1px solid #e6e6e6;
    border-radius: 0;
    color: #999;
    font-size: 13px;
}

.modal-header,
.modal-body {
    padding: 0;
}

.modal-header {
    border: none;
}

.modal-title {
    color: #3a3a3a;
    font-weight: 300;
}

.whats-this {
    font-size: 14px;
}

.whats-this .modal-header {
    background: #089ef9;
    font-size: 18px;
    font-weight: 500;
    padding: 80px 40px 20px;
}

.whats-this .modal-title {
    color: #fff;
}

.whats-this a.close {
    background: url("/AngularSrc/assets/images/close.png") no-repeat 0 0;
    height: 16px;
    opacity: 1;
    right: 20px;
    top: 20px;
    width: 16px;
}

.whats-this .modal-body {
    padding: 40px;
}

.half-box {
    background: #fff;
    border: 1px solid #e6e6e6;
    float: left;
    margin-top: 20px;
    min-height: 240px;
    padding: 30px;
    width: 49%;
}

.content-box {
    background: #fff;
    border: 1px solid #e6e6e6;
    font-size: 13px;
    margin-top: 20px;
}

.title-blue-16 {
    color: #089ef9;
    font-weight: 500;
}

input[type="radio"] {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 1em;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

label.chk {
    position: relative;
    display: inline-block;
    font-weight: 400;
    margin: 0;
    text-indent: 24px;
    min-width: calc(1em + 2px);
}

label.chk::after,
label.chk::before {
    content: "";
    width: 16px;
    height: 16px;
    display: block;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid transparent;
    z-index: 0;
    position: absolute;
    left: 0;
    top: calc(50% - 8px);
    background-color: transparent;
}

label.rad::after,
label.rad::before {
    border-radius: 50%;
}

label.chk::before {
    background-color: #fff;
    border-color: #d8d8d8;
}

label.chk::after {
    -webkit-transform: scale(0.4) !important;
    -ms-transform: scale(0.4) !important;
    transform: scale(0.4) !important;
}

input:checked~label {
    color: #3a3a3a;
}

.content-box table td input[type="number"] {
    border: 1px solid #d9d9d9;
    margin: -5px 0;
    text-align: center;
    width: 92px;
}

div.content-box.no-bg {
    background: none;
    border: none;
}

.half-box {
    margin-left: 10px;
    height: 400px !important;
}


/*General*/

body {
    background: #f7f7f7;
    font-family: "Roboto", sans-serif;
}

.button {
    border-radius: 5px;
    border: none;
    margin: 0 auto;
    text-align: center;
}

.button:hover {
    cursor: pointer;
    opacity: 0.4;
}

a,
a:hover,
a:active {
    outline: none;
    text-decoration: none;
}

strong {
    color: #3a3a3a !important;
}

.row {
    width: 100%;
    margin: 0;
}

.btn-hollow-blue {
    border: 1px solid #089ef9;
    background: none;
    color: #089ef9;
    padding: 2px 5px;
}

.form-control {
    color: #3a3a3a;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 51px;
    line-height: 51px;
    margin-bottom: 20px;
    padding-top: 0;
}

.dropdown-menu {
    border: 1px solid #e6e6e6;
    border-radius: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    margin: -1px 0 0;
    min-width: 100%;
}

.dropdown-item:active {
    background: #e7eaec;
    color: #3a3a3a;
}

.content-wrap {
    height: 100%;
    overflow: auto;
}

.filter-bar {
    background: #f7f7f7;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    color: #999;
    float: left;
    font-size: 13px;
    padding: 23px 50px;
    position: fixed;
    top: 163px;
    width: 100%;
    z-index: 1;
}

.filters * {
    line-height: 30px;
    vertical-align: middle;
}

.filters h2 {
    color: #3a3a3a;
    float: left;
    font-size: 16px;
    margin-bottom: 0;
}

.filters .icon-info {
    float: left;
    margin-left: 10px;
}

.filters .filter-option {
    float: left;
    margin-left: 20px;
}

.filters .dropdown {
    display: inline-block;
}

.filters a.icon-link {
    color: #999;
    display: inline-block;
    margin-right: 15px;
    padding-left: 35px;
}

.filters a.icon-link:hover {
    color: #089ef9;
}

.filters a.icon-download {
    background: url("/AngularSrc/assets/images/download.png") 0 50% no-repeat;
    color: #089ef9;
    padding-left: 24px;
}


/*TABLES*/

table {
    background: #fff;
    color: #999;
    font-size: 13px;
}

table th {
    background-color: #e7eaec;
    border: 1px solid #ccc;
    color: #3a3a3a;
}

table th,
table td {
    padding: 10px 0;
    text-align: center;
    vertical-align: middle;
}

table td {
    border-right: 1px solid #ccc;
    min-width: 150px;
}

table td.text-bold {
    color: #3a3a3a;
    font-weight: bold;
}

table td:first-child {
    color: #3a3a3a;
    font-weight: 700;
    min-width: 280px;
    padding: 10px 20px;
    text-align: left;
}

.table-striped tbody tr:nth-of-type(odd) {
    background: #f7f7f7;
}

.modal-dialog {
    max-width: 400px;
}

.modal-content {
    border: 1px solid #e6e6e6;
    border-radius: 0;
    color: #999;
    font-size: 13px;
}

.modal-header,
.modal-body {
    padding: 0;
}

.modal-header {
    border: none;
}

.modal-title {
    color: #3a3a3a;
    font-weight: 300;
}

.whats-this {
    font-size: 14px;
}

.whats-this .modal-header {
    background: #089ef9;
    font-size: 18px;
    font-weight: 500;
    padding: 80px 40px 20px;
}

.whats-this .modal-title {
    color: #fff;
}

.whats-this a.close {
    background: url("/AngularSrc/assets/images/close.png") no-repeat 0 0;
    height: 16px;
    opacity: 1;
    right: 20px;
    top: 20px;
    width: 16px;
}

.whats-this .modal-body {
    padding: 40px;
}

.width800 {
    margin: 0 auto 20px;
    max-width: 1060px;
    overflow: hidden;
}

.title-blue-16 {
    color: #089ef9;
    font-weight: 500;
}

.title-blue-16 {
    font-size: 16px;
}

.content-box {
    background: #fff;
    border: 1px solid #e6e6e6;
    font-size: 13px;
    margin-top: 20px;
}

.content-box thead th:first-child {
    text-align: left;
}

.content-box thead th:last-child {
    border: none;
}

.content-box thead.no-bg th {
    background: none;
    border: none;
}

.content-box table td {
    border-right-color: #d9d9d9;
    padding: 5px 20px;
    position: relative;
}

.content-box table td,
.content-box table td:first-child {
    color: #999;
    font-weight: normal;
    min-width: auto;
}

.content-box table td:last-child {
    border-right: none;
}

.content-box table td.text-bold {
    color: #3a3a3a;
    font-weight: bold;
}

.content-box .col-2 {
    width: 16.666667%;
}

.content-box .col-10 {
    width: 83.333333%;
}

input[type="radio"] {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 1em;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

label.chk {
    position: relative;
    display: inline-block;
    font-weight: 400;
    margin: 0;
    text-indent: 24px;
    min-width: calc(1em + 2px);
}

label.chk::after,
label.chk::before {
    content: "";
    width: 16px;
    height: 16px;
    display: block;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid transparent;
    z-index: 0;
    position: absolute;
    left: 0;
    top: calc(50% - 8px);
    background-color: transparent;
}

label.rad::after,
label.rad::before {
    border-radius: 50%;
}

label.chk::before {
    background-color: #fff;
    border-color: #d8d8d8;
}

label.chk::after {
    -webkit-transform: scale(0.4) !important;
    -ms-transform: scale(0.4) !important;
    transform: scale(0.4) !important;
}

input:checked~label {
    color: #3a3a3a;
}

.content-box table td input[type="number"] {
    border: 1px solid #d9d9d9;
    margin: -5px 0;
    text-align: center;
    width: 92px;
}

.half-box {
    background: #fff;
    border: 1px solid #e6e6e6;
    float: left;
    margin-top: 20px;
    min-height: 240px;
    padding: 30px;
    width: 100%;
    height: auto !important;
}

.half-box.half-box-centered {
    float: none;
    margin: 20px auto 0;
    min-height: auto;
    padding: 0;
}

.half-box.half-box-centered .title-blue-16 {
    display: block;
    padding: 16px;
    text-align: center;
}

.instruction {
    padding: 20px;
}

div.content-box.no-bg {
    background: none;
    border: none;
}

.rad-container {
    float: left;
    margin-right: 30px;
    position: relative;
}

.analysis {
    color: #999;
}

.analysis table {
    background: #f7f7f7;
}

.analysis table.table-striped tbody tr:nth-of-type(odd) {
    background: #eee;
}

.analysis table th,
.analysis table th:first-child,
.analysis table td,
.analysis table td:first-child {
    border-right-color: #ccc;
    color: #3a3a3a;
    text-align: center;
}

.width800 {
    max-width: 800px;
}

.width800 .title-blue-16 {
    display: block;
    margin-top: 30px;
}

.simulation {
    color: #999;
    margin-top: 50px;
}

.simulation p {
    color: #3a3a3a;
    font-size: 16px;
    width: 100%;
}

.simulation label {
    font-size: 16px;
}

.projection h2 {
    font-size: 22px;
    margin: 20px;
}

.assumption-button {
    margin-left: 10px;
}

.assumptions-div {
    position: fixed;
    z-index: 1;
    overflow: auto;
    max-height: calc(70%);
    border-right-color: lightgray;
    border-right-width: 1px;
    border-right-style: solid;
}

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

.umbral-input-td {
    width: 85px !important;
    padding: 0 !important;
}

.umbral-input {
    width: 100% !important;
    border: 0 !important;
    background: transparent !important;
}

.shock-cell {
    width: 100%;
    border: 1px solid #d9d9d9;
}


/* Webkit browsers like Safari and Chrome */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* For Firefox */

input[type="number"] {
    -moz-appearance: textfield;
}

.matrix-cell {
    height: 30px !important;
    margin-top: 8px !important;
}

.chart-options {
    line-height: 1.2;
    margin-left: 190px;
    margin-bottom: 15px;
}

.chart-options li {
    color: #999;
    display: inline;
    font-size: 11px;
    white-space: nowrap;
    margin: 10px;
    padding-left: 20px;
    cursor: pointer;
}

.chart-options li.download {
    background: url("/AngularSrc/assets/images/download_grey.png") 0 50% no-repeat;
}

.content-box table td input:checked~label:after,
input:checked~label.chk::after {
    background-color: #089ef9 !important;
}

.umbral-input-td {
    position: relative;
}

.umbral-input-td .fa-pencil {
    position: absolute;
    top: 8px;
    left: 70px;
}

.no-data .no-data-image img {
    margin-bottom: 200px;
    margin-left: 50px;
}

.no-data-image img {
    position: relative;
    top: -130px;
    left: 260px !important;
    max-width: 35%;
    margin: 0;
}

.no-data-text ul {
    text-align: left;
    list-style: circle;
    margin-top: 10px;
    margin-bottom: 10px;
}

.expression {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 14px;
}

.supsub {
    display: flex;
    flex-direction: column;
    margin-left: 2px;
}

.supsub .superscript {
    text-transform: uppercase;
}

.supsub .subscript {
    margin-top: 3px;
}

.supsub .subscript,
.supsub .superscript {
    display: inherit;
}

.references {
    margin-top: 100px;
    padding: 5px 40px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    color: #3A3A3A;
    font-size: 11px;
    text-align: left;
    height: 25%;
    justify-content: center;
}

.references .ref-item {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 3px 0;
}

.ref-item span {
    margin-right: 5px;
    font-weight: 600;
}

.sesion {
    cursor: pointer;
}

.spinner {
    width: 100px;
    margin: auto 50%;
}