﻿/*General*/
body {
    background: #f7f7f7;
    font-family: 'Roboto', sans-serif;
}

a, a:hover {
    text-decoration: none;
}

.form-control {
    color: #3A3A3A;
    border: 1px solid #CCC;
    border-radius: 3px;
    height: 51px;
    margin-bottom: 20px;
}

.dropdown-menu {
    border: 1px solid #E6E6E6;
    border-radius: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    margin: -1px 0 0;
    min-width: 100%;
}

.dropdown-item:active {
    background: #E7EAEC;
    color: #3A3A3A;
}

.modal-content {
    left: 50%;
    margin-top: -200px;
    margin-left: -300px;
    position: absolute;
    top: 50%;
    width: 600px;
}

.content-wrap {
    height: 100%;
    overflow: auto;
    margin-top: 240px;
}

.no-data {
    width: 400px;
    margin: 50px auto;
    padding: 0;
    text-align: center;
}

    .no-data p {
        color: #999;
        font-size: 30px;
        line-height: 39px;
        margin: 0;
    }

.filter-bar {
    background: #f7f7f7;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    color: #999;
    float: left;
    font-size: 13px;
    padding: 23px 50px;
    position: fixed;
    top: 163px;
    width: 100%;
    z-index: 1;
}

.filters * {
    line-height: 30px;
    vertical-align: middle;
}

.filters label {
    display: inline;
    margin-right: 6px;
}

.filters .icon-info {
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

.filters .filter-option {
    float: left;
    margin-left: 20px;
    cursor: pointer;
}

    .filters .filter-option .form-control {
        display: inline-block;
        width: auto;
    }

.filters .dropdown {
    display: inline-block;
}

.filters .form-control {
    font-size: 13px;
    height: 30px;
    line-height: normal;
    margin-bottom: 0;
    min-width: 65px;
}
.no-data .no-data-image img {
    margin-bottom: 200px;
    margin-left: 50px;
}
.no-data-image img {
    position: relative;
    top: -130px;
    left: 260px !important;
    max-width: 35%;
    margin: 0;
}

.no-data-text ul{
    text-align: left;
    list-style: circle;
    margin-top: 10px;
    margin-bottom: 10px;
}
.filters a.icon-link {
    color: #999;
    display: inline-block;
    margin-right: 15px;
    padding-left: 35px;
}

    .filters a.icon-link:last-child {
        margin-right: 0;
    }

    .filters a.icon-download:hover {
        color: #089EF9;
    }

.filters a.icon-download {
    background: url("/AngularSrc/assets/images/download.png") 0 50% no-repeat;
    color: #089EF9;
    padding-left: 24px;
}

.modal-dialog {
    max-width: 400px;
}

#whatsthis .modal-dialog {
    max-width: 560px;
    height: 600px;
}

.modal-content {
    border: 1px solid #E6E6E6;
    border-radius: 0;
    color: #999;
    font-size: 13px;
}

.modal-header,
.modal-body {
    padding: 0;
}

.modal-header {
    border: none;
}

.modal-title {
    color: #3A3A3A;
    font-weight: 300;
}

.whats-this {
    font-size: 14px;
}

    .whats-this .modal-header {
        background: #089EF9;
        font-size: 18px;
        font-weight: 500;
        padding: 80px 40px 20px;
    }

    .whats-this .modal-title {
        color: #fff;
    }

    .whats-this a.close {
        background: url("/AngularSrc/assets/images/close.png") no-repeat 0 0;
        height: 16px;
        opacity: 1;
        right: 20px;
        top: 20px;
        width: 16px;
    }

    .whats-this .modal-body {
        padding: 40px;
    }

.width1060 {
    margin: 0 auto 20px;
    max-width: 1060px;
    overflow: hidden;
}

.half-box {
    background: #fff;
    border: 1px solid #E6E6E6;
    float: left;
    margin-top: 20px;
    min-height: 240px;
    padding: 30px;
    width: 49%;
}

.content-box {
    background: #fff;
    border: 1px solid #E6E6E6;
    font-size: 13px;
    margin-top: 20px;
}

    .title-blue-16 {
        color: #089EF9;
        font-weight: 500;
    }

    input[type="radio"] {
        position: absolute;
        left: 0;
        top: 0;
        min-width: 1em;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }

    label.chk {
        position: relative;
        display: inline-block;
        font-weight: 400;
        margin: 0;
        text-indent: 24px;
        min-width: calc(1em + 2px);
    }

        label.chk::after, label.chk::before {
            content: '';
            width: 16px;
            height: 16px;
            display: block;
            box-sizing: border-box;
            border-radius: 0;
            border: 1px solid transparent;
            z-index: 0;
            position: absolute;
            left: 0;
            top: calc(50% - 8px);
            background-color: transparent;
        }

label.rad::after, label.rad::before {
    border-radius: 50%;
}

label.chk::before {
    background-color: #fff;
    border-color: #D8D8D8;
}

label.chk::after {
    -webkit-transform: scale(.4) !important;
    -ms-transform: scale(.4) !important;
    transform: scale(.4) !important;
}

input:checked ~ label {
    color: #3A3A3A;
}

.content-box table td input[type="number"] {
    border: 1px solid #D9D9D9;
    margin: -5px 0;
    text-align: center;
    width: 92px;
}

div.content-box.no-bg {
    background: none;
    border: none;
}

.spinner {
    width: 100px;
}

.half-box{
    margin-left: 10px;
    height: 400px !important;
}

/*General*/
body{
    background:#f7f7f7;
    font-family: 'Roboto', sans-serif;
}
a, a:hover, a:active{
    outline: none;
    text-decoration: none;
}
strong, .strong{
    color: #3A3A3A!important;
}
.row{
    width: 100%;
    margin: 0;
}
.form-control{
    color: #3A3A3A;
    border: 1px solid #CCC;
    border-radius: 3px;
    height: 51px;
    line-height: 51px;
    margin-bottom: 20px;
    padding-top: 0;
}
.dropdown-menu{
    border: 1px solid #E6E6E6;
    border-radius: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    margin: -1px 0 0;
    min-width:100%;
}
.dropdown-item:active{
    background: #E7EAEC;
    color: #3A3A3A;
}

.content-wrap{
    height: 100%;
    overflow: auto;
}
.no-data{
    padding-top: 40px;
    text-align: center;
}
.no-data p{
    color: #999;
    font-size: 30px;
    line-height: 39px;
    margin: 0;
}

.filter-bar{
    background: #f7f7f7;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    color: #999;
    float: left;
    font-size: 13px;
    padding: 23px 50px;
    position: fixed;
    top: 163px;
    width: 100%;
    z-index: 1;
}
.filters *,
.options *{
    line-height: 30px;
    vertical-align: middle;
}

.filters h2 {
    color: #3A3A3A;
    float: left;
    font-size: 16px;
    margin-bottom: 0;
    font-weight: bold;
}
.filters label{
    display: inline;
    margin-right: 6px;
}
.filters .icon-info,
.options .icon-info{
    float: left;
    margin-left: 10px;
}
.options .icon-info{
    margin-right: 90px;
}
.no-border{
    border:none!important;
}
.filters .filter-option{
    float: left;
    margin-left: 20px;
}
.filters .dropdown{
    display: inline-block;
}
.filters .form-control{
    font-size: 13px;
    height: 30px;
    line-height: normal;
    margin-bottom: 0;
    min-width: 65px;
}
.filters a.icon-link{
    color: #999;
    display: inline-block;
    margin-right: 15px;
    padding-left: 35px;
}
.filters a.icon-link:last-child{
    margin-right: 0;
}
.filters a.icon-link:hover{
    color: #089EF9;
}
.filters a.icon-download{
    background: url("/AngularSrc/assets/images/download.png") 0 50% no-repeat;
    color: #089EF9;
    padding-left: 24px;
}

.table-wrapper{
    width: 100%;
    position: initial;
}
table{
    background: #fff;
    color: #999;
    font-size: 13px;
}
table th{
    background-color: #E7EAEC;
    border: 1px solid #ccc;
    color: #3A3A3A;
}
table th,
table td{
    padding: 10px 0;
    text-align: center;
    vertical-align: middle;
}
table td {
    border-right: 1px solid #ccc;
    min-width: 150px;
}
table td:first-child {
    color: #3A3A3A;
    font-weight: 700;
    min-width: 280px;
    padding: 10px 20px;
    text-align: left;
}
.table-striped tbody tr:nth-of-type(odd){
    background: #F7F7F7;
}

.modal-dialog {
    max-width: 400px;
}
#whatsthis .modal-dialog {
    max-width: 560px;
}
.modal-content{
    border: 1px solid #E6E6E6;
    border-radius: 0;
    color: #999;
    font-size: 13px;
}
.modal-header,
.modal-body{
    padding: 0;
}
.modal-header{
    border: none;
}
.modal-title{
    color: #3A3A3A;
    font-weight: 300;
}
.whats-this {
    font-size: 14px;
}
.whats-this .modal-header{
    background: #089EF9;
    font-size: 18px;
    font-weight: 500;
    padding: 80px 40px 20px;
}
.whats-this .modal-title{
    color: #fff;
}
.whats-this a.close{
    background: url("/AngularSrc/assets/images/close.png") no-repeat 0 0;
    height: 16px;
    opacity: 1;
    right: 20px;
    top: 20px;
    width: 16px;
}
.whats-this .modal-body{
    padding: 40px;
}

.width1060{
    margin: 0 auto 20px;
    max-width: 1060px;
    overflow: hidden;
}
.title-blue-16{
    color: #089EF9;
    font-weight: 500;
    margin-right: 90px;
}
.title-blue-16{
    font-size: 16px;
}
.content-box{
    background: #fff;
    border: 1px solid #E6E6E6;
    font-size: 13px;
    margin-top: 20px;
}
.content-box thead th:first-child{
    text-align: left;
}
.content-box thead th:last-child{
    border: none;
}
.content-box thead.no-bg th{
    background: none;
    border: none;
}
.content-box table td{
    border-right-color: #d9d9d9;
    padding: 5px 20px;
    position: relative;
}
.content-box table td,
.content-box table td:first-child{
    color: black;
    font-weight: normal;
    min-width: auto
}
.content-box table td:last-child{
    border-right: none;
}
.content-box .col-2 {
    width: 16.666667%;
}
.content-box .col-10 {
    width: 83.333333%;
}
input[type="radio"]{
    position: absolute;
    left: 0;
    top: 0;
    min-width: 1em;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
label.chk{
    position: relative;
    display: inline-block;
    font-weight: 400;
    margin: 0;
    text-indent: 24px;
    min-width: calc(1em + 2px);
}
label.chk::after, label.chk::before{
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid transparent;
    z-index: 0;
    position: absolute;
    left: 0;
    top: calc(50% - 8px);
    background-color: transparent;
}
label.rad::after, label.rad::before{
    border-radius: 50%;
}
label.chk::before {
    background-color: #fff;
    border-color: #D8D8D8;
}
label.chk::after{
    -webkit-transform:scale(.4)!important;
    -ms-transform:scale(.4)!important;
    transform:scale(.4)!important;
}
input:checked~ label{
    color: #3A3A3A;
}
.content-box table td input[type="number"]{
    border: 1px solid #D9D9D9;
    margin: -5px 0;
    text-align: center;
    width: 92px;
}
.half-box{
    background: #fff;
    border: 1px solid #E6E6E6;
    float: left;
    margin-top: 20px;
    min-height: 240px;
    padding: 30px;
    width: 49%;
    height: auto !important;
}
.half-box.half-box-centered{
    float: none;
    margin: 20px auto 0;
    min-height: auto;
    padding: 0;
}
.half-box.half-box-centered .title-blue-16{
    display: block;
    padding: 16px;
    text-align: center;
}

div.content-box.no-bg{
    background: none;
    border: none;
}

.options{
    border-bottom: 1px solid #F7F7F7;
    padding: 15px 30px;
}
.options .title-blue-16{
    float: left;
}
.rad-container{
    float: left;
    margin-right: 30px;
    position: relative;
}

.analysis{
    color: #999;
}
.analysis .filters{
    padding: 0 10px;
}
.analysis .filters .filter-option{
    max-width: 23%;
}
.analysis .filters label{
    display: inline-block;
    line-height: 1;
    margin-bottom: 0;
    max-width: 61%;
}
.analysis .filters label span{
    font-size: 11px;
    line-height: 1;
}
.analysis .table-wrapper{
    background: #F7F7F7;
    border: 1px solid #EDEDED;
    margin: 40px auto;
    width: calc(75% - 60px);
}

.analysis .table-wrapper h2{
    color: #3A3A3A;
    font-size: 13px;
    line-height: 60px;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
}

.analysis table{
    background: #F7F7F7;
}
.analysis table.table-striped tbody tr:nth-of-type(odd){
    background: #EEE;
}
.analysis table th,
.analysis table th:first-child,
.analysis table td,
.analysis table td:first-child{
    border-right-color: #ccc;
    color: #3A3A3A;
    text-align: center;
}

.assumption-input-td {
    width: 85px !important;
    padding: 0 !important;  
}
.assumption-input {
    width: 100% !important;
    border: 0 !important;
    background: transparent !important;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}

td {
    height: 30px !important;
}

.text-bold {
    font-weight: bold !important;
    width: 230px !important;
}

.central {
    background-color: #d3e1ea !important;
}

.content-box table td input:checked~ label:after, input:checked~ label.chk::after {
    background-color: #089EF9!important;
}

.assumption-input-td {
    position: relative;
}

.assumption-input {
    padding-left: 15px;
}

.assumption-input-td .fa-pencil {
    position: absolute;
    top: 8px;
    left: 70px;
}
.no-select {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}


.table-wrapper {
    overflow-y: auto;
}