﻿<!-- ReSharper disable Html.TagNotResolved -->
<top-navbar-asd (isLoading)="loadingHandler($event)" [ExternalAlert]="ASDAlert"></top-navbar-asd>

<div class="filter-bar" *ngIf="!noData && !isLoading && topNav">
    <div class="filters float-left">
        <h2>{{'ASD.STANDARD_APROXIMATION' | translate}}</h2>
        <a data-toggle="modal" data-target="#whatsthis" title="What's this?" class="icon-info"><img
                src="/AngularSrc/assets/images/Group-4.png" width="18" height="18" /></a>
    </div>

    <div class="filters float-right">
        <div class="filter-option dropdown">
            <img src="/AngularSrc/assets/images/loader.gif" alt="Loading"
                style="width:30px;height:30px;margin-right:10px" *ngIf="downloading" />
            <a class="download icon-link icon-download" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">{{'SHARED.DOWNLOAD_RESULTS' | translate}}</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="add-data">
                <a class="dropdown-item"
                    (click)="exportTable('sensibilidad-todas')">{{'SHARED.ALL_RESULTS' | translate}}</a>
                <a class="dropdown-item"
                    (click)="exportTable('sensibilidad-superavit')">{{'SHARED.PRIMARY_SURPLUS' | translate}}</a>
                <a class="dropdown-item"
                    (click)="exportTable('sensibilidad-ajuste')">{{'SHARED.REQUIRED_AJUST' | translate}}</a>
            </div>
        </div>
    </div>

    <div class="filters float-right">
        <div class="filter-option">
            <a class="download icon-link"
                (click)="getInitialStandarAproximationData()">{{'SHARED.TO_ORIGINAL_DATA' | translate}}</a>
        </div>
    </div>
</div>

<div class="content-wrap">
    <div class="width1060" *ngIf="!error && !isLoading && topNav && assumptions">
        <div class="content-box no-bg">
            <div class="half-box half-box-centered">
                <span class="title-blue-16">{{'ASD.SUPOUSED_TITLE' | translate}}</span>
                <table class="table-striped col-12">
                    <colgroup>
                        <col class="col-10">
                        <col class="col-2">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>{{'ASD.SUPOUSED_AVAILABLE_INCOME' | translate}} (%)</td>
                            <td class="strong assumption-input-td">
                                <input type="text" class="assumption-input" [(ngModel)]="debtOverIncome"
                                    (blur)="getSensitivityAnalysis(false); updateInput($event)" />
                                <i class="fa fa-pencil"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>{{'ASD.SUPOUSED_INTEREST_RATE' | translate}} (%)</td>
                            <td class="strong assumption-input-td">
                                <input type="text" class="assumption-input" [(ngModel)]="realInterestRate"
                                    (blur)="getSensitivityAnalysis(false); updateInput($event)" />
                                <i class="fa fa-pencil"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>{{'ASD.SUPOUSED_GROW_RATE' | translate}} (%)</td>
                            <td class="strong assumption-input-td">
                                <input type="text" class="assumption-input" [(ngModel)]="growthRate"
                                    (blur)="getSensitivityAnalysis(false); updateInput($event)" />
                                <i class="fa fa-pencil"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="content-box analysis" *ngIf="sensitivity && !isLoading">
            <div class="row options">
                <span class="title-blue-16">{{'ASD.SENSITIVITY_TABLE_TITLE' | translate}}</span>
                <div class="rad-container">
                    <input type="radio" name="ajuste-superavit" [checked]="showAdjustmentMatrix"
                        (change)="changeTable()" />
                    <label class="chk rad">{{'ASD.REQUIRED_AJUST' | translate}} (%
                        {{'ASD.ING_DISP_ABR' | translate}})</label>
                </div>
                <div class="rad-container">
                    <input type="radio" name="ajuste-superavit" [checked]="showSurplusMatrix"
                        (change)="changeTable()" />
                    <label class="chk rad">{{'ASD.PRIMARY_RESULT' | translate}} (%
                        {{'ASD.ING_DISP_ABR' | translate}})</label>
                </div>
            </div>
            <div class="options row no-border">
                <div class="">
                    <label class="">{{'ASD.STANDARD_DESVIATIONS' | translate}}</label>
                </div>
            </div>
            <div class="filters row">
                <div class="filter-option">
                    <label *ngIf="showDeviation">{{'ASD.AMOUNT_OF_DESVIATIONS_NOMINAL_INTEREST' | translate}}:</label>
                    <label *ngIf="showBasePoints">{{'ASD.AMOUNT_OF_DESVIATIONS_BASE_POINTS' | translate}}:</label>
                    <div id="deviation" class="dropdown">
                        <select class="form-control" [(ngModel)]="rateDeviation">
                            <option *ngFor="let i of rateDeviationValues" value="{{i}}">{{i}}</option>
                        </select>
                    </div>
                </div>
                <div class="filter-option">
                    <label *ngIf="showDeviation">{{'ASD.STANDARD_DESVIATIONS' | translate}}
                        <span>({{'ASD.INCOMES' | translate}})</span>:</label>
                    <label *ngIf="showBasePoints">{{'ASD.BASE_POINTS' | translate}}
                        <span>({{'ASD.INCOMES' | translate}})</span>:</label>
                    <div id="income" style="display:inline-block">
                        <input type="number" class="form-control" style="width:40px"
                            (blur)="getSensitivityAnalysis(false)" [(ngModel)]="standardIncomeDeviation" />
                    </div>
                </div>
                <div class="filter-option">
                    <label *ngIf="showDeviation">{{'ASD.STANDARD_DESVIATIONS' | translate}}
                        <span>({{'ASD.GROW_RATE_INPUT' | translate}})</span>:</label>
                    <label *ngIf="showBasePoints">{{'ASD.BASE_POINTS' | translate}}
                        <span>({{'ASD.GROW_RATE_INPUT' | translate}})</span>:</label>
                    <div id="rates" style="display:inline-block">
                        <input type="number" class="form-control" style="width:40px"
                            (blur)="getSensitivityAnalysis(false)" [(ngModel)]="standardRateDeviation" />
                    </div>
                </div>
                <div class="filter-option">
                    <label *ngIf="showDeviation">{{'ASD.AMOUNT_DESVIATIONS_LONG_TERM' | translate}}:</label>
                    <label
                        *ngIf="showBasePoints">{{'ASD.AMOUNT_OF_DESVIATIONS_BASE_POINTS_LONG_TERM' | translate}}:</label>
                    <div id="term" class="dropdown">
                        <select class="form-control" [(ngModel)]="incomeDeviation">
                            <option *ngFor="let i of incomeDeviationValues" value="{{i}}">{{i}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="table-wrapper" *ngIf="sensitivity">
                <!-- Tabla Superávit Primario Requerido -->
                <table id="sensibilidad-superavit" class="table-striped col-12" [hidden]="showAdjustmentMatrix">
                    <thead class="no-bg">
                        <tr>
                            <th></th>
                            <th [attr.colspan]="growthValues.length" style="font-size: 13px">
                                {{'ASD.GROW_RATE_TABLE_MAIN_TITLE' | translate}} (%)</th>
                        </tr>
                        <tr>
                            <th style="font-size: 13px">{{'ASD.GROW_RATE_TABLE_COLUMN_TITLE' | translate}} (%)</th>
                            <th *ngFor="let cell of growthValues; let i = index">
                                <span *ngIf="isSimpleCellVisible(i, incomeDeviation)">
                                    {{(cell) ? (cell | number:'1.2-2') : ''}}
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of surplusMatrix; let i = index">
                            <td class="text-bold">
                                <span *ngIf="isSimpleCellVisible(i, rateDeviation)">
                                    {{(interestValues[i]) ? (interestValues[i] | number:'1.2-2') : ''}}
                                </span>
                            </td>
                            <td *ngFor="let column of row; let j = index"
                                [ngClass]="{'text-bold central': i === 3 || j === 3}">
                                <span *ngIf="isCellVisible(i, rateDeviation, j, incomeDeviation)">
                                    {{(column) ? (column | number:'1.2-2') : 0}}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- Tabla Ajuste Requerido -->
                <table id="sensibilidad-ajuste" class="table-striped col-12" [hidden]="showSurplusMatrix">
                    <thead class="no-bg">
                        <tr>
                            <th></th>
                            <th [attr.colspan]="growthValues.length" style="font-size: 13px">
                                {{'ASD.GROW_RATE_TABLE_MAIN_TITLE' | translate}} (%)</th>
                        </tr>
                        <tr>
                            <th style="font-size: 13px">{{'ASD.GROW_RATE_TABLE_COLUMN_TITLE' | translate}} (%)</th>
                            <th *ngFor="let cell of growthValues; let i = index">
                                <span *ngIf="isSimpleCellVisible(i, incomeDeviation)">
                                    {{(cell) ? (cell | number:'1.2-2') : ''}}
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of adjustmentMatrix; let i = index">
                            <td class="text-bold">
                                <span *ngIf="isSimpleCellVisible(i, rateDeviation)">
                                    {{(interestValues[i]) ? (interestValues[i] | number:'1.2-2') : ''}}
                                </span>
                            </td>
                            <td *ngFor="let column of row; let j = index"
                                [ngClass]="{'text-bold central': i === 3 || j === 3}">
                                <span *ngIf="isCellVisible(i, rateDeviation, j, incomeDeviation)">
                                    {{(column) ? (column | number:'1.2-2') : ''}}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="no-data" *ngIf="noData && !pythonReady">
        <div class="no-data-text">
            <p><strong>{{ 'ERRORS.NO_DATA' | translate}}</strong></p>
            <p>{{ 'ERRORS.START_TO_ENTRY_DATA_HERE' | translate}}!</p>
        </div>
        <div class="no-data-text" *ngIf="noResultMessage && noResultMessage.length > 0">
            <p><small>{{'ERRORS.FOLOWING_COLUMNS' | translate}}</small></p>
            <ul>
                <li *ngFor="let column of noResultMessage"><small>{{column}}</small></li>
            </ul>
        </div>

        <div class="no-data-image">
            <img src="/AngularSrc/assets/images/shape_arrow.png" alt="" />
        </div>
    </div>

    <div class="no-data" *ngIf="(!error && !noData ) && (isLoading || !topNav)">
        <img src="/AngularSrc/assets/images/loader.gif" alt="Loading" class="spinner" />
    </div>

    <div class="no-data" *ngIf="error && topNav">
        <p><strong>{{'ERRORS.GENERIC' | translate}}</strong></p>
    </div>

</div>

<div class="modal fade" id="whatsthis" tabindex="-1" role="dialog" aria-labelledby="whatsthis" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content whats-this">
            <div class="modal-header">
                <h5 class="modal-title">{{'ASD.STANDARD_APROXIMATION_HELP_MAIN_TITLE' | translate}}</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close"></a>
            </div>
            <div class="modal-body">
                <p><strong> {{'ASD.STANDARD_APROXIMATION_HELP_1ST_TITLE' | translate}} </strong></p>
                <p>
                    {{'TEXTS.ASD_STANDARD_APROX_HELP_1' | translate}}
                </p>
                <p><strong> {{'ASD.STANDARD_APROXIMATION_HELP_2ND_TITLE' | translate}} </strong></p>
                <p>
                    <span [innerHTML]="formule_help"></span>
                    <a href="/AngularSrc/assets/docs/IADB_SOFIS_Manual_de_Uso.pdf"
                        target="_blank">{{'SHARED.SOFIS_MANUAL' | translate}}</a>.
                </p>
            </div>
        </div>
    </div>
</div>