﻿<div class="modal fade" id="whatsthis" tabindex="-1" role="dialog" aria-labelledby="whatsthis" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content whats-this">
            <div class="modal-header">
                <h5 class="modal-title">{{'ASD.WHAT_THIS_QUESTION_1' | translate}}</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close"></a>
            </div>
            <div class="modal-body">
                <p>{{'TEXTS.MFMP_FIVE_YEARS_HELP_1' | translate}}</p>

                <p>{{'TEXTS.ASD_WHAT_THIS_PARRAGRAPH_1' | translate}}</p>

                <p><strong>{{'ASD.WHAT_THIS_QUESTION_2' | translate}}</strong></p>

                <p>{{'TEXTS.ASD_WHAT_THIS_PARRAGRAPH_1' | translate}}</p>
            </div>
        </div>
    </div>
</div>