﻿/*General*/
body {
    background: #f7f7f7;
    font-family: 'Roboto', sans-serif;
}

ul {
    margin-bottom: 0;
}

a, a:hover {
    text-decoration: none;
}

.form-control {
    color: #3A3A3A;
    border: 1px solid #CCC;
    border-radius: 3px;
    height: 51px;
    margin-bottom: 20px;
    float: right;
}

a.form-control::after {
    content: url("/AngularSrc/assets/images/dropdown-arrow.png");
    float: right;
    position: relative;
    top: 8px;
}

.dropdown-menu {
    border: 1px solid #E6E6E6;
    border-radius: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    margin: -1px 0 0;
    min-width: 100%;
}

.header-box .dropdown-menu a,
.header-box .dropdown-menu a:hover {
    color: #3A3A3A;
}

.dropdown-item:active {
    background: #E7EAEC;
    color: #3A3A3A;
}
/*------?????------*/


.button {
    border-radius: 5px;
    border: none;
    margin: 0 auto;
    text-align: center;
    color: #FFF !important;
    font-size: 16px;
    cursor: pointer;
    line-height: 32px;
}
    .button:hover {
        cursor: pointer;
        opacity: 0.4;
    }

.btn-blue {
    background-color: #089EF9;
    margin-top: 50px;
    padding: 7px 0;
    width: 240px;
}

/*Header Internal Pages*/
.header-box {
    background: #004E70;
    color: #fff;
    min-height: 163px;
    padding: 10px 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

    .header-box a,
    .header-box a:hover {
        color: #fff;
    }

    .header-box .profile-help {
        text-align: right;
        width: 100%;
    }

        .header-box .profile-help li {
            display: inline-block;
            margin-left: 25px;
        }

            .header-box .profile-help li a,
            .header-box .profile-help li a:hover {
                color: #fff;
                font-size: 13px;
                font-weight: normal;
            }
                .header-box .profile-help li a.lang::before,
                .header-box .profile-help li a.user::before,
                .header-box .profile-help li a.help::before {
                    line-height: 15px;
                    padding-right: 6px;
                    position: relative;
                    top: 3px;
                }

                .header-box .profile-help li a.lang::after {
                    content: url(/AngularSrc/assets/images/dropdown-arrow-lang.png);
                }
                .header-box .profile-help li a.user::before {
                    content: url(/AngularSrc/assets/images/user.png);
                }

                .header-box .profile-help li a.help::before {
                    content: url(/AngularSrc/assets/images/icon-help.png);
                }

    .header-box .logo {
        float: left;
        margin-top: 10px;
    }

        .header-box .logo figure {
            display: inline-block;
            line-height: 60px;
            margin-bottom: 0;
        }

.header-tabs {
    float: left;
    margin-left: 450px;
    text-align: center;
}
.lang-container .dropdown-menu{
    max-width: 160px !important;
    color: #3A3A3A !important;
}
.dropdown-item{
    font-weight: 400 !important;
    color: #212529 !important;
}

.nav.nav-tabs {
    border-bottom: none;
    height: 45px;
}

    .nav.nav-tabs li {
        border: 1px solid #089EF9;
        height: 45px;
        text-align: center;
        width: 140px;
    }

        .nav.nav-tabs li:first-child {
            border-radius: 5px 0 0 5px;
        }

        .nav.nav-tabs li:last-child {
            border-radius: 0 5px 5px 0;
        }

        .nav.nav-tabs li a {
            color: #089EF9;
            display: block;
            font-size: 20px;
            line-height: 45px;
            text-transform: uppercase;
        }

.header-box .add-data {
    margin-top: 45px;
    float: right;
    padding: 5px;
    background-color: #123f52;
    border-radius: 5px;
}

    .header-box .add-data:hover {
        cursor: pointer;
    }
    .header-box .select-lang:hover {
        cursor: pointer;
    }

    .header-box .add-data .form-control {
        background: #089EF9;
        border: 0px;
        border-radius: 5px;
        color: #fff;
        font-size: 14px;
        text-align: center;
        height: 30px;
        line-height: 28px;
        margin-bottom: 0;
        padding: 0 0 0 0px;
        width: 185px;
    }

        .header-box .add-data .form-control::after {
            content: url(/AngularSrc/assets/images/dropdown-arrow-white.png);
            float: right;
            position: relative;
            top: 0;
            right: 10px;
            border-left: 1px solid #fff;
            padding-left: 10px;
        }
        .header-box nav {
            margin: 20px 0 0 140px;
            width: calc(100% - 140px);
            clear: left;
            float: left;
        }

        .header-box nav ul li {
            display: inline;
            font-size: 13px;
            line-height: 19px;
        }
    
            .header-box nav ul li a {
                padding: 2px 16px;
                margin-right: 8px;
            }
    
            .header-box nav ul li.active a {
                background-color: #089EF9;
                border-radius: 20px;
            }
    .crop-container{
        display: flex;
        width: 100%;
        height: 100%;
        -ms-flex-pack: start;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        padding: 60px 20px 20px;
    }
    
    .crop-container .image-cropper{
        max-width: 240px;
        max-height: 240px;
    }
    
    /deep/ .cat-modal {
                max-width: 700px !important;
                height: 790px;
            }
    
    /deep/ .cat-op-modal{
                max-width: 700px !important;
                height: 440px !important;
            }

/*Profile*/

.general-container {
    height: 100%;
    margin: 0;
    min-height: 100%;
    overflow: hidden;
    /*position: absolute;*/
    width: 100%;
}
