﻿<!--START HEADER CONTAINER-->
<header class="header-box">
    <ul class="profile-help">
        <li>
            <div *ngIf='topNavLogic.langReady && topNavLogic.language?.encodedName; else loader' class="dropdown select-lang">

                <a class="lang select-lang" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <img src="/AngularSrc/assets/images/es.png" width="20" height="15"
                        *ngIf="topNavLogic.language?.encodedName==='es'" />
                    <img src="/AngularSrc/assets/images/en.png" width="20" height="15"
                        *ngIf="topNavLogic.language?.encodedName==='en'" />
                    <img src="/AngularSrc/assets/images/pt.png" width="20" height="15"
                        *ngIf="topNavLogic.language?.encodedName==='pt'" />
                    <img src="/AngularSrc/assets/images/fr.png" width="20" height="15"
                        *ngIf="topNavLogic.language?.encodedName==='fr'" />
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="select-lang">
                    <a [hidden]="topNavLogic.language?.encodedName==='es'" class="dropdown-item" (click)="topNavLogic.langHandler('es')">
                        <img src="/AngularSrc/assets/images/es.png" width="20" height="15" />
                        {{'LANG.ES' | translate}}
                    </a>
                    <a [hidden]="topNavLogic.language?.encodedName==='en'" class="dropdown-item" (click)="topNavLogic.langHandler('en')">
                        <img src="/AngularSrc/assets/images/en.png" width="20" height="15" />
                        {{'LANG.EN' | translate}}
                    </a>
                    <a [hidden]="topNavLogic.language?.encodedName==='pt'" class="dropdown-item" (click)="topNavLogic.langHandler('pt')">
                        <img src="/AngularSrc/assets/images/pt.png" width="20" height="15" />
                        {{'LANG.PT' | translate}}
                    </a>
                    <a [hidden]="topNavLogic.language?.encodedName==='fr'" class="dropdown-item" (click)="topNavLogic.langHandler('fr')">
                        <img src="/AngularSrc/assets/images/fr.png" width="20" height="15" />
                        {{'LANG.FR' | translate}}
                    </a>
                </div>
            </div>

            <ng-template #loader>
                <img src="/AngularSrc/assets/images/loader_light.gif" alt="Loading"
                    style="width: 20px;position: relative;" />
            </ng-template>

        </li>
        <li><a class="user" routerLink="/perfil">{{topNavLogic.username}}</a></li>
        <li><a class="help" routerLink="/ayuda">{{'SHARED.HELP' | translate}}</a></li>
    </ul>
    <div class="logo">
        <figure>
            <img src="/AngularSrc/assets/images/logo-blanco-chico.png" width="87" height="32"
                *ngIf="topNavLogic.language?.encodedName !='en'" />
            <img src="/AngularSrc/assets/images/logo-ingles.png" width="87" height="32"
                *ngIf="topNavLogic.language?.encodedName ==='en'" />
        </figure>
    </div>
    <div class="header-tabs">
        <span class="acronym-of">{{'ASD.TITLE' | translate}}</span>
        <ul class="nav nav-tabs">
            <li><a routerLink="/aproximacion-inercial">{{'MFMP.TITLE_INITIALS' | translate}}</a></li>
            <li class="active" routerLink="/aproximacion-estandar"><a>{{'ASD.TITLE_INITIALS' | translate}}</a></li>
        </ul>
    </div>
    <div class="dropdown add-data">
        <app-catalogue-selector (openModal)="$event && topNavLogic.modal.getModal('catalogueModal').open()"
            [catalogueInput]="topNavLogic.actualCatalogueSelected"></app-catalogue-selector>
        <a class="form-control" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{'SHARED.DATA_ENTRY' | translate}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="add-data">
            <a class="dropdown-item" routerLink="/macroeconomicas">{{'SHARED.DATA_ENTRY_MACROS' | translate}}</a>
            <a class="dropdown-item" routerLink="/ingresos">{{'SHARED.DATA_ENTRY_INCOMES' | translate}}</a>
            <a class="dropdown-item" routerLink="/gastos">{{'SHARED.DATA_ENTRY_EXPENSES' | translate}}</a>
            <a class="dropdown-item" routerLink="/deudas">{{'SHARED.DATA_ENTRY_DEBT' | translate}}</a>
        </div>
    </div>

    <nav>
        <ul>
            <li id="standard">
                <a routerLink="/aproximacion-estandar"
                    title="Aproximación Estándar">{{'ASD.STANDARD_APROXIMATION' | translate}}</a>
            </li>
            <li id="dynamicsOfDebt">
                <a routerLink="/dinamica-deuda" title="Dinámica de la Deuda">{{'ASD.DYNAMIC_OF_DEBT' | translate}}</a>
            </li>
            <li id="fanChart">
                <a routerLink="/fan-chart" title="Análisis Fan Chart">{{'ASD.PROB_ANALYSIS' | translate}}</a>
            </li>
        </ul>
    </nav>
</header>

<!-- Modal Select Catalog-->
<ngx-smart-modal #catalogueModal backdrop='false' [customClass]="'cat-modal'" identifier="catalogueModal">
    <app-catalogue-list (actualSelectedEmmiter)="actualCatalogueSelected=$event;topNavLogic.changeCatalogue($event)"
        (modalAction)="topNavLogic.openAction($event)" [catalogueList]="topNavLogic.catalogueList" [loadCurrent]="topNavLogic.actualCatalogueSelected">
    </app-catalogue-list>
</ngx-smart-modal>

<!-- Modal data operations-->
<ngx-smart-modal #dataOperationsModal [customClass]="'cat-op-modal'" (onClose)="topNavLogic.croppedImage=null; topNavLogic.cropping=false"
    (onOpen)="topNavLogic.modal.getModal('catalogueModal').close()" identifier="dataOperationsModal">
    <div *ngIf="topNavLogic.cropping" class="crop-container">
        <image-cropper class="image-cropper" [imageChangedEvent]="topNavLogic.imageChangedEvent" [aspectRatio]="2 / 1"
            [resizeToWidth]="240" format="png" (imageCropped)="topNavLogic.imageCropped($event)" (imageLoaded)="topNavLogic.imageLoaded()"
            (loadImageFailed)="topNavLogic.loadImageFailed()" (imageCroppedBase64)="topNavLogic.croppedImage=$event"></image-cropper>
        <button class="button btn-blue" (click)="cropping=false"
            [disabled]="!topNavLogic.croppedImage">{{'SHARED.SAVE_BUTTON' | translate}}</button>
    </div>
    <div [hidden]="topNavLogic.cropping">
        <app-new-catalogue-data (fileImg)="topNavLogic.imageChangedEvent=$event" (displaycrop)="topNavLogic.handlerCrop($event)"
            (success)="topNavLogic.alertsHandler($event)" (selectNew)="topNavLogic.changeCatalogue($event)" [croppedimg]="topNavLogic.croppedImage"
            [action]='topNavLogic.catalogueAction'></app-new-catalogue-data>
    </div>
</ngx-smart-modal>

<!-- Alerta de creacion de catalogo -->
<app-alerts *ngIf="topNavLogic.showAlert && topNavLogic.showAlert?.show===true" (closeEvent)="topNavLogic.showAlertHandler($event)" [type]="topNavLogic.showAlert.type"
    [detail]="topNavLogic.showAlert.msg">
</app-alerts>

<!-- Alerta warning de datos -->
<app-alerts *ngIf="ExternalAlert && ExternalAlert?.show===true" (closeEvent)="topNavLogic.showAlertHandler($event, true)"
    [type]="ExternalAlert.type" [detail]="ExternalAlert.msg">
</app-alerts>

<!-- Alerta cambios en años históricos -->
<app-alerts *ngIf="ExternalAlert && ExternalAlert?.show===true" (closeEvent)="topNavLogic.showAlertHandler($event, true)"
    [type]="ExternalAlert.type" [detail]="ExternalAlert.msg">
</app-alerts>