body {
    background: #f7f7f7;
    font-family: 'Roboto', sans-serif;
}

input[type="text"]::-ms-clear {
    display: none;
}

.notifier__container * {
    box-sizing: border-box;
    width: 100% !important;
    height: 50px !important;
}