﻿<div class="modal-body">
    {{'SHARED.SUBCATEGORY_SELECT' | translate}}
    <select class="form-control" [(ngModel)]="category" (ngModelChange)="onCategoryChange($event)">
        <option *ngFor="let c of categories" [ngValue]="c.id">{{cat.name}}</option>
    </select>
    {{'SHARED.SUBCATEGORY_ACCOUNT_NUMBER' | translate}}
    <input [(ngModel)]="accountsNumber" class="form-control" type="number" min="0" max="5"/>
    Unidades de las Cifras
    <select class="form-control" [(ngModel)]="unit" (ngModelChange)="onUnitChange($event)">
        <option *ngFor="let u of units" [ngValue]="u.id">{{u.name}}</option>
    </select>
    {{'SHARED.SOURCE_INFORMATION' | translate}}
    <input [(ngModel)]="info" class="form-control"/>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>