.alert-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  position: fixed;
  width: 100%;
  height: 50px;
  left: 0;
  top: 0;
  z-index: 9999;
  font-family: Roboto;
  font-size: 15px;
  line-height: 1.27;
  color: #ffffff;
}
.alert-container .icon {
  width: 63px;
  height: 50px;
  background-color: rgba(82, 166, 37, 1);
  display: inherit;
  justify-content: center;
  align-items: center;
}

.alert-container .icon-error {
  background-color: rgb(210, 0, 0);
}

.alert-container .success-alert {
  background-color: rgba(92, 187, 41, 1);
  font-weight: 100;
  border: none;
  width: 100%;
  height: 50px;
  display: inherit;
  align-items: center;
}
.success-alert strong,
.error-alert strong,
.warning-alert strong {
  margin-left: 10px;
}

.alert-container .error-alert {
  background-color: rgb(220, 0, 0);
  font-weight: 100;
  border: none;
  width: 100%;
  height: 50px;
  display: inherit;
  align-items: center;
}

.alert-container .warning-alert {
  background-color: rgb(230, 230, 0);
  font-weight: 400;
  border: none;
  width: 100%;
  height: 50px;
  display: inherit;
  align-items: center;
}

.alert-container .icon-warning {
  background-color: rgb(230, 230, 0);
}

.alert-container .icon-warning img {
  width: 30px;
  height: 30px;
}

.alert-container .icon-error img {
  width: 30px;
  height: 30px;
}
