<div class="alert-container">
  <div
    [ngClass]="{'success-alert': type==='success', 'error-alert': type==='error', 'warning-alert': type==='warning'}">
    <div [ngClass]="{'icon-error': type==='error', 'icon-warning': type==='warning'}" class="icon">
      <div *ngIf="type==='success';then error; else warning">
        <img src="/AngularSrc/assets/images/Shape.png" alt="">
      </div>
      <ng-template #error>
        <img src="/AngularSrc/assets/images/Group.png" alt="">
      </ng-template>
      <ng-template #warning>
        <img src="/AngularSrc/assets/images/danger.svg" alt="">
      </ng-template>
    </div>
    <strong style="color:white !important">{{detail}}</strong>
  </div>
</div>